{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block nav-global %}{% include "includes/app_list.html" %}{% endblock nav-global %}

{% block content %}
    {% if form %}
    <form action="{% url "admin_email_test" %}" method="post">
        {% csrf_token %}
        <p>{% trans "Use this form to send a test email to the supplied recipient and test the email backend configuration." %}</p>

        {{ form.non_field_errors }}
        <p class="fieldWrapper">
            {{ form.recipient.errors }}
            <label for="{{ form.recipient.id_for_label }}">{{ form.recipient.label }}:</label>
            {{ form.recipient }}
            <input type="submit" value="{% trans 'Send test email' %}">
        </p>
    </form>
    {% endif %}

    {%  if result %}
    <h2>{% trans "Result" %}</h2>
        <table class="result-table" style="min-width: 400px;">

            <tr><td width="100" >{% trans "Success" %}</td><td width="*" style="font-weight: bold; color: {{ result.success|yesno:"green,red" }};">{{ result.success|yesno }}</td></tr>
            <tr><td>{% trans "Recipient" %}</td><td>{{ result.recipients_str }}</td></tr>
            <tr><td>EMAIL_BACKEND</td><td>{{ result.backend }}</td></tr>

            {% if result.feedback %}
                {% for item in result.feedback %}
                    {% if item.label or item.value %}
                        <tr><td>{{ item.label }}</td><td>{{ item.value }}</td></tr>
                    {% else %}
                        <tr><td colspan="2">{{ item }}</td></tr>
                    {%  endif %}
                {% endfor %}
            {% endif %}
            {% if result.exception %}
                <tr><td colspan="2"><code>{{ result.exception }}</code></td></tr>
            {% endif %}
        </table>
    {% endif %}
{% endblock %}
