// FIXME: refactor to use SDK list component instead?
@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/typography';

.list {
  .caption + & {
    @include margin(true, $properties: margin-top);
  }

  display: var(--of-list-display, block);
  flex-direction: var(--of-list-flex-direction, row);
  gap: var(--of-list-gap, $typography-margin-text);
  list-style: none;
  margin: 0;
  padding: 0;

  @include bem.modifier('compact') {
    @include bem.element('item') {
      margin: var(--of-list-item-compact-margin, 0);
    }
  }

  @include bem.element('item') {
    @include body;
    @include body--big;
    color: var(--of-list-item-color, $typography-color-text);
  }

  &:not(#{&}--compact) &__item {
    @include margin;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
