{% load static i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/2fa.css' %}">
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bundles/admin_overrides.css' %}">
        <link rel="icon" type="image/png" href="{% static 'ico/favicon.png' %}">
    </head>
    <body class="login">
        {% block content_wrapper %}
            <div id="container">
                <div id="header">
                    <div id="branding">
                        <h1 id="site-name">
                            <a href="{% url 'admin:index' %}">{{ settings.PROJECT_NAME }} {% trans 'Administration' %}</a>
                        </h1>
                    </div>
                </div>
                <div id="content">
                    <div id="content-main">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>
