interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://service.pdok.nl/bzk/bro-grondwaterspiegeldiepte/wms/v2_0?request=GetCapabilities&service=WMS
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<WMS_Capabilities xmlns=\"http://www.opengis.net/wms\"
        xmlns:sld=\"http://www.opengis.net/sld\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:inspire_common=\"http://inspire.ec.europa.eu/schemas/common/1.0\"
        xmlns:inspire_vs=\"http://inspire.ec.europa.eu/schemas/inspire_vs/1.0\" version=\"1.3.0\"
        xsi:schemaLocation=\"http://www.opengis.net/wms http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd
        http://www.opengis.net/sld http://schemas.opengis.net/sld/1.1.0/sld_capabilities.xsd
        http://inspire.ec.europa.eu/schemas/inspire_vs/1.0 http://inspire.ec.europa.eu/schemas/inspire_vs/1.0/inspire_vs.xsd\">\n\t<Service>\n\t\t<Name>WMS</Name>\n\t\t<Title>BRO
        Model Grondwaterspiegeldiepte (WDM) WMS</Title>\n\t\t<Abstract>Het grondwaterspiegeldieptemodel
        maakt deel uit van de Basisregistratieondergrond (BRO). Het bestaat uit een
        aantal grondwaterkarakteristieken die samen de langjarig gemiddelde fluctuatiedieptes
        van de grondwaterspiegel weergegeven. Deze statistieken zijn de gemiddelde
        kleinste grondwaterspiegeldiepte (GHG), de gemiddelde grootste grondwaterspiegeldiepte
        (GLG), en de daarvan afgeleide grondwatertrap (Gt). De grondwatertrap maakte
        tot voor kort deel uit van een ander registratieobject, te weten de Bodemkaart
        van Nederland schaal 1:50000. Voor onder meer ecologische toepassingen is
        ook de gemiddelde voorjaarsgrondwaterspiegeldiepte (GVG) aan het grondwaterspiegeldieptemodel
        toegevoegd.</Abstract>\n\t\t<KeywordList>\n\t\t\t<Keyword>Geologie</Keyword>\n\t\t\t<Keyword>Bodem</Keyword>\n\t\t\t<Keyword>Geomorfologie</Keyword>\n\t\t\t<Keyword>Geohydrologie</Keyword>\n\t\t\t<Keyword>infoMapAccessService</Keyword>\n\t\t</KeywordList>\n\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://www.pdok.nl\"/>\n\t\t<ContactInformation>\n\t\t\t<ContactPersonPrimary>\n\t\t\t\t<ContactPerson>KlantContactCenter
        PDOK</ContactPerson>\n\t\t\t\t<ContactOrganization>PDOK</ContactOrganization>\n\t\t\t</ContactPersonPrimary>\n\t\t\t<ContactPosition>pointOfContact</ContactPosition>\n\t\t\t<ContactAddress>\n\t\t\t\t<AddressType>Work</AddressType>\n\t\t\t\t<Address/>\n\t\t\t\t<City>Apeldoorn</City>\n\t\t\t\t<StateOrProvince/>\n\t\t\t\t<PostCode/>\n\t\t\t\t<Country>Netherlands</Country>\n\t\t\t</ContactAddress>\n\t\t\t<ContactVoiceTelephone/>\n\t\t\t<ContactFacsimileTelephone/>\n\t\t\t<ContactElectronicMailAddress>BeheerPDOK@kadaster.nl</ContactElectronicMailAddress>\n\t\t</ContactInformation>\n\t\t<Fees>NONE</Fees>\n\t\t<AccessConstraints>https://creativecommons.org/publicdomain/zero/1.0/deed.nl</AccessConstraints>\n\t\t<MaxWidth>4000</MaxWidth>\n\t\t<MaxHeight>4000</MaxHeight>\n\t</Service>\n\t<Capability>\n\t\t<Request>\n\t\t\t<GetCapabilities>\n\t\t\t\t<Format>text/xml</Format>\n\t\t\t\t<DCPType>\n\t\t\t\t\t<HTTP>\n\t\t\t\t\t\t<Get>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/bzk/bro-grondwaterspiegeldiepte/wms/v2_0?\"/>\n\t\t\t\t\t\t</Get>\n\t\t\t\t\t</HTTP>\n\t\t\t\t</DCPType>\n\t\t\t</GetCapabilities>\n\t\t\t<GetMap>\n\t\t\t\t<Format>image/png</Format>\n\t\t\t\t<Format>image/jpeg</Format>\n\t\t\t\t<Format>image/png;
        mode=8bit</Format>\n\t\t\t\t<Format>image/vnd.jpeg-png</Format>\n\t\t\t\t<Format>image/vnd.jpeg-png8</Format>\n\t\t\t\t<DCPType>\n\t\t\t\t\t<HTTP>\n\t\t\t\t\t\t<Get>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/bzk/bro-grondwaterspiegeldiepte/wms/v2_0?\"/>\n\t\t\t\t\t\t</Get>\n\t\t\t\t\t\t<Post>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/bzk/bro-grondwaterspiegeldiepte/wms/v2_0\"/>\n\t\t\t\t\t\t</Post>\n\t\t\t\t\t</HTTP>\n\t\t\t\t</DCPType>\n\t\t\t</GetMap>\n\t\t\t<GetFeatureInfo>\n\t\t\t\t<Format>application/json</Format>\n\t\t\t\t<Format>application/json;
        subtype=geojson</Format>\n\t\t\t\t<Format>application/vnd.ogc.gml</Format>\n\t\t\t\t<Format>text/html</Format>\n\t\t\t\t<Format>text/plain</Format>\n\t\t\t\t<Format>text/xml</Format>\n\t\t\t\t<Format>text/xml;
        subtype=gml/3.1.1</Format>\n\t\t\t\t<DCPType>\n\t\t\t\t\t<HTTP>\n\t\t\t\t\t\t<Get>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/bzk/bro-grondwaterspiegeldiepte/wms/v2_0?\"/>\n\t\t\t\t\t\t</Get>\n\t\t\t\t\t\t<Post>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/bzk/bro-grondwaterspiegeldiepte/wms/v2_0\"/>\n\t\t\t\t\t\t</Post>\n\t\t\t\t\t</HTTP>\n\t\t\t\t</DCPType>\n\t\t\t</GetFeatureInfo>\n\t\t</Request>\n\t\t<Exception>\n\t\t\t<Format>XML</Format>\n\t\t\t<Format>INIMAGE</Format>\n\t\t\t<Format>BLANK</Format>\n\t\t</Exception>\n\t\t<inspire_vs:ExtendedCapabilities>\n\t\t\t<inspire_common:MetadataUrl>\n\t\t\t\t<inspire_common:URL>https://www.nationaalgeoregister.nl/geonetwork/srv/dut/csw?service=CSW&amp;version=2.0.2&amp;request=GetRecordById&amp;outputschema=http://www.isotc211.org/2005/gmd&amp;elementsetname=full&amp;id=757a7c50-540d-4105-9135-73f09f700743</inspire_common:URL>\n\t\t\t\t<inspire_common:MediaType>application/vnd.ogc.csw.GetRecordByIdResponse_xml</inspire_common:MediaType>\n\t\t\t</inspire_common:MetadataUrl>\n\t\t\t<inspire_common:SupportedLanguages>\n\t\t\t\t<inspire_common:DefaultLanguage>\n\t\t\t\t\t<inspire_common:Language>dut</inspire_common:Language>\n\t\t\t\t</inspire_common:DefaultLanguage>\n\t\t\t\t<inspire_common:SupportedLanguage>\n\t\t\t\t\t<inspire_common:Language>dut</inspire_common:Language>\n\t\t\t\t</inspire_common:SupportedLanguage>\n\t\t\t</inspire_common:SupportedLanguages>\n\t\t\t<inspire_common:ResponseLanguage>\n\t\t\t\t<inspire_common:Language>dut</inspire_common:Language>\n\t\t\t</inspire_common:ResponseLanguage>\n\t\t</inspire_vs:ExtendedCapabilities>\n\t\t<Layer
        queryable=\"1\">\n\t\t\t<Title>BRO Model Grondwaterspiegeldiepte (WDM) WMS</Title>\n\t\t\t<Abstract>Het
        grondwaterspiegeldieptemodel maakt deel uit van de Basisregistratieondergrond
        (BRO). Het bestaat uit een aantal grondwaterkarakteristieken die samen de
        langjarig gemiddelde fluctuatiedieptes van de grondwaterspiegel weergegeven.
        Deze statistieken zijn de gemiddelde kleinste grondwaterspiegeldiepte (GHG),
        de gemiddelde grootste grondwaterspiegeldiepte (GLG), en de daarvan afgeleide
        grondwatertrap (Gt). De grondwatertrap maakte tot voor kort deel uit van een
        ander registratieobject, te weten de Bodemkaart van Nederland schaal 1:50000.
        Voor onder meer ecologische toepassingen is ook de gemiddelde voorjaarsgrondwaterspiegeldiepte
        (GVG) aan het grondwaterspiegeldieptemodel toegevoegd.</Abstract>\n\t\t\t<KeywordList>\n\t\t\t\t<Keyword>Geologie</Keyword>\n\t\t\t\t<Keyword>Bodem</Keyword>\n\t\t\t\t<Keyword>Geomorfologie</Keyword>\n\t\t\t\t<Keyword>Geohydrologie</Keyword>\n\t\t\t</KeywordList>\n\t\t\t<CRS>EPSG:28992</CRS>\n\t\t\t<CRS>EPSG:25831</CRS>\n\t\t\t<CRS>EPSG:25832</CRS>\n\t\t\t<CRS>EPSG:3034</CRS>\n\t\t\t<CRS>EPSG:3035</CRS>\n\t\t\t<CRS>EPSG:3857</CRS>\n\t\t\t<CRS>EPSG:4258</CRS>\n\t\t\t<CRS>EPSG:4326</CRS>\n\t\t\t<CRS>CRS:84</CRS>\n\t\t\t<EX_GeographicBoundingBox>\n\t\t\t\t<westBoundLongitude>2.52713</westBoundLongitude>\n\t\t\t\t<eastBoundLongitude>7.37403</eastBoundLongitude>\n\t\t\t\t<southBoundLatitude>50.2129</southBoundLatitude>\n\t\t\t\t<northBoundLatitude>55.7212</northBoundLatitude>\n\t\t\t</EX_GeographicBoundingBox>\n\t\t\t<BoundingBox
        CRS=\"EPSG:28992\" minx=\"-59188.44333693248\" miny=\"304984.64144318487\"
        maxx=\"308126.88473339565\" maxy=\"858328.516489961\"/>\n\t\t\t<BoundingBox
        CRS=\"EPSG:25831\" minx=\"-470271\" miny=\"5.56231e+06\" maxx=\"795163\" maxy=\"6.18197e+06\"/>\n\t\t\t<BoundingBox
        CRS=\"EPSG:25832\" minx=\"62461.6\" miny=\"5.56555e+06\" maxx=\"397827\" maxy=\"6.19042e+06\"/>\n\t\t\t<BoundingBox
        CRS=\"EPSG:3034\" minx=\"2.61336e+06\" miny=\"3.509e+06\" maxx=\"3.22007e+06\"
        maxy=\"3.84003e+06\"/>\n\t\t\t<BoundingBox CRS=\"EPSG:3035\" minx=\"3.01676e+06\"
        miny=\"3.81264e+06\" maxx=\"3.64485e+06\" maxy=\"4.15586e+06\"/>\n\t\t\t<BoundingBox
        CRS=\"EPSG:3857\" minx=\"281318\" miny=\"6.48322e+06\" maxx=\"820873\" maxy=\"7.50311e+06\"/>\n\t\t\t<BoundingBox
        CRS=\"EPSG:4258\" minx=\"50.2129\" miny=\"2.52713\" maxx=\"55.7212\" maxy=\"7.37403\"/>\n\t\t\t<BoundingBox
        CRS=\"EPSG:4326\" minx=\"50.2129\" miny=\"2.52713\" maxx=\"55.7212\" maxy=\"7.37403\"/>\n\t\t\t<BoundingBox
        CRS=\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.xml
  response:
    body:
      string: "<?xml version='1.0' encoding=\"UTF-8\" standalone=\"no\" ?>\n<!-- The
        DTD (Document Type Definition) given here must correspond to the version number
        declared in the WMT_MS_Capabilities element below. -->\n<!DOCTYPE WMT_MS_Capabilities
        SYSTEM\n \"http://www.digitalearth.gov/wmt/xml/capabilities_1_1_1.dtd\"\n
    [...]
