{% comment %}
  Expects the ``analytics_tools_config`` and ``request`` context variables to exist.
{% endcomment %}
<!-- Google Tag Manager -->
<script id="google-tag-manager" nonce="{{ request.csp_nonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ analytics_tools_config.gtm_code|escapejs }}');</script>
<!-- End Google Tag Manager -->
