{% load solo_tags %}
{% get_solo 'analytics_tools.AnalyticsToolsConfiguration' as analytics_tools_config %}

{% comment %}
    Google Tag Manager / Analytics code.
{% endcomment %}

{% if analytics_tools_config.is_google_analytics_enabled and analytics_tools_config.gtm_code %}
<!-- Google Tag Manager -->
<script id="google-tag-manager" nonce="{{ request.csp_nonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ analytics_tools_config.gtm_code|escapejs }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

{% if analytics_tools_config.is_google_analytics_enabled and analytics_tools_config.ga_code %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script id="google-analytics" async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_tools_config.ga_code|escapejs }}"></script>
<script nonce="{{ request.csp_nonce }}">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ analytics_tools_config.ga_code|escapejs }}', {send_page_view: false});
</script>
{% endif %}
