{% load solo_tags %}
{% get_solo 'analytics_tools.AnalyticsToolsConfiguration' as analytics_tools_config %}

{% comment %}
    Documentation: https://support.siteimprove.com/hc/en-gb/articles/206343703-Adding-Siteimprove-Analytics-JavaScript-to-your-website
{% endcomment %}

{% if analytics_tools_config.is_siteimprove_enabled %}
<script id="siteimprove-analytics" type="text/javascript" nonce="{{ request.csp_nonce }}">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_{{ analytics_tools_config.siteimprove_id|escapejs }}.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>
{% endif %}
