{% load i18n %}
{% if submitted_data %}
    <p><b>{% trans "Summary" %}</b></p>
<table>
    <tr>
        <th style="padding: 1px; text-align: left; padding-right: 10px;">{% trans "Field" %}</th>
        <th style="padding: 1px; text-align: left;">{% trans "Response" %}</th>
    </tr>
    {% for key, value in submitted_data.items %}
        <tr>
            <td style="padding: 2px; padding-right: 10px;">{{ key }}:</td>
            <td style="padding: 2px;">{% display_value value %}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}
