{%  load i18n %}
{% if payment_required %}
    {% if payment_user_has_paid %}
        <p>
            {% blocktrans trimmed %}
                Payment of &euro;{{ payment_price }} received.
            {% endblocktrans %}
        </p>
    {% else %}
        <p>
            {% blocktrans trimmed %}
                Payment of &euro;{{ payment_price }} is required.
            {% endblocktrans %}
            <a href="{{ payment_url }}">{% trans "Open payment page" %}</a>
        </p>
    {% endif %}
{% endif %}
