{% extends "admin/base_site.html" %}
{% load i18n timeline static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
{% endblock %}


{% block content %}
<ul class="timeline__list col__22--vw">
    {% for log in object_list %}
        <li class="timeline__entry" style="font-family: monospace;">
            {% render_message log in_view=True %} [<a href="{% url 'admin:logging_timelinelogproxy_change' log.id %}">details</a>]
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
    <div id="changelist">
        <p class="paginator">
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="this-page">{{ i }}</span>
                {% else %}
                    <a href="?page={{ i }}" class="end">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {{ paginator.count }} {% if paginator.count == 1 %}{% trans "timeline log entry" %}{% else %}{% trans "timeline log entries" %}{% endif %}
        </p>
    </div>
{% endif %}
{% endblock %}
