interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      X-Api-Key:
      - fake
    method: GET
    uri: https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v2/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden
  response:
    body:
      string: '{"_links":{"self":{"href":"/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden"}},"_embedded":{"zakelijkGerechtigden":[{"identificatie":"20170719","type":"eigenaar","aanvangsdatum":"2018-10-11","tenaamstelling":{"aandeel":{"noemer":1,"teller":1},"isGebaseerdOpStukdeelIdentificaties":["1006938879"],"isVermeldInStukdeelIdentificaties":["1006971479"],"stukIdentificaties":["20160425002157","20161130002071"]},"persoon":{"identificatie":"71291440","omschrijving":"Bankbedrijf","type":"kadaster_niet_natuurlijk_persoon"},"_links":{"self":{"href":"/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden/20170719"},"persoon":{"href":"/kadasternietnatuurlijkpersonen/71291440"},"stukken":[{"href":"/stukken/{tenaamstelling.stukIdentificaties}","templated":true}],"stukdelen":[{"href":"/stukdelen/{tenaamstelling.isGebaseerdOpStukdeelIdentificaties}","templated":true},{"href":"/stukdelen/{tenaamstelling.isVermeldInStukdeelIdentificaties}","templated":true}]}},{"identificatie":"20170717","type":"erfpachter","aanvangsdatum":"2018-10-11","erfpachtCanon":{"soortErfpachtCanon":{"code":"2","waarde":"Afgekocht
        tot en met"},"jaarlijksBedrag":{"som":100.0,"valuta":{"code":"EUR","waarde":"Euro"}},"betrefMeerOnroerendeZaken":true,"einddatumAfkoop":"2028-09-30","indicatieOudeOnroerendeZaakBetrokken":true,"isGebaseerdOpStukdeelIdentificatie":"1006942716","isVermeldInStukdeelIdentificaties":["32790052","32790053"],"stukIdentificaties":["20160523001278","20200617001837"]},"tenaamstelling":{"aandeel":{"noemer":2,"teller":1},"burgerlijkeStaatTenTijdeVanVerkrijging":{"code":"2","waarde":"Ongehuwd
        en geen geregistreerd partnerschap"},"isGebaseerdOpStukdeelIdentificaties":["1006942716"],"stukIdentificaties":["20160523001278"]},"persoon":{"identificatie":"71303564","omschrijving":"Christiaan
        de Goede","type":"kadaster_natuurlijk_persoon"},"_links":{"self":{"href":"/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden/20170717"},"persoon":{"href":"/kadasternatuurlijkpersonen/71303564"},"stukken":[{"href":"/stukken/{tenaamstelling.stukId[...]
