interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
    method: GET
    uri: https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v2/kadastraalonroerendezaken/dummy/zakelijkgerechtigden
  response:
    body:
      string: '{"type":"https://docs.microsoft.com/en-us/dotnet/api/system.net.httpstatuscode?#System_Net_HttpStatusCode_NotFound","title":"Opgevraagde
        resource bestaat niet.","status":404,"detail":"Not Found","instance":"/kadastraalonroerendezaken/dummy/zakelijkgerechtigden","code":"notFound"}'
    headers:
      Api-Version:
      - 2.0.0
      Content-Type:
      - application/problem+json
    status:
      code: 404
      message: ''
version: 1
