{% load i18n %}
{% with co_signer=renderer.submission.get_co_signer form_name=renderer.submission.form.admin_name %}
{% if payment_received %}
    <p>{% blocktrans trimmed %}
        Submission payment received for {{ form_name }} (submitted on {{ datetime }})
    {% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}
        Our reference: {{ public_reference }}
    {% endblocktrans %}
        </br>
    {% blocktrans trimmed %}
        Payment order ID: {{ payment_order_id }}
    {% endblocktrans %}</p>
{% else %}
    <p>{% blocktrans trimmed %}
        Submission details for {{ form_name }} (submitted on {{ datetime }})
    {% endblocktrans %}</p>
{% endif %}

<table cellpadding="0" cellspacing="0">
    <tr>
        <th style="padding: 2px 0; text-align: left; padding-right: 10px; width: 40%;">{% trans "Field" %}</th>
        <th style="padding: 2px 0; text-align: left; width: 60%;">{% trans "Response" %}</th>
    </tr>


    {% for submission_step_node in renderer.get_children %}
        {% if submission_step_node.has_children %}
            {# row for step title #}
            <tr>
                <td width="100%" valign="top" style="padding: 4px 0;" colspan="2">
                    <div style="margin: 1em 0 .2em; font-size: 1.2em; text-decoration: underline;">{{ submission_step_node.render }}</div>
                </td>
            </tr>

            {# row for every visible form field within the step #}
            {% for component_node in submission_step_node.get_children %}
                {% if component_node.label or component_node.display_value %}
                    <tr>
                        <td valign="top" style="padding: 2px 0; padding-right: 10px;">{{ component_node.label }}</td>
                        <td valign="top" style="padding: 2px 0;">{{ component_node.display_value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if forloop.last and co_signer %}
            <tr>
                <td valign="top" style="padding: 2px 0; padding-right: 10px;">{% trans "Co-signed by" %}</td>
                <td valign="top" style="padding: 2px 0;">{{ co_signer }}</td>
            </tr>
        {% endif %}

    {% endfor %}

</table>

{% endwith %}
