SECRET_KEY="@r0w-0(&apjfde5fl6h23!vn)r1ldkp1c_d2#!$did4z5hun4a"
DB_NAME=open-forms
DB_USER=open-forms
#
# For peer authentication via unix domain socket
# these should be kept empty.
#
DB_PASSWORD=""
DB_HOST=""

# LANGUAGE_CODE=nl
#CORS_ALLOW_ALL_ORIGINS=yes
# CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

# CSP_REPORT_ONLY=yes

# NOTE - this is a last resort. When developing with hypothesis tests, you want to have
# tight deadlines to ensure your test itself is not too slow.
# HYPOTHESIS_PROFILE=ci

# Profiling
# PROFILE=yes
# DEBUG=no
# ENVIRONMENT=<name>-dev
# ELASTIC_APM_SERVICE_NAME=open-forms-<name>-dev
# ELASTIC_APM_SECRET_TOKEN=
# ELASTIC_APM_SERVER_URL=
# DISABLE_APM_IN_DEV=no
#
# Recording Suwinet VCR cassettes
# SUWINET_CLIENT_KEY=/path/to/privatekey.pem
# SUWINET_BASE_URL=https://url/of/gateway/suwiml

# Applies to dev settings module only!
DISABLE_2FA=yes
CSP_EXTRA_FORM_ACTION=http://localhost

OTEL_SERVICE_NAME=openforms-dev
