[tool.pyright]
include = [
    "src/openforms/api/urls.py",
    "src/openforms/conf",
    # plugin/registry-related code (base classes etc.)
    "src/openforms/plugins",
    "src/openforms/appointments/base.py",
    "src/openforms/appointments/registry.py",
    "src/openforms/appointments/contrib/jcc_rest/",
    "src/openforms/dmn/base.py",
    "src/openforms/dmn/registry.py",
    "src/openforms/formio/registry.py",
    "src/openforms/formio/rendering/registry.py",
    "src/openforms/pre_requests/base.py",
    "src/openforms/pre_requests/registry.py",
    "src/openforms/registrations/base.py",
    "src/openforms/registrations/registry.py",
    "src/openforms/validations/base.py",
    "src/openforms/validations/registry.py",
    "src/openforms/variables/base.py",
    "src/openforms/variables/registry.py",
    "src/openforms/variables/tests/test_service.py",
    # Accounts app
    "src/openforms/accounts/",
    # Appointments module
    "src/openforms/appointments/models.py",
    # Config app
    "src/openforms/config/forms.py",
    "src/openforms/config/api/",
    # Formio tooling
    "src/openforms/formio/serializers.py",
    "src/openforms/formio/service.py",
    "src/openforms/formio/typing/",
    "src/openforms/formio/formatters/",
    "src/openforms/formio/dynamic_config/reference_lists.py",
    # Core forms app
    "src/openforms/forms/api/serializers/logic/action_serializers.py",
    "src/openforms/forms/json_schema.py",
    "src/openforms/forms/logic_analysis.py",
    "src/openforms/forms/management/commands/set_forms_new_renderer_enabled.py",
    "src/openforms/forms/tests/test_logic_analysis.py",
    # Payments
    "src/openforms/payments/",
    # Interaction with the outside world
    "src/openforms/contrib/customer_interactions/",
    "src/openforms/contrib/zgw/service.py",
    "src/openforms/contrib/zgw/clients/zaken.py",
    "src/openforms/contrib/microsoft/",
    "src/openforms/contrib/objects_api/",
    "src/openforms/contrib/reference_lists/",
    "src/openforms/contrib/auth_oidc/",
    # Data removal app
    "src/openforms/data_removal/",
    # Emails
    "src/openforms/emails/",
    # Logging
    "src/openforms/logging/",
    # Authentication
    "src/openforms/authentication/",
    # Prefill
    "src/openforms/prefill/",
    # Registrations
    "src/openforms/registrations/tasks.py",
    "src/openforms/registrations/contrib/demo/",
    "src/openforms/registrations/contrib/email/",
    "src/openforms/registrations/contrib/generic_json/",
    "src/openforms/registrations/contrib/microsoft_graph/",
    "src/openforms/registrations/contrib/objects_api/",
    "src/openforms/registrations/contrib/stuf_zds/options.py",
    "src/openforms/registrations/contrib/stuf_zds/plugin.py",
    "src/openforms/registrations/contrib/stuf_zds/typing.py",
    "src/openforms/registrations/contrib/zgw_apis/",
    # Translations
    "src/openforms/translations/api/views.py",
    "src/openforms/translations/admin.py",
    "src/openforms/translations/constants.py",
    "src/openforms/translations/models.py",
    "src/openforms/translations/subprocesses.py",
    "src/openforms/translations/tasks.py",
    "src/openforms/translations/tests/test_admin.py",
    "src/openforms/translations/tests/test_api.py",
    "src/openforms/translations/tests/test_subprocesses.py",
    "src/openforms/translations/tests/test_tasks.py",
    "src/openforms/translations/tests/test_views.py",
    # core submissions app
    "src/openforms/submissions/api/validation.py",
    "src/openforms/submissions/cosigning.py",
    "src/openforms/submissions/logic/actions.py",
    "src/openforms/submissions/metrics.py",
    "src/openforms/submissions/query.py",
    "src/openforms/submissions/report.py",
    "src/openforms/submissions/tests/form_logic/test_get_rules_to_evaluate.py",
    "src/openforms/submissions/tests/form_logic/test_rule_analysis.py",
    "src/openforms/submissions/tests/test_log_events.py",
    # our own template app/package on top of Django
    "src/openforms/template",
    # generic typing helpers
    "src/openforms/typing.py",
    # Utils
    "src/openforms/utils/form_fields.py",
    "src/openforms/utils/pdf.py",
    "src/openforms/utils/json_logic/partial_evaluation.py",
    # Validations app
    "src/openforms/validations/api/serializers.py",
    "src/geo_visualization",
]
exclude = [
    "**/__pycache__",
    "src/openforms/authentication/contrib/digid/tests/test_auth_procedure.py",
    "src/openforms/authentication/contrib/digid/tests/test_signicat_integration.py",
    "src/openforms/authentication/contrib/eherkenning/tests/test_signicat_integration.py",
    "src/openforms/contrib/customer_interactions/tests/",
    "src/openforms/contrib/objects_api/tests/",
    "src/openforms/contrib/objects_api/json_schema.py",
    "src/openforms/formio/formatters/tests/",
    "src/openforms/payments/management/commands/checkpaymentemaildupes.py",
    "src/openforms/payments/tests/",
    "src/openforms/payments/contrib/demo/tests/",
    "src/openforms/payments/contrib/ogone/tests/",
    "src/openforms/registrations/contrib/objects_api/tests/test_backend_v1.py",
    "src/openforms/registrations/contrib/objects_api/tests/test_backend_v2.py",
    "src/openforms/registrations/contrib/objects_api/tests/test_update_payment_status_v1.py",
    "src/openforms/registrations/contrib/objects_api/tests/test_update_payment_status_v2.py",
    "src/openforms/registrations/contrib/zgw_apis/tests/test_backend_partial_failure.py",
    "src/openforms/registrations/contrib/zgw_apis/tests/test_utils.py",
]
ignore = []

pythonVersion = "3.12"
pythonPlatform = "Linux"

reportUnnecessaryTypeIgnoreComment = "error"
