@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

.breadcrumbs {
  @include hide-on-mobile;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    @include body;
    @include body--small;
    color: $color-gray-darker;
    display: flex !important;
    align-items: center;
    flex-direction: row-reverse;
    float: left;
    padding: 10px 0;
  }

  .anchor {
    font-weight: normal;
    line-height: $typography-line-height-text!important;
  }

  &__list-item:not(:last-child) {
    @extend .fa;
    @extend .fa-chevron-right;

    &:before {
      float: right;
      font-size: $grid-margin-2;
      margin: 0 $grid-margin-2;
    }
  }
}
