@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~formiojs/dist/formio.full.css';

.field-configuration,
.form-definition {

  & > div:first-of-type {
    width: 100%;
  }
}

li.nav-item {
  list-style-type: none;
}

.card {
  &.form-builder-panel {
    padding: 0;
  }
}

// django wrapper
.aligned {
  .field-configuration,
  .formio.builder {
    label {
      float: none;
    }
  }
}

.formio-dialog {
  z-index: 10000000;
}

.component-edit-container {
  .tab-pane.active {
    // the select dropdowns are overflowing, which is hidden by the modal. this is the
    // easiest way to enforce they're always visible.
    min-height: 550px;
  }
}

.formio-builder-wrapper {
  padding-top: 10px;
}

[ref="editForm"] {
  .choices__list + .choices__input {
    border: none;
    border-radius: unset;
    padding: 4px 0 4px 2px;
  }

  .choices__list:not(:empty) + .choices__input {
    width: 1ch;
  }
}
