{% load i18n ui %}
<form class="formio-form form" data-form-id="{{ object.form.uuid }}">
    <div class="formio-form__body">
        <p class="body">{% trans 'Bezig met laden...' %}</p>
    </div>


    <footer class="form__footer">
        <div class="toolbar">
            <ul class="toolbar__list">
                <li class="toolbar__list-item">
                    {% trans 'Vorige pagina' as back_label %}
                    {% button href='javascript:history.back()' label=back_label style='anchor' %}
                </li>

            </ul>

            <ul class="toolbar__list">
                <li class="toolbar__list-item">
                    {% trans 'Tussentijds opslaan' as save_label %}
                    {% button name='save' label=save_label style='secondary' %}
                </li>

                <li class="toolbar__list-item">
                    {% trans 'Volgende' as next_label %}
                    {% button type='submit' name='next' label=next_label style='primary' %}
                </li>
            </ul>
        </div>
    </footer>
</form>
