interactions:
- request:
    body: '{"type": "RaadpleegMetBurgerservicenummer", "burgerservicenummer": ["999990421"],
      "fields": ["burgerservicenummer", "burgerservicenummer", "adressering"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-doelbinding:
      - BRPACT-AanschrijvenZakelijkGerechtigde
      x-gebruiker:
      - SAP001
      x-origin-oin:
      - 00000003273229750000
      x-verwerking:
      - Financiele administratie@Correspondentie factuur
    method: POST
    uri: https://lab.api.mijniconnect.nl/iconnect/apihcbrp/actueel/v2/personen
  response:
    body:
      string: '{"type":"RaadpleegMetBurgerservicenummer","personen":[{"aNummer":"6374749384","burgerservicenummer":"999990421","geslacht":{"code":"M","omschrijving":"man"},"naam":{"aanduidingNaamgebruik":{"code":"E","omschrijving":"eigen
        geslachtsnaam"},"voornamen":"Adrianus Hendrikus","geslachtsnaam":"Holthuizen","voorletters":"A.H.","volledigeNaam":"Adrianus
        Hendrikus Holthuizen"},"geboorte":{"datum":{"type":"Datum","datum":"1904-02-15","langFormaat":"15
        februari 1904"}},"opschortingBijhouding":{"datum":{"type":"Datum","datum":"1998-08-15","langFormaat":"15
        augustus 1998"},"reden":{"code":"O","omschrijving":"overlijden"}},"overlijden":{"datum":{"type":"Datum","datum":"1998-08-15","langFormaat":"15
        augustus 1998"}},"verblijfplaats":{"type":"Adres","verblijfadres":{"korteStraatnaam":"Nieuwe
        Parklaan","huisnummer":58,"postcode":"2597LD"},"functieAdres":{"code":"W","omschrijving":"woonadres"},"datumVan":{"type":"Datum","datum":"1997-07-28","langFormaat":"28
        juli 1997"}},"gemeenteVanInschrijving":{"code":"0518","omschrijving":"''s-Gravenhage"},"adressering":{"aanhef":"Geachte
        heer Holthuizen","aanschrijfwijze":{"naam":"A.H. Holthuizen"},"gebruikInLopendeTekst":"de
        heer Holthuizen","adresregel1":"Nieuwe Parklaan 58","adresregel2":"2597 LD  ''S-GRAVENHAGE"},"partners":[{"naam":{"geslachtsnaam":"Wiegman"},"aangaanHuwelijkPartnerschap":{"datum":{"type":"Datum","datum":"1926-07-15","langFormaat":"15
        juli 1926"}}}]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
version: 1
