@import '~microscope-sass/lib/typography';

@page {
  size: A4;
  margin-bottom: 10mm;

  @bottom-center {
    content: counter(page) "/" counter(pages);
    font-size: 85%;
    @include text;
  }
}

* {
  box-sizing: border-box;
}

body {
  @include body(auto);
}
