@page {
  size: A4;
  margin-bottom: 10mm;
  margin-top: 12mm;

  @bottom-center {
    content: counter(page) '/' counter(pages);
    font-size: 85%;
    color: #000000;
    font-family: 'Fira Sans', Calibri, sans-serif;
    margin: 0;
  }
}

@page :first {
  margin-top: 10mm;
}

@page haslogo {
  margin-top: 0mm;
}

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: 'Fira Sans', Calibri, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  margin: 0;

  &:not(:last-child) {
    margin-block-end: 20px;
  }
}

a {
  color: var(--utrecht-link-color);
  cursor: pointer;
}
