@use 'microscope-sass/lib/bem';

.submission-consent {
  display: flex;
  align-items: flex-start;

  @include bem.element('text') {
    flex: 1;
    padding-left: 8px;
    min-width: 0;

    // The WYSIWYG editor wraps everything in a <p>, which gets a margin.
    p {
      margin: 0;
    }
  }
}
