@import '~microscope-sass/lib/typography';

.submission-step-row {
  & + & {
    margin-top: 1mm;
  }

  &#{&}--full-width {
    display: block;
  }

  &:not(&--root) + &--root {
    padding-top: $grid-margin-1;
  }

  &#{&}--fieldset,
  &#{&}--editgrid {
    padding-top: $grid-margin-2;

    .submission-step-row__label {
      font-weight: bolder;
    }
  }

  &#{&}--editgrid-group {
    padding-top: $grid-margin-1;

    .submission-step-row__label {
      font-weight: bold;
    }
  }

  &#{&}--columns {
    padding-top: $grid-margin-2;
  }

  &__label {
    @include body();
    width: 40%;
    padding-right: 2em;
    // float is used here, because flexbox/grid/tables are really slow with
    // weasyprint, especially if large textareas are used
    // see: https://github.com/open-formulieren/open-forms/issues/4255
    float: left;
  }

  &__value {
    @include body();
    width: 60%;
    word-break: break-all;
    margin-left: 40%;
    min-height: 1.5em; // required to ensure styling still works if value has no text

    // wysiwyg content
    p {
      margin: 0;
    }

    > * {
      max-width: 100%;
    }
  }
}
