// colors
$page-header-background: var(--of-page-header-bg);

// logo
$page-header-logo-url: var(--of-header-logo-url);
$page-header-logo-width: var(--of-header-logo-width);
$page-header-logo-height: var(--of-header-logo-height);
