{% load ui %}

<nav class="nav">
    <ul class="nav__list nav__list">
        <li class="nav__list-item nav__list-item--active">
            {% anchor href='#' label='Inwoners en ondernemers' %}
            <ul class="nav__list">
                <li class="nav__list-item nav__list-item--active">{% anchor href='#' hover=True label='Paspoort, rijbewijs en uittreksel' %}</li>
                <li class="nav__list-item">{% anchor href='#' hover=True label='Parkeren, verkeer en vervoer' %}</li>
                <li class="nav__list-item">{% anchor href='#' hover=True label='Afval en duurzaamheid' %}</li>
                <li class="nav__list-item">{% anchor href='#' hover=True label='Wmo, zorg en welzijn' %}</li>
                <li class="nav__list-item">{% anchor href='#' hover=True label='Meer inderwerpen' %}</li>
            </ul>
        </li>


        <li class="nav__list-item">{% anchor href='#' label='Stadsdelen' %}<ul class="nav__list">
                <li class="nav__list-item">{% anchor href='#' hover=True label='Foo' %}</li>
                <li class="nav__list-item">{% anchor href='#' hover=True label='Bar' %}</li>
            </ul>
        </li>


        <li class="nav__list-item">{% anchor href='#' label='Bestuur' %}</li>
    </ul>
</nav>
