<nav class="nav">
    <ul class="nav__list nav__list">
        <li class="nav__list-item nav__list-item--active">
            <a class="nav__anchor" href="#">Inwoners en ondernemers</a><ul class="nav__list">
                <li class="nav__list-item nav__list-item--active"><a class="nav__anchor" href="#">Paspoort, rijbewijs en uittreksel</a></li>
                <li class="nav__list-item"><a class="nav__anchor" href="#">Parkeren, verkeer en vervoer</a></li>
                <li class="nav__list-item"><a class="nav__anchor" href="#">Afval en duurzaamheid</a></li>
                <li class="nav__list-item"><a class="nav__anchor" href="#">Wmo, zorg en welzijn</a></li>
                <li class="nav__list-item"><a class="nav__anchor" href="#">Meer inderwerpen</a></li>
            </ul>
        </li>


        <li class="nav__list-item"><a class="nav__anchor" href="#">Stadsdelen</a><ul class="nav__list">
                <li class="nav__list-item"><a class="nav__anchor">Foo</a></li>
                <li class="nav__list-item"><a class="nav__anchor">Bar</a></li>
            </ul>
        </li>


        <li class="nav__list-item"><a class="nav__anchor" href="#">Bestuur</a></li>
    </ul>
</nav>
