Geachte heer/mevrouw,<br>
<br>
U heeft via de website het formulier "{% templatetag openvariable %} form_name {% templatetag closevariable %}" verzonden op {% templatetag openvariable %} submission_date {% templatetag closevariable %}.<br>
<br>
Uw referentienummer is: {% templatetag openvariable %} public_reference {% templatetag closevariable %}<br>
<br>

{% templatetag openblock %} summary {% templatetag closeblock %}<br>
{% templatetag openblock %} appointment_information {% templatetag closeblock %}<br>
{% templatetag openblock %} payment_information {% templatetag closeblock %}<br><br>

<br>
Met vriendelijke groet,<br>
<br>
Open Formulieren<br>
