{% extends 'ui/views/abstract/base.html' %}
{% load static ui %}

{% block layout_inner %}
    {{ block.super }}

    <section class="layout__row">
        <div class="layout__column">
            <div class="card">
                <form class="form">
                    <header class="card__header">
                        <h1 class="title">Controleer en bevestig</h1>
                    </header>

                    <div class="card__body">
                        <h3 class="caption">Persoonsgegevens</h3>

                        <table class="table">
                            <tbody class="table__body">
                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Burgerservicenummer</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">1234567890</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Voornaam</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">Jan.</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Geslachtsnaam</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">Alleman</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Geslacht</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">Man</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Geboortedatum</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">10-09-2020</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Adres</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">Keizersgracht 117<br>1015CJ Amsterdam</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <p class="body">Het uittreksel versturen wij naar het adres dat hier staat vermeld. Uw
                            persoonsgegevens komen uit de basisregistratie personen. Zijn de bovenstaande persoonsgegevens
                            niet correct? Stop dan uw aanvraag en neem contact met ons op.</p>
                    </div>


                    <div class="card__body">
                        <h3 class="caption">Contactgegevens</h3>

                        <table class="table">
                            <tbody class="table__body">
                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">E-mailadres</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">jan@alleman.nl</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Telefoonnummer</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">0612345678</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="card__body">
                        <h3 class="caption">Gekozen uittreksel</h3>

                        <table class="table">
                            <tbody class="table__body">
                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Doel van het uittreksel</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">Woningbouwvereniging / adreshistorie / gezinssamenstelling</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Voor wie?</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">Mijzelf<br>Aantal: 1</p>
                                </td>
                            </tr>


                            <tr class="table__row">
                                <th class="table__head">
                                    <p class="body">Totale kosten</p>
                                </th>
                                <td class="table__cell">
                                    <p class="body">€ 21,90</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="help-text">
                        <span class="message message--info">Na betaling volgt de bevestiging van uw aanvraag op het
                            scherm en in uw mailbox. Sluit niet het venster na de betaling. Uw aanvraag wordt dan niet
                            goed verzonden. Heeft u betaald en krijgt u geen bevestiging te zien? Ontvangt u ook geen
                            bevestiging e-mail? Neem dan contact met ons op.</span>
                        </div>

                        <div class="toolbar toolbar--stacked">
                            <ul class="toolbar__list">
                                <li class="toolbar__list-item">
                                    {% button href='sample_app:digid_login' label='Vorige pagina' style='anchor' %}
                                </li>
                            </ul>

                            <ul class="toolbar__list">
                                <li class="toolbar__list-item">
                                    {% static 'img/ideal.gif' as ideal_src %}
                                    {% image alt='iDeal' src=ideal_src %}
{#                                </li>#}

{#                                <li class="toolbar__list-item">#}
                                    {% static 'img/visa.png' as visa_src %}
                                    {% image alt='VISA' src=visa_src %}
{#                                </li>#}

{#                                <li class="toolbar__list-item">#}
                                    {% static 'img/mastercard.svg' as mastercard_src %}
                                    {% image alt='VISA' src=mastercard_src %}
                                </li>
                                <li class="toolbar__list-item">

                                    {% button href='#' label='Bevestigen en naar betalen' style='primary' %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

            {% a11y_toolbar %}
        </div>


        <div class="layout__column layout__column--secondary">
            {% include 'sample_app/views/abstract/wizzard_progress.html' only %}
        </div>
    </section>
{% endblock %}
