@use "sass:math";

$fa-font-path:         "../fonts";

$breakpoint-mobile-s: 320px !default;
$breakpoint-mobile-m: 375px !default;
$breakpoint-mobile-l: 425px !default;
$breakpoint-tablet: 768px !default;
$breakpoint-laptop: 992px !default;
$breakpoint-desktop: 1200px !default;
$responsive-default-media: all !default;

$animation-default-duration-fast: 0.3s !default;
$animation-default-duration-medium: 1s !default;
$animation-default-duration-slow: 5s !default;
$animation-default-delay: 0s !default;
$animation-default-function: ease-in-out !default;

$color-black: black !default;
$color-white: white !default;
$color-gray-lighter: #F3F3F3;
$color-gray: #E6E6E6;
$color-gray-darker: #9EA4A9;
$color-gray-darkest: #979797;
$color-blue-lighter: #E5F0F9;
$color-blue: #01689B;
$color-green: green !default;
$color-red: #D52B1E;
$color-orange: #E17000;
$color-yellow: #FFB612;
$color-primary: $color-blue;
$color-secondary: scale_color($color-primary, $lightness: 80%, $saturation: -60%);
$color-background: $color-white !default;
$color-border: $color-gray;
$color-danger: $color-red !default;
$color-info: #007bc7;
$color-success: $color-green !default;
$color-warning: $color-orange !default;
$color-warning-light: $color-orange !default;

$grid-columns-mobile: 4 !default;
$grid-columns-tablet: 9 !default;
$grid-columns-laptop: 12 !default;
$grid-columns-desktop: 12 !default;
$grid-gutter-base: 20px;
$grid-gutter-mobile: $grid-gutter-base !default;
$grid-gutter-tablet: $grid-gutter-base !default;
$grid-gutter-laptop: $grid-gutter-base !default;
$grid-gutter-desktop: $grid-gutter-base !default;
$grid-row-height: 46px;
$grid-container-margin-base: 15px;
$grid-container-padding-base: 20px;
$grid-container-margin: $grid-container-margin-base !default;
$grid-container-margin-small: $grid-container-margin-base !default;
$grid-container-margin-big: $grid-container-margin-base !default;
$grid-container-padding: $grid-container-padding-base !default;
$grid-container-padding-small: $grid-container-padding-base !default;
$grid-container-padding-big: $grid-container-padding-base !default;
$grid-container-size: $breakpoint-desktop - 2 * $grid-container-margin !default;
$grid-container-size-small: 800px !default;
$grid-container-size-big: 1400px !default;
$grid-margin-0: 4px;
$grid-margin-1: 8px;
$grid-margin-2: 12px;
$grid-margin-3: 16px;
$grid-margin-4: 24px;
$grid-margin-5: 28px;
$grid-margin-6: 30px; // Yes.
$grid-margin-7: 36px;
$grid-margin-8: 40px;
$grid-margin-9: 44px;
$grid-margin-10: 50px; // Yes.

$typography-color-base: $color-black !default;
$typography-color-text: $typography-color-base !default;
$typography-color-link: $color-primary;
$typography-color-link-hover: $typography-color-link !default;
$typography-color-h: $typography-color-base !default;
$typography-default-hover-link: false !default;
$typography-decoration-link: underline !default;
$typography-font-family-base: 'Fira Sans', Calibri, sans-serif;
$typography-font-family-text: $typography-font-family-base !default;
$typography-font-family-h: $typography-font-family-base !default;
$typography-font-size-text: math.div(16, 16)*1rem;
$typography-font-size-text-mobile: $typography-font-size-text !default;
$typography-font-size-text-tablet: $typography-font-size-text !default;
$typography-font-size-text-laptop: $typography-font-size-text !default;
$typography-font-size-text-desktop: $typography-font-size-text !default;
$typography-font-size-text-big: math.div(18, 16)*1rem;
$typography-font-size-text-big-mobile: $typography-font-size-text-big !default;
$typography-font-size-text-big-tablet: $typography-font-size-text-big !default;
$typography-font-size-text-big-laptop: $typography-font-size-text-big !default;
$typography-font-size-text-big-desktop: $typography-font-size-text-big !default;
$typography-font-size-text-small: math.div(14, 16)*1rem;
$typography-font-size-text-small-mobile: $typography-font-size-text-small !default;
$typography-font-size-text-small-tablet: $typography-font-size-text-small !default;
$typography-font-size-text-small-laptop: $typography-font-size-text-small !default;
$typography-font-size-text-small-desktop: $typography-font-size-text-small !default;
$typography-font-size-h1: math.div(31, 16)*1rem;
$typography-font-size-h1-mobile: $typography-font-size-h1 !default;
$typography-font-size-h1-tablet: $typography-font-size-h1 !default;
$typography-font-size-h1-laptop: $typography-font-size-h1 !default;
$typography-font-size-h1-desktop: $typography-font-size-h1 !default;
$typography-font-size-h2: math.div(27, 16) * 1rem;
$typography-font-size-h2-mobile: $typography-font-size-h2 !default;
$typography-font-size-h2-tablet: $typography-font-size-h2 !default;
$typography-font-size-h2-laptop: $typography-font-size-h2 !default;
$typography-font-size-h2-desktop: $typography-font-size-h2 !default;
$typography-font-size-h3: math.div(23, 16)*1rem;
$typography-font-size-h3-mobile: $typography-font-size-h3 !default;
$typography-font-size-h3-tablet: $typography-font-size-h3 !default;
$typography-font-size-h3-laptop: $typography-font-size-h3 !default;
$typography-font-size-h3-desktop: $typography-font-size-h3 !default;
$typography-font-size-h4: ($typography-font-size-text * 1.5) !default;
$typography-font-size-h4-mobile: $typography-font-size-h4 !default;
$typography-font-size-h4-tablet: $typography-font-size-h4 !default;
$typography-font-size-h4-laptop: $typography-font-size-h4 !default;
$typography-font-size-h4-desktop: $typography-font-size-h4 !default;
$typography-font-size-h5: ($typography-font-size-text * 1.25) !default;
$typography-font-size-h5-mobile: $typography-font-size-h5 !default;
$typography-font-size-h5-tablet: $typography-font-size-h5 !default;
$typography-font-size-h5-laptop: $typography-font-size-h5 !default;
$typography-font-size-h5-desktop: $typography-font-size-h5 !default;
$typography-font-size-h6: $typography-font-size-text !default;
$typography-font-size-h6-mobile: $typography-font-size-h6 !default;
$typography-font-size-h6-tablet: $typography-font-size-h6 !default;
$typography-font-size-h6-laptop: $typography-font-size-h6 !default;
$typography-font-size-h6-desktop: $typography-font-size-h6 !default;
$typography-font-weight-text: normal !default;
$typography-font-weight-h: normal;
$typography-font-weight-h1: $typography-font-weight-h !default;
$typography-font-weight-h2: $typography-font-weight-h !default;
$typography-font-weight-h3: $typography-font-weight-h !default;
$typography-font-weight-h4: $typography-font-weight-h !default;
$typography-font-weight-h5: $typography-font-weight-h !default;
$typography-font-weight-h6: $typography-font-weight-h !default;
$typography-line-height-base: 1.5;
$typography-line-height-text: $typography-line-height-base !default;
$typography-line-height-text-mobile: $typography-line-height-text !default;
$typography-line-height-text-tablet: $typography-line-height-text !default;
$typography-line-height-text-laptop: $typography-line-height-text !default;
$typography-line-height-text-desktop: $typography-line-height-text !default;
$typography-line-height-text-big: 1.333;
$typography-line-height-text-big-mobile: $typography-line-height-text-big !default;
$typography-line-height-text-big-tablet: $typography-line-height-text-big !default;
$typography-line-height-text-big-laptop: $typography-line-height-text-big !default;
$typography-line-height-text-big-desktop: $typography-line-height-text-big !default;
$typography-line-height-text-small: 1.428;
$typography-line-height-text-small-mobile: $typography-line-height-text-small !default;
$typography-line-height-text-small-tablet: $typography-line-height-text-small !default;
$typography-line-height-text-small-laptop: $typography-line-height-text-small !default;
$typography-line-height-text-small-desktop: $typography-line-height-text-small !default;
$typography-line-height-h: 1.2 !default;
$typography-line-height-h1: 0.967;
$typography-line-height-h1-mobile: $typography-line-height-h1 !default;
$typography-line-height-h1-tablet: $typography-line-height-h1 !default;
$typography-line-height-h1-laptop: $typography-line-height-h1 !default;
$typography-line-height-h1-desktop: $typography-line-height-h1 !default;
$typography-line-height-h2: 1.129;
$typography-line-height-h2-mobile: $typography-line-height-h2 !default;
$typography-line-height-h2-tablet: $typography-line-height-h2 !default;
$typography-line-height-h2-laptop: $typography-line-height-h2 !default;
$typography-line-height-h2-desktop: $typography-line-height-h2 !default;
$typography-line-height-h3: 1.17;
$typography-line-height-h3-mobile: $typography-line-height-h3 !default;
$typography-line-height-h3-tablet: $typography-line-height-h3 !default;
$typography-line-height-h3-laptop: $typography-line-height-h3 !default;
$typography-line-height-h3-desktop: $typography-line-height-h3 !default;
$typography-line-height-h4: $typography-line-height-h !default;
$typography-line-height-h4-mobile: $typography-line-height-h4 !default;
$typography-line-height-h4-tablet: $typography-line-height-h4 !default;
$typography-line-height-h4-laptop: $typography-line-height-h4 !default;
$typography-line-height-h4-desktop: $typography-line-height-h4 !default;
$typography-line-height-h5: $typography-line-height-h !default;
$typography-line-height-h5-mobile: $typography-line-height-h5 !default;
$typography-line-height-h5-tablet: $typography-line-height-h5 !default;
$typography-line-height-h5-laptop: $typography-line-height-h5 !default;
$typography-line-height-h5-desktop: $typography-line-height-h5 !default;
$typography-line-height-h6: $typography-line-height-h !default;
$typography-line-height-h6-mobile: $typography-line-height-h6 !default;
$typography-line-height-h6-tablet: $typography-line-height-h6 !default;
$typography-line-height-h6-laptop: $typography-line-height-h6 !default;
$typography-line-height-h6-desktop: $typography-line-height-h6 !default;
$typography-letter-spacing-base: normal;
$typography-letter-spacing-text: $typography-letter-spacing-base !default;
$typography-letter-spacing-text-mobile: $typography-letter-spacing-text !default;
$typography-letter-spacing-text-tablet: $typography-letter-spacing-text !default;
$typography-letter-spacing-text-laptop: $typography-letter-spacing-text !default;
$typography-letter-spacing-text-desktop: $typography-letter-spacing-text !default;
$typography-letter-spacing-text-big: $typography-letter-spacing-base !default;
$typography-letter-spacing-text-big-mobile: $typography-letter-spacing-text-big !default;
$typography-letter-spacing-text-big-tablet: $typography-letter-spacing-text-big !default;
$typography-letter-spacing-text-big-laptop: $typography-letter-spacing-text-big !default;
$typography-letter-spacing-text-big-desktop: $typography-letter-spacing-text-big !default;
$typography-letter-spacing-text-small: $typography-letter-spacing-base !default;
$typography-letter-spacing-text-small-mobile: $typography-letter-spacing-text-small !default;
$typography-letter-spacing-text-small-tablet: $typography-letter-spacing-text-small !default;
$typography-letter-spacing-text-small-laptop: $typography-letter-spacing-text-small !default;
$typography-letter-spacing-text-small-desktop: $typography-letter-spacing-text-small !default;
$typography-letter-spacing-h: normal;
$typography-letter-spacing-h1: $typography-letter-spacing-h !default;
$typography-letter-spacing-h1-mobile: $typography-letter-spacing-h1 !default;
$typography-letter-spacing-h1-tablet: $typography-letter-spacing-h1 !default;
$typography-letter-spacing-h1-laptop: $typography-letter-spacing-h1 !default;
$typography-letter-spacing-h1-desktop: $typography-letter-spacing-h1 !default;
$typography-letter-spacing-h2: $typography-letter-spacing-h !default;
$typography-letter-spacing-h2-mobile: $typography-letter-spacing-h2 !default;
$typography-letter-spacing-h2-tablet: $typography-letter-spacing-h2 !default;
$typography-letter-spacing-h2-laptop: $typography-letter-spacing-h2 !default;
$typography-letter-spacing-h2-desktop: $typography-letter-spacing-h2 !default;
$typography-letter-spacing-h3: $typography-letter-spacing-h !default;
$typography-letter-spacing-h3-mobile: $typography-letter-spacing-h3 !default;
$typography-letter-spacing-h3-tablet: $typography-letter-spacing-h3 !default;
$typography-letter-spacing-h3-laptop: $typography-letter-spacing-h3 !default;
$typography-letter-spacing-h3-desktop: $typography-letter-spacing-h3 !default;
$typography-letter-spacing-h4: $typography-letter-spacing-h !default;
$typography-letter-spacing-h4-mobile: $typography-letter-spacing-h4 !default;
$typography-letter-spacing-h4-tablet: $typography-letter-spacing-h4 !default;
$typography-letter-spacing-h4-laptop: $typography-letter-spacing-h4 !default;
$typography-letter-spacing-h4-desktop: $typography-letter-spacing-h4 !default;
$typography-letter-spacing-h5: $typography-letter-spacing-h !default;
$typography-letter-spacing-h5-mobile: $typography-letter-spacing-h5 !default;
$typography-letter-spacing-h5-tablet: $typography-letter-spacing-h5 !default;
$typography-letter-spacing-h5-laptop: $typography-letter-spacing-h5 !default;
$typography-letter-spacing-h5-desktop: $typography-letter-spacing-h5 !default;
$typography-letter-spacing-h6: $typography-letter-spacing-h !default;
$typography-letter-spacing-h6-mobile: $typography-letter-spacing-h6 !default;
$typography-letter-spacing-h6-tablet: $typography-letter-spacing-h6 !default;
$typography-letter-spacing-h6-laptop: $typography-letter-spacing-h6 !default;
$typography-letter-spacing-h6-desktop: $typography-letter-spacing-h6 !default;
$typography-margin-base: 20px;
$typography-margin-text: $typography-margin-base !default;
$typography-margin-text-mobile: $typography-margin-text !default;
$typography-margin-text-tablet: $typography-margin-text !default;
$typography-margin-text-laptop: $typography-margin-text !default;
$typography-margin-text-desktop: $typography-margin-text !default;
$typography-margin-hr: $typography-margin-base !default;
$typography-margin-hr-mobile: $typography-margin-hr !default;
$typography-margin-hr-tablet: $typography-margin-hr !default;
$typography-margin-hr-laptop: $typography-margin-hr !default;
$typography-margin-hr-desktop: $typography-margin-hr !default;
$typography-margin-list: 8px;
$typography-margin-list-mobile: $typography-margin-list !default;
$typography-margin-list-tablet: $typography-margin-list !default;
$typography-margin-list-laptop: $typography-margin-list !default;
$typography-margin-list-desktop: $typography-margin-list !default;
$typography-margin-table: $typography-margin-base 0 !default;
$typography-margin-table-mobile: $typography-margin-table !default;
$typography-margin-table-tablet: $typography-margin-table !default;
$typography-margin-table-laptop: $typography-margin-table !default;
$typography-margin-table-desktop: $typography-margin-table !default;
$typography-margin-h: 0.5rem !default;
$typography-margin-h1: $typography-margin-h !default;
$typography-margin-h1-mobile: $typography-margin-h1 !default;
$typography-margin-h1-tablet: $typography-margin-h1 !default;
$typography-margin-h1-laptop: $typography-margin-h1 !default;
$typography-margin-h1-desktop: $typography-margin-h1 !default;
$typography-margin-h2: $typography-margin-h !default;
$typography-margin-h2-mobile: $typography-margin-h2 !default;
$typography-margin-h2-tablet: $typography-margin-h2 !default;
$typography-margin-h2-laptop: $typography-margin-h2 !default;
$typography-margin-h2-desktop: $typography-margin-h2 !default;
$typography-margin-h3: $typography-margin-list;
$typography-margin-h3-mobile: $typography-margin-h3 !default;
$typography-margin-h3-tablet: $typography-margin-h3 !default;
$typography-margin-h3-laptop: $typography-margin-h3 !default;
$typography-margin-h3-desktop: $typography-margin-h3 !default;
$typography-margin-h4: $typography-margin-h !default;
$typography-margin-h4-mobile: $typography-margin-h4 !default;
$typography-margin-h4-tablet: $typography-margin-h4 !default;
$typography-margin-h4-laptop: $typography-margin-h4 !default;
$typography-margin-h4-desktop: $typography-margin-h4 !default;
$typography-margin-h5: $typography-margin-h !default;
$typography-margin-h5-mobile: $typography-margin-h5 !default;
$typography-margin-h5-tablet: $typography-margin-h5 !default;
$typography-margin-h5-laptop: $typography-margin-h5 !default;
$typography-margin-h5-desktop: $typography-margin-h5 !default;
$typography-margin-h6: $typography-margin-h !default;
$typography-margin-h6-mobile: $typography-margin-h6 !default;
$typography-margin-h6-tablet: $typography-margin-h6 !default;
$typography-margin-h6-laptop: $typography-margin-h6 !default;
$typography-margin-h6-desktop: $typography-margin-h6 !default;
$typography-margin-property-base: margin-bottom !default;
$typography-margin-property-text: $typography-margin-property-base !default;
$typography-margin-property-h: $typography-margin-property-base !default;
$typography-margin-property-hr: $typography-margin-property-base !default;
$typography-margin-property-list: $typography-margin-property-base !default;
$typography-margin-property-table: margin !default;
$typography-margin-property-h1: $typography-margin-property-h !default;
$typography-margin-property-h2: $typography-margin-property-h !default;
$typography-margin-property-h3: $typography-margin-property-h !default;
$typography-margin-property-h4: $typography-margin-property-h !default;
$typography-margin-property-h5: $typography-margin-property-h !default;
$typography-margin-property-h6: $typography-margin-property-h !default;
$typography-padding-table: $grid-margin-1 0 !default;
$typography-size-border: 1px;
$typography-style-border: solid !default;

$util-shadow-default-color: rgba($color-black, 0.15) !default;
$util-shadow-default-offset-x: 0 !default;
$util-shadow-default-offset-y: 0.5rem !default;
$util-shadow-default-blur: 1rem !default;
$util-shadow-default-spread: 0 !default;

@font-face {
  font-family: 'Fira Sans';
  src: url('../ui/fonts/fira-sans-v11-latin-regular.eot');
  src: local(''),
       url('../ui/fonts/fira-sans-v11-latin-regular.eot?#iefix') format('eot'),
       url('../ui/fonts/fira-sans-v11-latin-regular.ttf') format('truetype'),
       url('../ui/fonts/fira-sans-v11-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../ui/fonts/fira-sans-v11-latin-700.eot');
  src: local(''),
       url('../ui/fonts/fira-sans-v11-latin-700.eot?#iefix') format('eot'),
       url('../ui/fonts/fira-sans-v11-latin-700.ttf') format('truetype'),
       url('../ui/fonts/fira-sans-v11-latin-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../ui/fonts/fira-sans-v11-latin-italic.eot');
  src: local(''),
       url('../ui/fonts/fira-sans-v11-latin-italic.eot?#iefix') format('eot'),
       url('../ui/fonts/fira-sans-v11-latin-italic.ttf') format('truetype'),
       url('../ui/fonts/fira-sans-v11-latin-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
