@import 'settings';
@import 'nlds';

@import 'components';

@import 'views';

.openforms-theme {
  --utrecht-document-font-size: 1rem;

  --utrecht-page-max-inline-size: 100%;
  --utrecht-page-background-color: var(--of-view-background, #e6e6e6); // backwards compatibility
}
