<nav class="menu">
    <ul class="menu__list" role="menu">
        <li class="menu__list-item"><a class="menu__link" href="#">Home</a></li>
        <li class="menu__list-item"><a class="menu__link" href="#">Page 1</a></li>
        <li class="menu__list-item"><a class="menu__link" href="#">Page 2</a></li>
        <li class="menu__list-item"><a class="menu__link" href="#">Page 3</a></li>
        <li class="menu__list-item"><a class="menu__link" href="#">Page 4</a></li>

        <li class="menu__list-item menu__list-item--right">
            <a class="menu__link" href="{% url 'admin:index' %}">admin</a>
        </li>
    </ul>
</nav>
