interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://service.pdok.nl/rws/nwbwegen/wfs/v1_0?request=GetCapabilities&service=WFS
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<WFS_Capabilities xmlns:gml=\"http://www.opengis.net/gml/3.2\"
        xmlns=\"http://www.opengis.net/wfs/2.0\" xmlns:ows=\"http://www.opengis.net/ows/1.1\"
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:fes=\"http://www.opengis.net/fes/2.0\" xmlns:inspire_common=\"http://inspire.ec.europa.eu/schemas/common/1.0\"
        xmlns:inspire_dls=\"http://inspire.ec.europa.eu/schemas/inspire_dls/1.0\"
        xmlns:nwbwegen=\"http://nwbwegen.geonovum.nl\" version=\"2.0.0\" xsi:schemaLocation=\"http://www.opengis.net/wfs/2.0
        http://schemas.opengis.net/wfs/2.0/wfs.xsd http://inspire.ec.europa.eu/schemas/inspire_dls/1.0
        http://inspire.ec.europa.eu/schemas/inspire_dls/1.0/inspire_dls.xsd\">\n\t<ows:ServiceIdentification>\n\t\t<ows:Title>NWB
        - Wegen WFS</ows:Title>\n\t\t<ows:Abstract>Dit is de web feature service van
        het Nationaal Wegen Bestand (NWB) - wegen. Deze dataset bevat alleen de wegvakken
        en hectometerpunten. Het Nationaal Wegen Bestand - Wegen is een digitaal geografisch
        bestand van alle wegen in Nederland. Opgenomen zijn alle wegen die worden
        beheerd door wegbeheerders als het Rijk, provincies, gemeenten en waterschappen,
        echter alleen voor zover deze zijn voorzien van een straatnaam of nummer.</ows:Abstract>\n\t\t<ows:Keywords>\n\t\t\t<ows:Keyword>Vervoersnetwerken</ows:Keyword>\n\t\t\t<ows:Keyword>Menselijke
        gezondheid en veiligheid</ows:Keyword>\n\t\t\t<ows:Keyword>Geluidsbelasting
        hoofdwegen (Richtlijn Omgevingslawaai)</ows:Keyword>\n\t\t\t<ows:Keyword>Nationaal</ows:Keyword>\n\t\t\t<ows:Keyword>Voertuigen</ows:Keyword>\n\t\t\t<ows:Keyword>Verkeer</ows:Keyword>\n\t\t\t<ows:Keyword>Wegvakken</ows:Keyword>\n\t\t\t<ows:Keyword>Hectometerpunten</ows:Keyword>\n\t\t\t<ows:Keyword>HVD</ows:Keyword>\n\t\t\t<ows:Keyword>Mobiliteit</ows:Keyword>\n\t\t\t<ows:Keyword>infoFeatureAccessService</ows:Keyword>\n\t\t</ows:Keywords>\n\t\t<ows:ServiceType
        codeSpace=\"OGC\">WFS</ows:ServiceType>\n\t\t<ows:ServiceTypeVersion>2.0.0</ows:ServiceTypeVersion>\n\t\t<ows:Fees>none</ows:Fees>\n\t\t<ows:AccessConstraints>https://creativecommons.org/publicdomain/zero/1.0/deed.nl</ows:AccessConstraints>\n\t</ows:ServiceIdentification>\n\t<ows:ServiceProvider>\n\t\t<ows:ProviderName>PDOK</ows:ProviderName>\n\t\t<ows:ProviderSite
        xlink:type=\"simple\" xlink:href=\"https://www.pdok.nl\"/>\n\t\t<ows:ServiceContact>\n\t\t\t<ows:IndividualName>KlantContactCenter
        PDOK</ows:IndividualName>\n\t\t\t<ows:PositionName>pointOfContact</ows:PositionName>\n\t\t\t<ows:ContactInfo>\n\t\t\t\t<ows:Phone>\n\t\t\t\t\t<ows:Voice/>\n\t\t\t\t\t<ows:Facsimile/>\n\t\t\t\t</ows:Phone>\n\t\t\t\t<ows:Address>\n\t\t\t\t\t<ows:DeliveryPoint/>\n\t\t\t\t\t<ows:City>Apeldoorn</ows:City>\n\t\t\t\t\t<ows:AdministrativeArea/>\n\t\t\t\t\t<ows:PostalCode/>\n\t\t\t\t\t<ows:Country>Netherlands</ows:Country>\n\t\t\t\t\t<ows:ElectronicMailAddress>BeheerPDOK@kadaster.nl</ows:ElectronicMailAddress>\n\t\t\t\t</ows:Address>\n\t\t\t\t<ows:OnlineResource
        xlink:type=\"simple\" xlink:href=\"https://www.pdok.nl\"/>\n\t\t\t\t<ows:HoursOfService/>\n\t\t\t\t<ows:ContactInstructions/>\n\t\t\t</ows:ContactInfo>\n\t\t\t<ows:Role/>\n\t\t</ows:ServiceContact>\n\t</ows:ServiceProvider>\n\t<ows:OperationsMetadata>\n\t\t<ows:Operation
        name=\"GetCapabilities\">\n\t\t\t<ows:DCP>\n\t\t\t\t<ows:HTTP>\n\t\t\t\t\t<ows:Get
        xlink:type=\"simple\" xlink:href=\"https://service.pdok.nl/rws/nwbwegen/wfs/v1_0?\"/>\n\t\t\t\t</ows:HTTP>\n\t\t\t</ows:DCP>\n\t\t\t<ows:Parameter
        name=\"AcceptVersions\">\n\t\t\t\t<ows:AllowedValues>\n\t\t\t\t\t<ows:Value>2.0.0</ows:Value>\n\t\t\t\t</ows:AllowedValues>\n\t\t\t</ows:Parameter>\n\t\t\t<ows:Parameter
        name=\"AcceptFormats\">\n\t\t\t\t<ows:AllowedValues>\n\t\t\t\t\t<ows:Value>text/xml</ows:Value>\n\t\t\t\t</ows:AllowedValues>\n\t\t\t</ows:Parameter>\n\t\t\t<ows:Parameter
        name=\"Sections\">\n\t\t\t\t<ows:AllowedValues>\n\t\t\t\t\t<ows:Value>ServiceIdentification</ows:Value>\n\t\t\t\t\t<ows:Value>ServiceProvider</ows:Value>\n\t\t\t\t\t<ows:Value>OperationsMetadata</ows:Value>\n\t\t\t\t\t[...]
