interactions:
- request:
    body: "{\n    \"cardPaymentMethodSpecificInput\": {\n        \"authorizationMode\":
      \"SALE\"\n    },\n    \"hostedCheckoutSpecificInput\": {\n        \"returnUrl\":
      \"http://testserver/payment/d690d96c-76aa-469c-8394-37d117c839e3/return\"\n
      \   },\n    \"order\": {\n        \"amountOfMoney\": {\n            \"amount\":
      1135,\n            \"currencyCode\": \"EUR\"\n        },\n        \"references\":
      {\n            \"descriptor\": \"1a-*_^~` OF-T5KT5H\",\n            \"merchantReference\":
      \"2026/OF-T5KT5H/2\"\n        }\n    }\n}"
    headers:
      Content-Type:
      - application/json
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE3LjAtMTAxMS1vZW0vIzExLVVidW50dSBTTVAgUFJFRU1QVF9EWU5BTUlDIEZyaSBKYW4gMjMgMDY6MTg6NDMgVVRDIDIwMjYgUHl0aG9uLzMuMTIuMyAoQ1B5dGhvbjsgR0NDIDEzLjMuMCkiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y3LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: POST
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts
  response:
    body:
      string: '{"RETURNMAC":"10f2dd0b-80b7-42b4-9669-fe9d5452bdf0","hostedCheckoutId":"4481364546","merchantReference":"2026/OF-T5KT5H/2","redirectUrl":"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/519e32d2b52c43908379ea305110ce54","partialRedirectUrl":"preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/519e32d2b52c43908379ea305110ce54"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - a7533da8-5489-4109-9646-abdd08969c59
      - a7533da8-5489-4109-9646-abdd08969c59
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/519e32d2b52c43908379ea305110ce54
  response:
    body:
      string: ''
    headers:
      correlation-id:
      - c21fe0f9-01d4-4eb5-aaea-6af3c7c61e5a
      - c21fe0f9-01d4-4eb5-aaea-6af3c7c61e5a
      location:
      - https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3a%2f%2fpayment.preprod.direct.worldline-solutions.com%2fhostedcheckout%2fRedirect%2fReturn%2f49108b7c7e63442fa0a7112815742375
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3A%2F%2Fpayment.preprod.direct.worldline-solutions.com%2Fhostedcheckout%2FRedirect%2FReturn%2F49108b7c7e63442fa0a7112815742375
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <title>iDEAL | Wero Simulator</title>\n    <link href=\"https://simulator.test.v-psp.com/web-simulator/Content/default.css\"
        rel=\"stylesheet\" type=\"text/css\" />\n</head>\n<body>\n\n    <div id=\"header\">\n
        \       <h1>iDEAL | Wero</h1>\n        <p>This page simulates iDEAL | Wero
        payments</p>\n    </div>\n\n    <div id=\"main\">\n        \n<form action=\"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/49108b7c7e63442fa0a7112815742375\"
        method=\"GET\" name=\"redirectForm\" id=\"redirectForm\">\n        <input
        type=\"hidden\" name=\"ec\" />\n        <input type=\"hidden\" name=\"trxid\"
        value=\"0\" />\n\n    <div class=\"section first\">\n        <h2>Redirection</h2>\n
        \       <ul>\n            <li>Redirect to domain: payment.preprod.direct.worldline-solutions.com</li>\n
        \           <li><a class=\"btn btn-primary btn-lg submit-link\" id=\"lnk_redirect\">Redirect
        &raquo;</a></li>\n            <li>or close this browser window to simulate
        an interrupted redirection</li>\n        </ul>\n    </div>\n\n\n<div class=\"section
        last\">\n    <h2>Details of the payment</h2>\n    <ul>\n        <li id=\"payid\">Payid:
        0</li>\n        <li id=\"trxid\">TransactionId: 0</li>\n        <li id=\"issuer\">Issuer:
        </li>\n    </ul>\n</div>\n</form>\n    </div>\n</body>\n</html>\n<script src=\"https://simulator.test.v-psp.com/web-simulator/Content/main.js\"
        type=\"text/javascript\"></script>"
    headers:
      content-type:
      - text/html; charset=utf-8
      correlation-id:
      - 05b9ea84-d002-4205-ba97-96fd24af0eeb
      - 05b9ea84-d002-4205-ba97-96fd24af0eeb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/49108b7c7e63442fa0a7112815742375?ec=&trxid=0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"NL\">\n<head>\n    <meta charset=\"utf-8\">\n
        \   <title>\n        DIRECT E-COMMERCE - Uw betaling is geaccepteerd\n    </title>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   [...]
- request:
    body: null
    headers:
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE3LjAtMTAxMS1vZW0vIzExLVVidW50dSBTTVAgUFJFRU1QVF9EWU5BTUlDIEZyaSBKYW4gMjMgMDY6MTg6NDMgVVRDIDIwMjYgUHl0aG9uLzMuMTIuMyAoQ1B5dGhvbjsgR0NDIDEzLjMuMCkiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y3LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts/4481364546
  response:
    body:
      string: '{"createdPaymentOutput":{"payment":{"hostedCheckoutSpecificOutput":{"hostedCheckoutId":"4481364546"},"paymentOutput":{"amountOfMoney":{"amount":1135,"currencyCode":"EUR"},"references":{"merchantReference":"2026/OF-T5KT5H/2"},"acquiredAmount":{"amount":1135,"currencyCode":"EUR"},"customer":{"device":{"ipAddressCountryCode":"99"}},"paymentMethod":"redirect","redirectPaymentMethodSpecificOutput":{"paymentProductId":809,"fraudResults":{"fraudServiceResult":"no-advice"},"customerBankAccount":{"iban":"NL17RABO0213698412","accountHolderName":"Simulator"}},"transactionDate":"2026-03-26T08:00:42.8739644Z"},"status":"CAPTURED","statusOutput":{"isCancellable":false,"statusCategory":"COMPLETED","statusCode":9,"isAuthorized":false,"isRefundable":true},"id":"4481364546_0"},"paymentStatusCategory":"SUCCESSFUL"},"status":"PAYMENT_CREATED"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - 477843e7-b2b3-42a6-b759-83fdfc8947ea
      - 477843e7-b2b3-42a6-b759-83fdfc8947ea
    status:
      code: 200
      message: OK
version: 1
