interactions:
- request:
    body: "{\n    \"hostedCheckoutSpecificInput\": {\n        \"returnUrl\": \"http://testserver/payment/7ea6e25d-f404-4cca-9759-032469cdba16/return\"\n
      \   },\n    \"order\": {\n        \"amountOfMoney\": {\n            \"amount\":
      1135,\n            \"currencyCode\": \"EUR\"\n        }\n    }\n}"
    headers:
      Content-Type:
      - application/json
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE1LjYtYXJjaDEtMS8jMSBTTVAgUFJFRU1QVF9EWU5BTUlDIFRodSwgMTAgSnVsIDIwMjUgMTc6MTA6MTggKzAwMDAgUHl0aG9uLzMuMTIuOSAoQ1B5dGhvbjsgR0NDIDE0LjIuMSAyMDI1MDEyOCkiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y1LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: POST
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/maykinmedia/hostedcheckouts
  response:
    body:
      string: '{"RETURNMAC":"8334c4c2-06db-4087-b9f6-c0f187728fa2","hostedCheckoutId":"4368545358","merchantReference":"58c2c8190266452bb6cff3e6e0df2956","redirectUrl":"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/282bdf0c4a0640de8afbe91729bf78af","partialRedirectUrl":"preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/282bdf0c4a0640de8afbe91729bf78af"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - 0e38b600-837b-49eb-a48a-96e53b934182
      - 0e38b600-837b-49eb-a48a-96e53b934182
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/282bdf0c4a0640de8afbe91729bf78af
  response:
    body:
      string: ''
    headers:
      correlation-id:
      - d5fa5273-c0e9-4b9c-851e-a57437632f0f
      - d5fa5273-c0e9-4b9c-851e-a57437632f0f
      location:
      - https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3a%2f%2fpayment.preprod.direct.worldline-solutions.com%2fhostedcheckout%2fRedirect%2fReturn%2fefa22e05949349a08dbd72dba8a8f228
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3A%2F%2Fpayment.preprod.direct.worldline-solutions.com%2Fhostedcheckout%2FRedirect%2FReturn%2Fefa22e05949349a08dbd72dba8a8f228
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"utf-8\"
        />\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n
        \   <title>iDEAL Simulator</title>\r\n    <link href=\"https://simulator.test.v-psp.com/web-simulator/Content/default.css\"
        rel=\"stylesheet\" type=\"text/css\" />\r\n</head>\r\n<body>\r\n\r\n    <div
        id=\"header\">\r\n        <h1>iDEAL</h1>\r\n        <p>This page simulates
        iDEAL payments</p>\r\n    </div>\r\n\r\n    <div id=\"main\">\r\n        \r\n<form
        action=\"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/efa22e05949349a08dbd72dba8a8f228\"
        method=\"GET\" name=\"redirectForm\" id=\"redirectForm\">\r\n        <input
        type=\"hidden\" name=\"ec\" />\r\n        <input type=\"hidden\" name=\"trxid\"
        value=\"0\" />\r\n\r\n    <div class=\"section first\">\r\n        <h2>Redirection</h2>\r\n
        \       <ul>\r\n            <li>Redirect to domain: payment.preprod.direct.worldline-solutions.com</li>\r\n
        \           <li><a class=\"btn btn-primary btn-lg submit-link\" id=\"lnk_redirect\">Redirect
        &raquo;</a></li>\r\n            <li>or close this browser window to simulate
        an interrupted redirection</li>\r\n        </ul>\r\n    </div>\r\n\r\n\r\n<div
        class=\"section last\">\r\n    <h2>Details of the payment</h2>\r\n    <ul>\r\n
        \       <li id=\"payid\">Payid: 0</li>\r\n        <li id=\"trxid\">TransactionId:
        0</li>\r\n        <li id=\"issuer\">Issuer: </li>\r\n    </ul>\r\n</div>\r\n</form>\r\n
        \   </div>\r\n</body>\r\n</html>\r\n<script src=\"https://simulator.test.v-psp.com/web-simulator/Content/main.js\"
        type=\"text/javascript\"></script>"
    headers:
      content-type:
      - text/html; charset=utf-8
      correlation-id:
      - ededf434-b0a6-425e-9fa8-6640e68e14bf
      - ededf434-b0a6-425e-9fa8-6640e68e14bf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/efa22e05949349a08dbd72dba8a8f228?ec=&trxid=0
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"NL\">\r\n<head>\r\n    <meta charset=\"utf-8\">\r\n
        \   <title>\r\n        DIRECT E-COMMERCE - Uw betaling is geaccepteerd\r\n
        \   </title>\r\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\r\n    <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/58c5ead5c1face022cc7/templates/hostedcheckout/wlop_direct/styles.css\"
        crossorigin=\"anonymous\" integrity=\"sha384-6DVpiVzsJunxfK7BG1RvA7HX3oiv&#x2B;H4fognHeAD3bgUGCCKDUXQWu5pBosQ90P8X\">\r\n
        \   <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/58c5ead5c1face022cc7/templates/hostedcheckout/wlop_direct/worldline_favicon.ico\">\r\n
        \   \r\n</head>\r\n\r\n<body class=\"paysecurely-switch\">\r\n    <div class=\"container\">\r\n
        \       <div class=\"row banner\">\r\n            <div class=\"banner-content\">\r\n
        \               <h1 class=\"banner__merchant-name\">\r\n                    \r\n
        \                   Maykin Media B.V.\r\n                </h1>\r\n            </div>\r\n
        \       </div>\r\n\r\n        <div class=\"row main-content\">\r\n\r\n            \r\n\r\n
        \           \r\n\r\n            <form class=\"payment-statuspage\" name=\"payment-statuspage\"
        id=\"payment-statuspage\" method=\"get\" action=\"http://testserver/payment/7ea6e25d-f404-4cca-9759-032469cdba16/return\"
        payment-js-autosubmit=\"3000\"><input type=\"hidden\" name=\"RETURNMAC\" value=\"8334c4c2-06db-4087-b9f6-c0f187728fa2\"><input
        type=\"hidden\" name=\"hostedCheckoutId\" value=\"4368545358\">\r\n                <div
        class=\"navigation\">\r\n                    <div class=\"progress-bar\">\r\n
        \                       <div aria-describedby=\"progress-bar-label-text\">\r\n
        \                           <span id=\"progress-bar-label-text\">Betalingsvoortgang</span>\r\n
        \                           <ol>\r\n                                <li class=\"progress-bar__step
        progress-bar__step--success\">\r\n                                    Winkelwagentje\r\n
        \                                   <span class=\"payment-status-icon-information-description\">&nbsp;Aanvaard</span>\r\n
        \                               </li>\r\n                                \r\n
        \                               <li class=\"progress-bar__step progress-bar__step--success\">\r\n
        \     [...]
- request:
    body: null
    headers:
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE1LjYtYXJjaDEtMS8jMSBTTVAgUFJFRU1QVF9EWU5BTUlDIFRodSwgMTAgSnVsIDIwMjUgMTc6MTA6MTggKzAwMDAgUHl0aG9uLzMuMTIuOSAoQ1B5dGhvbjsgR0NDIDE0LjIuMSAyMDI1MDEyOCkiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y1LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/maykinmedia/hostedcheckouts/4368545358
  response:
    body:
      string: '{"createdPaymentOutput":{"payment":{"hostedCheckoutSpecificOutput":{"hostedCheckoutId":"4368545358"},"paymentOutput":{"amountOfMoney":{"amount":1135,"currencyCode":"EUR"},"references":{"merchantReference":"58c2c8190266452bb6cff3e6e0df2956"},"acquiredAmount":{"amount":1135,"currencyCode":"EUR"},"customer":{"device":{"ipAddressCountryCode":"99"}},"paymentMethod":"redirect","redirectPaymentMethodSpecificOutput":{"paymentProductId":809,"fraudResults":{"fraudServiceResult":"no-advice"},"customerBankAccount":{"bic":"RABONL2U","accountHolderName":"Simulator"},"authorisationCode":"274591147786808"}},"status":"CAPTURED","statusOutput":{"isCancellable":false,"statusCategory":"COMPLETED","statusCode":9,"isAuthorized":false,"isRefundable":true},"id":"4368545358_0"},"paymentStatusCategory":"SUCCESSFUL"},"status":"PAYMENT_CREATED"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - 4a87032e-7d58-45f7-a9c2-0e4c56ddd70e
      - 4a87032e-7d58-45f7-a9c2-0e4c56ddd70e
    status:
      code: 200
      message: OK
version: 1
