interactions:
- request:
    body: "{\n    \"cardPaymentMethodSpecificInput\": {\n        \"authorizationMode\":
      \"SALE\"\n    },\n    \"hostedCheckoutSpecificInput\": {\n        \"returnUrl\":
      \"http://testserver/payment/ab866d47-c1c8-401b-b68c-3b51d63bc68b/return\",\n
      \       \"variant\": \"SimplifiedCustomPaymentPage\"\n    },\n    \"order\":
      {\n        \"amountOfMoney\": {\n            \"amount\": 1135,\n            \"currencyCode\":
      \"EUR\"\n        },\n        \"references\": {\n            \"descriptor\":
      \"Descriptor: OF-X35QBE\",\n            \"merchantReference\": \"2026/OF-X35QBE/3\"\n
      \       }\n    }\n}"
    headers:
      Content-Type:
      - application/json
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE3LjAtMTAxMS1vZW0vIzExLVVidW50dSBTTVAgUFJFRU1QVF9EWU5BTUlDIEZyaSBKYW4gMjMgMDY6MTg6NDMgVVRDIDIwMjYgUHl0aG9uLzMuMTIuMyAoQ1B5dGhvbjsgR0NDIDEzLjMuMCkiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y3LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: POST
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts
  response:
    body:
      string: '{"RETURNMAC":"27f09bdf-bbf8-40ca-9720-5015c8c89337","hostedCheckoutId":"4481347258","merchantReference":"2026/OF-X35QBE/3","redirectUrl":"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/0cf02877bdc1477f895d6b8d078f8062","partialRedirectUrl":"preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/0cf02877bdc1477f895d6b8d078f8062"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - 1ad9fed9-7303-4e32-8252-a597f4d35e03
      - 1ad9fed9-7303-4e32-8252-a597f4d35e03
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/0cf02877bdc1477f895d6b8d078f8062
  response:
    body:
      string: ''
    headers:
      correlation-id:
      - 3f196100-ef2f-46ef-9ecc-e23173b1cfbc
      - 3f196100-ef2f-46ef-9ecc-e23173b1cfbc
      location:
      - https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3a%2f%2fpayment.preprod.direct.worldline-solutions.com%2fhostedcheckout%2fRedirect%2fReturn%2fdf907784761c47e3a2eee188ace2384c
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3A%2F%2Fpayment.preprod.direct.worldline-solutions.com%2Fhostedcheckout%2FRedirect%2FReturn%2Fdf907784761c47e3a2eee188ace2384c
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <title>iDEAL | Wero Simulator</title>\n    <link href=\"https://simulator.test.v-psp.com/web-simulator/Content/default.css\"
        rel=\"stylesheet\" type=\"text/css\" />\n</head>\n<body>\n\n    <div id=\"header\">\n
        \       <h1>iDEAL | Wero</h1>\n        <p>This page simulates iDEAL | Wero
        payments</p>\n    </div>\n\n    <div id=\"main\">\n        \n<form action=\"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/df907784761c47e3a2eee188ace2384c\"
        method=\"GET\" name=\"redirectForm\" id=\"redirectForm\">\n        <input
        type=\"hidden\" name=\"ec\" />\n        <input type=\"hidden\" name=\"trxid\"
        value=\"0\" />\n\n    <div class=\"section first\">\n        <h2>Redirection</h2>\n
        \       <ul>\n            <li>Redirect to domain: payment.preprod.direct.worldline-solutions.com</li>\n
        \           <li><a class=\"btn btn-primary btn-lg submit-link\" id=\"lnk_redirect\">Redirect
        &raquo;</a></li>\n            <li>or close this browser window to simulate
        an interrupted redirection</li>\n        </ul>\n    </div>\n\n\n<div class=\"section
        last\">\n    <h2>Details of the payment</h2>\n    <ul>\n        <li id=\"payid\">Payid:
        0</li>\n        <li id=\"trxid\">TransactionId: 0</li>\n        <li id=\"issuer\">Issuer:
        </li>\n    </ul>\n</div>\n</form>\n    </div>\n</body>\n</html>\n<script src=\"https://simulator.test.v-psp.com/web-simulator/Content/main.js\"
        type=\"text/javascript\"></script>"
    headers:
      content-type:
      - text/html; charset=utf-8
      correlation-id:
      - 67b4fba3-2470-43d5-9a9e-e6c05ae22bca
      - 67b4fba3-2470-43d5-9a9e-e6c05ae22bca
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/df907784761c47e3a2eee188ace2384c?ec=&trxid=0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"NL\">\n<head>\n    <meta charset=\"utf-8\">\n
        \   <title>\n        DIRECT E-COMMERCE - Uw betaling is geaccepteerd\n    </title>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/1690ac7af613c4b92173/templates/hostedcheckout/wlop_direct/styles.css\"
        crossorigin=\"anonymous\" integrity=\"sha384-vtO67D6WEAaIUcwD0LUlB8LhMkZBtDGeyEZO3ZpPAmF9c9gNRZx6VlNpy0GzJ13f\">\n
        \   <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/1690ac7af613c4b92173/templates/hostedcheckout/wlop_direct/worldline_favicon.ico\">\n
        \   <style type=\"text/css\" nonce=\"joB1Ww+GZZY=\"><!--\r\n.button--raised
        { background-color: #007B7C }\r\n.button--raised:hover { background-color:
        #59A9A9 }\r\n--></style>\n</head>\n\n<body class=\"paysecurely-switch\">\n
        \   <div class=\"container\">\n        <div class=\"row banner\">\n            <div
        class=\"banner-content\">\n                <h1 class=\"banner__merchant-name\">\n
        \                   \n                    Test title\n                </h1>\n
        \           </div>\n        </div>\n\n        <div class=\"row main-content\">\n\n
        \           \n\n            \n\n            <form class=\"payment-statuspage\"
        name=\"payment-statuspage\" id=\"payment-statuspage\" method=\"get\" action=\"http://testserver/payment/ab866d47-c1c8-401b-b68c-3b51d63bc68b/return\"
        payment-js-autosubmit=\"3000\"><input type=\"hidden\" name=\"RETURNMAC\" value=\"27f09bdf-bbf8-40ca-9720-5015c8c89337\"><input
        type=\"hidden\" name=\"hostedCheckoutId\" value=\"4481347258\">\n                <div
        class=\"navigation\">\n                    <div class=\"progress-bar\">\n
        \                       <div aria-describedby=\"progress-bar-label-text\">\n
        \                           <span id=\"progress-bar-label-text\">Betalingsvoortgang</span>\n
        \                           <ol>\n                                <li class=\"progress-bar__step
        progress-bar__step--success\">\n                                    Winkelwagentje\n
        \                                   <span class=\"payment-status-icon-information-description\">&nbsp;Status:
        Aanvaard</span>\n                                </li>\n                                \n
        \                               <li class=\"progress-bar__step progress-bar__step--success\">\n
        \            [...]
- request:
    body: null
    headers:
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE3LjAtMTAxMS1vZW0vIzExLVVidW50dSBTTVAgUFJFRU1QVF9EWU5BTUlDIEZyaSBKYW4gMjMgMDY6MTg6NDMgVVRDIDIwMjYgUHl0aG9uLzMuMTIuMyAoQ1B5dGhvbjsgR0NDIDEzLjMuMCkiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y3LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts/4481347258
  response:
    body:
      string: '{"createdPaymentOutput":{"payment":{"hostedCheckoutSpecificOutput":{"hostedCheckoutId":"4481347258"},"paymentOutput":{"amountOfMoney":{"amount":1135,"currencyCode":"EUR"},"references":{"merchantReference":"2026/OF-X35QBE/3"},"acquiredAmount":{"amount":1135,"currencyCode":"EUR"},"customer":{"device":{"ipAddressCountryCode":"99"}},"paymentMethod":"redirect","redirectPaymentMethodSpecificOutput":{"paymentProductId":809,"fraudResults":{"fraudServiceResult":"no-advice"},"customerBankAccount":{"iban":"NL17RABO0213698412","accountHolderName":"Simulator"}},"transactionDate":"2026-03-26T08:00:49.3306073Z"},"status":"CAPTURED","statusOutput":{"isCancellable":false,"statusCategory":"COMPLETED","statusCode":9,"isAuthorized":false,"isRefundable":true},"id":"4481347258_0"},"paymentStatusCategory":"SUCCESSFUL"},"status":"PAYMENT_CREATED"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - 6fe1eb73-472d-4cfb-86ce-affc4d5a725d
      - 6fe1eb73-472d-4cfb-86ce-affc4d5a725d
    status:
      code: 200
      message: OK
version: 1
