interactions:
- request:
    body: "{\n    \"hostedCheckoutSpecificInput\": {\n        \"returnUrl\": \"http://testserver/payment/78fe7f40-bb78-42df-87ec-c8ae0c20f68e/return\",\n
      \       \"variant\": \"SimplifiedCustomPaymentPage\"\n    },\n    \"order\":
      {\n        \"amountOfMoney\": {\n            \"amount\": 1135,\n            \"currencyCode\":
      \"EUR\"\n        },\n        \"references\": {\n            \"descriptor\":
      \"Descriptor: OF-PWQE5J\",\n            \"merchantReference\": \"2025/OF-PWQE5J/7\"\n
      \       }\n    }\n}"
    headers:
      Content-Type:
      - application/json
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE2LjUtYXJjaDEtMS8jMSBTTVAgUFJFRU1QVF9EWU5BTUlDIFRodSwgMDQgU2VwIDIwMjUgMjM6MTg6MTMgKzAwMDAgUHl0aG9uLzMuMTIuOSAoQ1B5dGhvbjsgR0NDIDE0LjIuMSAyMDI1MDIwNykiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y1LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: POST
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts
  response:
    body:
      string: '{"RETURNMAC":"f9e515b1-4fbe-42ce-b8eb-91542b6cd590","hostedCheckoutId":"4374030835","merchantReference":"2025/OF-PWQE5J/7","redirectUrl":"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/4c4acdf34d714e58a47c2a439afd8754","partialRedirectUrl":"preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/4c4acdf34d714e58a47c2a439afd8754"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - ee586ec8-4723-4af8-b7fb-380ff25641aa
      - ee586ec8-4723-4af8-b7fb-380ff25641aa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/4c4acdf34d714e58a47c2a439afd8754
  response:
    body:
      string: ''
    headers:
      correlation-id:
      - 393a163a-450d-46d2-bc1d-2b6e252dcc70
      - 393a163a-450d-46d2-bc1d-2b6e252dcc70
      location:
      - https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3a%2f%2fpayment.preprod.direct.worldline-solutions.com%2fhostedcheckout%2fRedirect%2fReturn%2fb5d18a614da74997a3d5228deef84961
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3A%2F%2Fpayment.preprod.direct.worldline-solutions.com%2Fhostedcheckout%2FRedirect%2FReturn%2Fb5d18a614da74997a3d5228deef84961
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"utf-8\"
        />\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n
        \   <title>iDEAL Simulator</title>\r\n    <link href=\"https://simulator.test.v-psp.com/web-simulator/Content/default.css\"
        rel=\"stylesheet\" type=\"text/css\" />\r\n</head>\r\n<body>\r\n\r\n    <div
        id=\"header\">\r\n        <h1>iDEAL</h1>\r\n        <p>This page simulates
        iDEAL payments</p>\r\n    </div>\r\n\r\n    <div id=\"main\">\r\n        \r\n<form
        action=\"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/b5d18a614da74997a3d5228deef84961\"
        method=\"GET\" name=\"redirectForm\" id=\"redirectForm\">\r\n        <input
        type=\"hidden\" name=\"ec\" />\r\n        <input type=\"hidden\" name=\"trxid\"
        value=\"0\" />\r\n\r\n    <div class=\"section first\">\r\n        <h2>Redirection</h2>\r\n
        \       <ul>\r\n            <li>Redirect to domain: payment.preprod.direct.worldline-solutions.com</li>\r\n
        \           <li><a class=\"btn btn-primary btn-lg submit-link\" id=\"lnk_redirect\">Redirect
        &raquo;</a></li>\r\n            <li>or close this browser window to simulate
        an interrupted redirection</li>\r\n        </ul>\r\n    </div>\r\n\r\n\r\n<div
        class=\"section last\">\r\n    <h2>Details of the payment</h2>\r\n    <ul>\r\n
        \       <li id=\"payid\">Payid: 0</li>\r\n        <li id=\"trxid\">TransactionId:
        0</li>\r\n        <li id=\"issuer\">Issuer: </li>\r\n    </ul>\r\n</div>\r\n</form>\r\n
        \   </div>\r\n</body>\r\n</html>\r\n<script src=\"https://simulator.test.v-psp.com/web-simulator/Content/main.js\"
        type=\"text/javascript\"></script>"
    headers:
      content-type:
      - text/html; charset=utf-8
      correlation-id:
      - 51449685-617c-41d4-b46c-ede8cc5d7393
      - 51449685-617c-41d4-b46c-ede8cc5d7393
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/b5d18a614da74997a3d5228deef84961?ec=&trxid=0
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"NL\">\r\n<head>\r\n    <meta charset=\"utf-8\">\r\n
        \   <title>\r\n        DIRECT E-COMMERCE - Uw betaling is geaccepteerd\r\n
        \   </title>\r\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\r\n    <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/15083fb2cca79c6b4e85/templates/hostedcheckout/wlop_direct/styles.css\"
        crossorigin=\"anonymous\" integrity=\"sha384-zTExDVXtitELNdQqQ2fTNIAEwIIudKLU2gz2xo8077HHhg2fhXdVExRh9ACKTRY8\">\r\n
        \   <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/15083fb2cca79c6b4e85/templates/hostedcheckout/wlop_direct/worldline_favicon.ico\">\r\n
        \   <style type=\"text/css\" nonce=\"oLeb2wHbllg=\"><!--\r\n.button--raised
        { background-color: #007B7C }\r\n.button--raised:hover { background-color:
        #59A9A9 }\r\n--></style>\r\n</head>\r\n\r\n<body class=\"paysecurely-switch\">\r\n
        \   <div class=\"container\">\r\n        <div class=\"row banner\">\r\n            <div
        class=\"banner-content\">\r\n                <h1 class=\"banner__merchant-name\">\r\n
        \                   \r\n                    Test title\r\n                </h1>\r\n
        \           </div>\r\n        </div>\r\n\r\n        <div class=\"row main-content\">\r\n\r\n
        \           \r\n\r\n            \r\n\r\n            <form class=\"payment-statuspage\"
        name=\"payment-statuspage\" id=\"payment-statuspage\" method=\"get\" action=\"http://testserver/payment/78fe7f40-bb78-42df-87ec-c8ae0c20f68e/return\"
        payment-js-autosubmit=\"3000\"><input type=\"hidden\" name=\"RETURNMAC\" value=\"f9e515b1-4fbe-42ce-b8eb-91542b6cd590\"><input
        type=\"hidden\" name=\"hostedCheckoutId\" value=\"4374030835\">\r\n                <div
        class=\"navigation\">\r\n                    <div class=\"progress-bar\">\r\n
        \                       <div aria-describedby=\"progress-bar-label-text\">\r\n
        \                           <span id=\"progress-bar-label-text\">Betalingsvoortgang</span>\r\n
        \                           <ol>\r\n                                <li class=\"progress-bar__step
        progress-bar__step--success\">\r\n                                    Winkelwagentje\r\n
        \                                   <span class=\"payment-status-icon-information-description\">&nbsp;Status:
        Aanvaard</span>\r\n                                </li>\r\n                                \r\n
        \                               <li class=\"progress-bar__step progress-bar__step--success\">\r\n
       [...]
- request:
    body: null
    headers:
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE2LjUtYXJjaDEtMS8jMSBTTVAgUFJFRU1QVF9EWU5BTUlDIFRodSwgMDQgU2VwIDIwMjUgMjM6MTg6MTMgKzAwMDAgUHl0aG9uLzMuMTIuOSAoQ1B5dGhvbjsgR0NDIDE0LjIuMSAyMDI1MDIwNykiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y1LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts/4374030835
  response:
    body:
      string: '{"createdPaymentOutput":{"payment":{"hostedCheckoutSpecificOutput":{"hostedCheckoutId":"4374030835"},"paymentOutput":{"amountOfMoney":{"amount":1135,"currencyCode":"EUR"},"references":{"merchantReference":"2025/OF-PWQE5J/7"},"acquiredAmount":{"amount":1135,"currencyCode":"EUR"},"customer":{"device":{"ipAddressCountryCode":"99"}},"paymentMethod":"redirect","redirectPaymentMethodSpecificOutput":{"paymentProductId":809,"fraudResults":{"fraudServiceResult":"no-advice"},"customerBankAccount":{"bic":"RABONL2U","accountHolderName":"Simulator"},"authorisationCode":"558874595098507"}},"status":"CAPTURED","statusOutput":{"isCancellable":false,"statusCategory":"COMPLETED","statusCode":9,"isAuthorized":false,"isRefundable":true},"id":"4374030835_0"},"paymentStatusCategory":"SUCCESSFUL"},"status":"PAYMENT_CREATED"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - af8e4dc8-fa9b-45ff-a57b-0b83bf91d663
      - af8e4dc8-fa9b-45ff-a57b-0b83bf91d663
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE2LjUtYXJjaDEtMS8jMSBTTVAgUFJFRU1QVF9EWU5BTUlDIFRodSwgMDQgU2VwIDIwMjUgMjM6MTg6MTMgKzAwMDAgUHl0aG9uLzMuMTIuOSAoQ1B5dGhvbjsgR0NDIDE0LjIuMSAyMDI1MDIwNykiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y1LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/payments/4374030835_0
  response:
    body:
      string: '{"paymentOutput":{"amountOfMoney":{"amount":1135,"currencyCode":"EUR"},"references":{"merchantReference":"2025/OF-PWQE5J/7"},"acquiredAmount":{"amount":1135,"currencyCode":"EUR"},"customer":{"device":{"ipAddressCountryCode":"99"}},"paymentMethod":"redirect","redirectPaymentMethodSpecificOutput":{"paymentProductId":809,"fraudResults":{"fraudServiceResult":"no-advice"},"customerBankAccount":{"iban":"NL17RABO0213698412","accountHolderName":"Simulator"}}},"status":"CAPTURED","statusOutput":{"isCancellable":false,"statusCategory":"COMPLETED","statusCode":9,"isAuthorized":false,"isRefundable":true},"id":"4374030835_0"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - cba8e3d9-faf1-4ffa-8af0-9339ef4a2655
      - cba8e3d9-faf1-4ffa-8af0-9339ef4a2655
    status:
      code: 200
      message: OK
version: 1
