interactions:
- request:
    body: "{\n    \"hostedCheckoutSpecificInput\": {\n        \"returnUrl\": \"http://testserver/payment/ccd4b838-7f4f-41c9-b0f2-7681d6407547/return\"\n
      \   },\n    \"order\": {\n        \"amountOfMoney\": {\n            \"amount\":
      1135,\n            \"currencyCode\": \"EUR\"\n        },\n        \"references\":
      {\n            \"descriptor\": \"Inzending: OF-MY3VAN\",\n            \"merchantReference\":
      \"2025/OF-MY3VAN/24\"\n        }\n    }\n}"
    headers:
      Content-Type:
      - application/json
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA2LjE2LjUtYXJjaDEtMS8jMSBTTVAgUFJFRU1QVF9EWU5BTUlDIFRodSwgMDQgU2VwIDIwMjUgMjM6MTg6MTMgKzAwMDAgUHl0aG9uLzMuMTIuOSAoQ1B5dGhvbjsgR0NDIDE0LjIuMSAyMDI1MDIwNykiLAogICAgInNka0lkZW50aWZpZXIiOiAiUHl0aG9uU2VydmVyU0RLL3Y1LjEuMCIsCiAgICAic2RrQ3JlYXRvciI6ICJPbmxpbmVQYXltZW50cyIsCiAgICAiaW50ZWdyYXRvciI6ICJvcGVuZm9ybXMiCn0=
    method: POST
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts
  response:
    body:
      string: '{"RETURNMAC":"ded22f0c-2cd8-4b19-be1b-f1ff928fa20d","hostedCheckoutId":"4375000424","merchantReference":"2025/OF-MY3VAN/24","redirectUrl":"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/fc3600589a5f44389ecbbe1604ababb8","partialRedirectUrl":"preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/fc3600589a5f44389ecbbe1604ababb8"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - 4c9ed539-65da-4f1c-b7f9-4d55d709adab
      - 4c9ed539-65da-4f1c-b7f9-4d55d709adab
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/fc3600589a5f44389ecbbe1604ababb8
  response:
    body:
      string: ''
    headers:
      correlation-id:
      - 6e65cbbb-2b8f-4de9-917e-46ccf3fca39b
      - 6e65cbbb-2b8f-4de9-917e-46ccf3fca39b
      location:
      - https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3a%2f%2fpayment.preprod.direct.worldline-solutions.com%2fhostedcheckout%2fRedirect%2fReturn%2f6e866bcde5954b179565f528b03ff323
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3A%2F%2Fpayment.preprod.direct.worldline-solutions.com%2Fhostedcheckout%2FRedirect%2FReturn%2F6e866bcde5954b179565f528b03ff323
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"utf-8\"
        />\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n
        \   <title>iDEAL Simulator</title>\r\n    <link href=\"https://simulator.test.v-psp.com/web-simulator/Content/default.css\"
        rel=\"stylesheet\" type=\"text/css\" />\r\n</head>\r\n<body>\r\n\r\n    <div
        id=\"header\">\r\n        <h1>iDEAL</h1>\r\n        <p>This page simulates
        iDEAL payments</p>\r\n    </div>\r\n\r\n    <div id=\"main\">\r\n        \r\n<form
        action=\"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/6e866bcde5954b179565f528b03ff323\"
        method=\"GET\" name=\"redirectForm\" id=\"redirectForm\">\r\n        <input
        type=\"hidden\" name=\"ec\" />\r\n        <input type=\"hidden\" name=\"trxid\"
        value=\"0\" />\r\n\r\n    <div class=\"section first\">\r\n        <h2>Redirection</h2>\r\n
        \       <ul>\r\n            <li>Redirect to domain: payment.preprod.direct.worldline-solutions.com</li>\r\n
        \           <li><a class=\"btn btn-primary btn-lg submit-link\" id=\"lnk_redirect\">Redirect
        &raquo;</a></li>\r\n            <li>or close this browser window to simulate
        an interrupted redirection</li>\r\n        </ul>\r\n    </div>\r\n\r\n\r\n<div
        class=\"section last\">\r\n    <h2>Details of the payment</h2>\r\n    <ul>\r\n
        \       <li id=\"payid\">Payid: 0</li>\r\n        <li id=\"trxid\">TransactionId:
        0</li>\r\n        <li id=\"issuer\">Issuer: </li>\r\n    </ul>\r\n</div>\r\n</form>\r\n
        \   </div>\r\n</body>\r\n</html>\r\n<script src=\"https://simulator.test.v-psp.com/web-simulator/Content/main.js\"
        type=\"text/javascript\"></script>"
    headers:
      content-type:
      - text/html; charset=utf-8
      correlation-id:
      - d8a2123f-679a-4173-b625-76b4350c7b79
      - d8a2123f-679a-4173-b625-76b4350c7b79
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/6e866bcde5954b179565f528b03ff323?ec=&trxid=0
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html lang=\"NLBE\">\r\n<head>\r\n    <meta charset=\"utf-8\">\r\n
        \   <title>\r\n        DIRECT E-COMMERCE - Uw betaling is geaccepteerd\r\n
        \   </title>\r\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\r\n    <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/15083fb2cca79c6b4e85/templates/hostedcheckout/wlop_direct/styles.css\"
        crossorigin=\"anonymous\" integrity=\"sha384-zTExDVXtitELNdQqQ2fTNIAEwIIudKLU2gz2xo8077HHhg2fhXdVExRh9ACKTRY8\">\r\n
        \   <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/15083fb2cca79c6b4e85/templates/hostedcheckout/wlop_direct/worldline_favicon.ico\">\r\n
        \   \r\n</head>\r\n\r\n<body class=\"paysecurely-switch\">\r\n    <div class=\"container\">\r\n
        \       <div class=\"row banner\">\r\n            <div class=\"banner-content\">\r\n
        \               <h1 class=\"banner__merchant-name\">\r\n                    \r\n
        \                   Maykin Media B.V.\r\n                </h1>\r\n            </div>\r\n
        \       </div>\r\n\r\n        <div class=\"row main-content\">\r\n\r\n            \r\n\r\n
        \           \r\n\r\n            <form class=\"payment-statuspage\" name=\"payment-statuspage\"
        id=\"payment-statuspage\" method=\"get\" action=\"http://testserver/payment/ccd4b838-7f4f-41c9-b0f2-7681d6407547/return\"
        payment-js-autosubmit=\"3000\"><input type=\"hidden\" name=\"RETURNMAC\" value=\"ded22f0c-2cd8-4b19-be1b-f1ff928fa20d\"><input
        type=\"hidden\" name=\"hostedCheckoutId\" value=\"4375000424\">\r\n                <div
        class=\"navigation\">\r\n                    <div class=\"progress-bar\">\r\n
        \                       <div aria-describedby=\"progress-bar-label-text\">\r\n
        \                           <span id=\"progress-bar-label-text\">Betalingsvoortgang</span>\r\n
        \                           <ol>\r\n                                <li class=\"progress-bar__step
        progress-bar__step--success\">\r\n                                    Winkelwagentje\r\n
        \                                   <span class=\"payment-status-icon-information-description\">&nbsp;Status:
        Aanvaard</span>\r\n                                </li>\r\n                                \r\n
        \                               <li class=\"progress-bar__step progress-bar__step--success\">\r\n
       [...]
