interactions:
- request:
    body: "{\n    \"cardPaymentMethodSpecificInput\": {\n        \"authorizationMode\":
      \"SALE\"\n    },\n    \"hostedCheckoutSpecificInput\": {\n        \"returnUrl\":
      \"http://testserver/payment/0317b895-2c0c-4ef8-b7c4-c9a0f7edae8b/return\"\n
      \   },\n    \"order\": {\n        \"amountOfMoney\": {\n            \"amount\":
      1135,\n            \"currencyCode\": \"EUR\"\n        },\n        \"references\":
      {\n            \"descriptor\": \"Inzending: OF-7TLB24\",\n            \"merchantReference\":
      \"2026/OF-7TLB24/19\"\n        }\n    }\n}"
    headers:
      Content-Type:
      - application/json
      X-GCS-ServerMetaInfo:
      - ewogICAgInBsYXRmb3JtSWRlbnRpZmllciI6ICJMaW51eCA3LjAuMTQtYXJjaDEtMS8jMSBTTVAgUFJFRU1QVF9EWU5BTUlDIFNhdCwgMjcgSnVuIDIwMjYgMTY6MTU6MTAgKzAwMDAgUHl0aG9uLzMuMTIuMTQgKENQeXRob247IEdDQyAxNi4yLjEgMjAyNjA4MTApIiwKICAgICJzZGtJZGVudGlmaWVyIjogIlB5dGhvblNlcnZlclNESy92Ny4xLjAiLAogICAgInNka0NyZWF0b3IiOiAiT25saW5lUGF5bWVudHMiLAogICAgImludGVncmF0b3IiOiAib3BlbmZvcm1zIgp9
    method: POST
    uri: https://payment.preprod.direct.worldline-solutions.com/v2/pspid/hostedcheckouts
  response:
    body:
      string: '{"RETURNMAC":"720e373f-9a14-4695-9728-cd3ac8ef71d3","hostedCheckoutId":"10083971641","merchantReference":"2026/OF-7TLB24/19","redirectUrl":"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/d1b39e28bc29445b86314e06b912afa6","partialRedirectUrl":"preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/d1b39e28bc29445b86314e06b912afa6"}'
    headers:
      api_auth:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      correlation-id:
      - 4ccbc372-aba1-4620-98d4-1e229d6ee69b
      - 4ccbc372-aba1-4620-98d4-1e229d6ee69b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Payment/Form/d1b39e28bc29445b86314e06b912afa6
  response:
    body:
      string: ''
    headers:
      correlation-id:
      - a4aa9fc3-354b-45e1-a999-027499876e4a
      - a4aa9fc3-354b-45e1-a999-027499876e4a
      location:
      - https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3a%2f%2fpayment.preprod.direct.worldline-solutions.com%2fhostedcheckout%2fRedirect%2fReturn%2febea64ffa02d4d058b7106d061642b1d
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://simulator.test.v-psp.com/web-simulator/Ideal/Index?returnurl=https%3A%2F%2Fpayment.preprod.direct.worldline-solutions.com%2Fhostedcheckout%2FRedirect%2FReturn%2Febea64ffa02d4d058b7106d061642b1d
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\"
        />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <title>iDEAL | Wero Simulator</title>\n    <link href=\"https://simulator.test.v-psp.com/web-simulator/Content/default.css\"
        rel=\"stylesheet\" type=\"text/css\" />\n</head>\n<body>\n\n    <div id=\"header\">\n
        \       <h1>iDEAL | Wero</h1>\n        <p>This page simulates iDEAL | Wero
        payments</p>\n    </div>\n\n    <div id=\"main\">\n        \n<form action=\"https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/ebea64ffa02d4d058b7106d061642b1d\"
        method=\"GET\" name=\"redirectForm\" id=\"redirectForm\">\n        <input
        type=\"hidden\" name=\"ec\" />\n        <input type=\"hidden\" name=\"trxid\"
        value=\"0\" />\n\n    <div class=\"section first\">\n        <h2>Redirection</h2>\n
        \       <ul>\n            <li>Redirect to domain: payment.preprod.direct.worldline-solutions.com</li>\n
        \           <li><a class=\"btn btn-primary btn-lg submit-link\" id=\"lnk_redirect\">Redirect
        &raquo;</a></li>\n            <li>or close this browser window to simulate
        an interrupted redirection</li>\n        </ul>\n    </div>\n\n\n<div class=\"section
        last\">\n    <h2>Details of the payment</h2>\n    <ul>\n        <li id=\"payid\">Payid:
        0</li>\n        <li id=\"trxid\">TransactionId: 0</li>\n        <li id=\"issuer\">Issuer:
        </li>\n    </ul>\n</div>\n</form>\n    </div>\n</body>\n</html>\n<script src=\"https://simulator.test.v-psp.com/web-simulator/Content/main.js\"
        type=\"text/javascript\"></script>"
    headers:
      content-type:
      - text/html; charset=utf-8
      correlation-id:
      - 5d7c231d-44e3-407a-b581-0584eb4f718f
      - 5d7c231d-44e3-407a-b581-0584eb4f718f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://payment.preprod.direct.worldline-solutions.com/hostedcheckout/Redirect/Return/ebea64ffa02d4d058b7106d061642b1d?ec=&trxid=0
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"EN\">\n<head>\n    <meta charset=\"utf-8\">\n
        \   <title>\n        DIRECT E-COMMERCE - Your payment is accepted\n    </title>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n
        \   <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/61cb63fb8c85c7fc420d/templates/hostedcheckout/wlop_direct/styles.css\"
        crossorigin=\"anonymous\" integrity=\"sha384-AQBfg/QwWRH5CVC28ACY4SQoXVJblUoztRbv9jslwbLgy2&#x2B;J0pndP4V6M07Zbs/v\">\n
        \   <link rel=\"stylesheet\" href=\"https://assets.test.cdn.v-psp.com/otp/61cb63fb8c85c7fc420d/templates/hostedcheckout/wlop_direct/worldline_favicon.ico\">\n
        \   \n</head>\n\n<body class=\"paysecurely-switch\">\n    <main role=\"main\">\n
        \       <div class=\"container\">\n            <div class=\"row banner\">\n
        \               <div class=\"banner-content\">\n                    <h1 class=\"banner__merchant-name\">\n
        \                       \n                        Maykin Media B.V.\n                    </h1>\n
        \               </div>\n            </div>\n\n            <div class=\"row
        main-content\">\n\n                \n\n                \n\n                <form
        class=\"payment-statuspage\" name=\"payment-statuspage\" id=\"payment-statuspage\"
        method=\"get\" action=\"http://testserver/payment/0317b895-2c0c-4ef8-b7c4-c9a0f7edae8b/return\"
        payment-js-autosubmit=\"6000\"><input type=\"hidden\" name=\"RETURNMAC\" value=\"720e373f-9a14-4695-9728-cd3ac8ef71d3\"><input
        type=\"hidden\" name=\"hostedCheckoutId\" value=\"10083971641\">\n                    <div
        class=\"navigation\">\n                        <div class=\"progress-bar\">\n
        \                           <div aria-describedby=\"progress-bar-label-text\">\n
        \                               <span id=\"progress-bar-label-text\">Payment
        progress</span>\n                                <ol>\n                                    <li
        class=\"progress-bar__step progress-bar__step--success\">\n                                        Shopping
        cart\n                                        <span class=\"payment-status-icon-information-description\">&nbsp;Status:
        Successful</span>\n                                    </li>\n                                    \n
        \                                   <li class=\"progress-bar__step progress-bar__step--success\">[...]
