{% load static cookie_consent_tags solo_tags %}<!DOCTYPE html>

{% get_solo 'config.GlobalConfiguration' as config %}
{% firstof config.analytics_cookie_consent_group.varname '_dummy' as analytics_varname %}
{% with request|cookie_group_accepted:analytics_varname as enable_analytics %}

<html lang="nl" class="view {% block view_class %}view--{{ request.resolver_match.namespaces|join:'-' }}-{{ request.resolver_match.url_name }}{% endblock %}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Openforms{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
    <link href="{% static 'bundles/openforms-css.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'bundles/core-css.css' %}" media="all" rel="stylesheet"/>
    {% block extra_css %}{% endblock %}
    {% if enable_analytics %}
        {# Load the various supported analytics provider snippets #}
        {% include "includes/analytics/all_head.html" %}
    {% endif %}
</head>

<body class="view__body">
    {% block content %}
        Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
        to get some actual content.
    {% endblock %}

    {% include "includes/cookie-notice.html" %}

    {% block extra_js %}{% endblock %}
    {% if enable_analytics %}
        {# Load the various supported analytics provider snippets #}
        {% include "includes/analytics/all_bottom.html" %}
    {% endif %}
</body>
</html>
{% endwith %}
