{% extends 'ui/views/abstract/detail.html' %}
{% load i18n %}

{% block card %}
    <div class="openforms-card">
        <header class="openforms-card__header">
            <h1 class="title">
                {% trans "Retrieve submission for co-signing" %}
            </h1>
        </header>

        <div class="openforms-card__body">
            {% block card_body %}
                <p class="body">
                    <form method="post" action=".">{% csrf_token %}
                        {% include "includes/forms/errorlist.html" with errors=form.non_field_errors only %}

                        {% include "includes/forms/field_wrapper.html" with field=form.code type='text' only %}

                        <p role="group" class="utrecht-button-group utrecht-button-group--column utrecht-button-group--distanced">
                            <button class="utrecht-button utrecht-button--submit utrecht-button--primary-action openforms-button-with-icon" type="submit">
                                {% trans "Submit" %}
                                <i class="fa fas fa-icon fa-arrow-right-long" aria-hidden="true"></i>
                            </button>
                        </p>
                    </form>
                    <form method="post" action="{% url "authentication:logout" %}">{% csrf_token %}
                        <p role="group" class="utrecht-button-group utrecht-button-group--column utrecht-button-group--distanced">
                            <button class="utrecht-link-button utrecht-link-button--html-button utrecht-link-button--openforms" type="submit" name="abort">
                                <i class="fa fas fa-icon fa-xmark" aria-hidden="true"></i>
                                {% trans "Log out" %}
                            </button>
                        </div>
                    </form>
                </p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
