{% extends "forms/form_detail.html" %}
{% load i18n %}

{% block card %}
<div class="openforms-card">
    <header class="openforms-card__header">
        <h1 class="title">
            {% if error.detail.code == 'form-inactive' %}
                {% trans "Sorry - this form is no longer available" %}
            {% elif error.detail.code == 'form-maintenance' %}
                {% trans "Form temporarily unavailable" %}
            {% endif %}
        </h1>
    </header>

    <div class="openforms-card__body">
        {% if error.detail.code == 'form-inactive' %}
            {% blocktrans trimmed %}
                Unfortunately, this form is no longer in use. We apologise for any
                inconveniences.
            {% endblocktrans %}
        {% elif error.detail.code == 'form-maintenance' %}
            {% blocktrans trimmed %}
                This form is currently undergoing maintenance. Please try again later.
            {% endblocktrans %}
        {% elif error.detail.code == 'form-maximum-submissions' %}
            {% blocktrans trimmed %}
                Unfortunately, this form is no longer available for submissions.
            {% endblocktrans %}
        {% endif %}
    </div>
</div>
{% endblock %}
