{% load i18n %}

<div class="cookie-notice">
    <span>
        {% url 'cookie_consent_cookie_group_list' as manage_url %}
        {% blocktrans trimmed %}
        We use cookies to optimize and improve our website and services.
        You can <a href="{{ manage_url }}">manage your preferences</a>.
        {% endblocktrans %}
    </span>

    <form action="{% url 'cookie_consent_accept' varname='' %}" method="post" class="cookie-notice__accept">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
        <button type="submit">{% trans "Accept all" %}</button>
    </form>
    <form action="{% url 'cookie_consent_decline' varname='' %}" method="post" class="cookie-notice__decline">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
        <button type="submit">{% trans "Decline all" %}</button>
    </form>
    <form action="{% url 'cookie_consent_decline' varname='' %}" method="post" class="cookie-notice__close">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
        <button type="submit">
            <span class="fa fa-icon fa-times"></span>
        </button>
    </form>
</div>
