{% load i18n solo_tags style_dictionary theme %}
{% get_theme as theme %}

{# Template out the configured design tokens JSON, if provided #}
{% if theme.design_token_values or theme.logo %}
    {% style_dictionary theme.design_token_values as design_tokens %}
    <style {% if not skip_csp %}nonce="{{ request.csp_nonce }}"{% endif %}>

    .{{ theme.get_classname }} {{% for token, value in design_tokens.items %}
      {{ token }}: {{ value }};{% endfor %}

      {% if theme.logo %}{# if there's a logo, output a design token that the CSS can pick up to set as background #}
      --of-header-logo-url: url('{{ theme.logo.url }}');{% endif %}
    }
    </style>
{% endif %}
