{% load i18n solo_tags %}

{% get_solo 'config.GlobalConfiguration' as config %}

<footer class="utrecht-page-footer">
    <div class="utrecht-page-footer__navigation">
        <ul class="utrecht-link-list">
            <li class="utrecht-link-list__item">
                <a
                    id="print-button"
                    href="#"
                    class="utrecht-link utrecht-link--html-a utrecht-link--openforms utrecht-link--openforms-hover utrecht-link--openforms-inherit"
                >{% trans "Print this page" %}</a>
            </li>
            <li class="utrecht-link-list__item">
                <a
                    href="{{ config.privacy_policy_url }}"
                    class="utrecht-link utrecht-link--html-a utrecht-link--openforms utrecht-link--openforms-hover utrecht-link--openforms-inherit"
                >{% trans "Privacy policy" %}</a>
            </li>
            <li class="utrecht-link-list__item">
                <a
                    href="{% url 'cookie_consent_cookie_group_list' %}"
                    class="utrecht-link utrecht-link--html-a utrecht-link--openforms utrecht-link--openforms-hover utrecht-link--openforms-inherit"
                >{% trans "Manage cookies" %}</a>
            </li>
            {% if user.is_staff %}
                <li class="utrecht-link-list__item">
                    <a
                        href="{% url 'api:api-docs' %}"
                        class="utrecht-link utrecht-link--html-a utrecht-link--openforms utrecht-link--openforms-hover utrecht-link--openforms-inherit"
                    >{% trans "API docs" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</footer>
