{% comment %}
This header template is deliberately minimal. It is end-user facing and usually they
will be redirected here from the municipality/organization website when they can't
include the SDK snippet directly.
{% endcomment %}
{% load i18n solo_tags theme %}

{% get_solo 'config.GlobalConfiguration' as config %}
{% get_theme as theme %}

{% firstof theme.organization_name config.organization_name "" as org_name %}
{% if org_name %}
    {% blocktranslate with name=org_name asvar logo_alt trimmed %}
        Back to website of {{ name }}
    {% endblocktranslate %}
{% else %}
    {% trans "Back to website" as logo_alt %}
{% endif %}

<header class="utrecht-page-header {% if theme.logo %}utrecht-page-header--openforms-with-logo{% endif %}">
    <a
        class="utrecht-link utrecht-link--html-a utrecht-link--openforms utrecht-page-header__openforms-return-url"
        href="{% firstof config.main_website '#' %}"
        title="{{ logo_alt }}"
        aria-label="{{ logo_alt }}"
    >{% if config.main_website %}{{ logo_alt }}{% endif %}</a>

    <div id="react-portal--language-selection"></div>
</header>
