$nav-height-primary-mobile: 70px;
$nav-height-primary-tablet: 70px;
$nav-height-secondary-mobile: 70px;
$nav-height-secondary-tablet: 40px;
$nav-min-height-tablet: $nav-height-primary-tablet + $nav-height-secondary-tablet
