interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/calculateduration?activityId=&amount=1&dateTime=2025-10-21
  response:
    body:
      string: "{\r\n  \"title\": \"InternalException\",\r\n  \"detail\": \"InternalException:
        code -1\",\r\n  \"instance\": \"/api/warp/v1/appointment/calculateduration\",\r\n
        \ \"type\": \"http://www.jccsoftware.nl/rfc7807/internal-exception\",\r\n
        \ \"status\": 500,\r\n  \"code\": -1,\r\n  \"errors\": [\r\n    {\r\n      \"code\":
        -1,\r\n      \"name\": \"InternalException\",\r\n      \"detail\": \"InternalException:
        code -1\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
version: 1
