interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8
  response:
    body:
      string: "{\r\n  \"minDate\": \"2026-02-13T00:00:00\",\r\n  \"maxDate\": \"2027-02-13T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f3b8864b-2e08-4d01-99db-e36f49f3e19c&fromDate=2026-02-13&toDate=2026-04-04&activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8&amount=2
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2026-02-16T08:30:00\",\r\n
        \   \"2026-02-16T08:35:00\",\r\n    \"2026-02-16T08:40:00\",\r\n    \"2026-02-16T08:45:00\",\r\n
        \   \"2026-02-16T08:50:00\",\r\n    \"2026-02-16T08:55:00\",\r\n    \"2026-02-16T09:00:00\",\r\n
        \   \"2026-02-16T09:05:00\",\r\n    \"2026-02-16T09:10:00\",\r\n    \"2026-02-16T09:15:00\",\r\n
        \   \"2026-02-16T09:20:00\",\r\n    \"2026-02-16T09:25:00\",\r\n    \"2026-02-16T09:30:00\",\r\n
        \   \"2026-02-16T09:35:00\",\r\n [...]
[...]
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/calculateduration?activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8&amount=2&dateTime=2026-02-16
  response:
    body:
      string: '60'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": null, "activityList": [{"activityId": "2e656741-db4d-4c75-ae57-97fda6ce5ce8",
      "amount": 2}], "customerList": [{"gender": 0, "firstName": "Vat", "lastName":
      "Boei", "birthDate": "2000-02-02", "id": null, "isMainCustomer": true}], "fromDateTime":
      "2026-02-16T08:30:00+01:00", "toDateTime": "2026-02-16T09:30:00+01:00", "locationId":
      "f3b8864b-2e08-4d01-99db-e36f49f3e19c", "message": "", "fieldList": null}'
    headers:
      Content-Type:
      - application/json
      language:
      - en
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment
  response:
    body:
      string: "{\r\n  \"id\": \"a02137da-a84c-4bb3-aae5-7c754c973efb\",\r\n  \"acknowledgeIsSuccess\":
        true\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
