interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8
  response:
    body:
      string: "{\r\n  \"minDate\": \"2026-01-19T00:00:00\",\r\n  \"maxDate\": \"2027-01-19T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f3b8864b-2e08-4d01-99db-e36f49f3e19c&fromDate=2026-01-19&toDate=2026-03-10&activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8&amount=1
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2026-01-19T10:30:00\",\r\n
        \   \"2026-01-19T10:35:00\",\r\n    \"2026-01-19T10:40:00\",\r\n    \"2026-01-19T10:45:00\",\r\n
        \   \"2026-01-19T10:50:00\",\r\n    \"2026-01-19T10:55:00\",\r\n    \"2026-01-19T11:00:00\",\r\n
        \   \"2026-01-19T11:05:00\",\r\n    \"2026-01-19T11:10:00\",\r\n    \"2026-01-19T11:15:00\",\r\n
        \   \"2026-01-19T11:20:00\",\r\n    \"2026-01-19T11:25:00\",\r\n    \"2026-01-19T11:30:00\",\r\n
        \   \"2026-01-19T11:35:00\",\r\n [...]
[...]
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/calculateduration?activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8&amount=1&dateTime=2026-01-19
  response:
    body:
      string: '30'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": null, "activityList": [{"activityId": "2e656741-db4d-4c75-ae57-97fda6ce5ce8",
      "amount": 1}], "customerList": [{"gender": 0, "firstName": "Vat", "lastName":
      "Boei", "birthDate": "2000-02-02", "id": null, "isMainCustomer": true}], "fromDateTime":
      "2026-01-19T10:30:00+01:00", "toDateTime": "2026-01-19T11:00:00+01:00", "locationId":
      "f3b8864b-2e08-4d01-99db-e36f49f3e19c", "message": "", "fieldList": null}'
    headers:
      Content-Type:
      - application/json
      language:
      - en
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment
  response:
    body:
      string: "{\r\n  \"id\": \"13ef4701-7965-4376-a73f-250ba5707b7c\",\r\n  \"acknowledgeIsSuccess\":
        true\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment?id=13ef4701-7965-4376-a73f-250ba5707b7c
  response:
    body:
      string: "{\r\n  \"id\": \"13ef4701-7965-4376-a73f-250ba5707b7c\",\r\n  \"startDateTime\":
        \"2026-01-19T10:30:00\",\r\n  \"endDateTime\": \"2026-01-19T11:00:00\",\r\n
        \ \"number\": 1021,\r\n  \"activityList\": [\r\n    {\r\n      \"amount\":
        1,\r\n      \"activity\": {\r\n        \"id\": \"2e656741-db4d-4c75-ae57-97fda6ce5ce8\",\r\n
        \       \"number\": 13,\r\n        \"description\": \"Omgevingsvergunning
        (aanvraag)\",\r\n        \"appointmentDuration\": 1800,\r\n        \"maxCountForEvent\":
        1,\r\n        \"activityGroupId\": \"6ab268cc-f663-4d4c-bf74-41032eae39a5\"\r\n
        \     }\r\n    }\r\n  ],\r\n  \"customerList\": [\r\n    {\r\n      \"id\":
        \"9362bb0c-b0b7-4e9a-be1e-5d02ad2bd6a2\",\r\n      \"isMainCustomer\": true,\r\n
        \     \"gender\": 0,\r\n      \"firstName\": \"Vat\",\r\n      \"lastName\":
        \"Boei\",\r\n      \"birthDate\": \"2000-02-02T00:00:00\"\r\n    }\r\n  ],\r\n
        \ \"location\": {\r\n    \"id\": \"f3b8864b-2e08-4d01-99db-e36f49f3e19c\",\r\n
        \   \"description\": \"Gemeentehuis Meerbergen\"\r\n  },\r\n  \"fieldList\":
        [],\r\n  \"creationDateTime\": \"2026-01-19T08:24:44.427\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/location/f3b8864b-2e08-4d01-99db-e36f49f3e19c
  response:
    body:
      string: "{\r\n  \"isDefault\": true,\r\n  \"locationNumber\": 1,\r\n  \"phoneNumberList\":
        [\r\n    {\r\n      \"phoneNumber\": {\r\n        \"value\": \"0123-456789\",\r\n
        \       \"auditId\": \"c03c22e4-0c34-4c63-bf2b-4f88a7c0a648\",\r\n        \"id\":
        \"76a7f13a-04f5-43f0-bfd2-b735f074681e\"\r\n      },\r\n      \"phoneNumberType\":
        {\r\n        \"name\": \"WorkPhoneNumber\",\r\n        \"auditId\": \"6bf6c82c-f3b8-4f53-9cdb-7dd29ada777e\",\r\n
        \       \"id\": \"825b7a38-115a-49c1-8104-0d849aae1be6\"\r\n      },\r\n      \"auditId\":
        \"51163ccb-a41e-4d69-a884-4211dd3a455b\",\r\n      \"id\": \"e7e1358d-4030-4d0c-bb2a-9881d01f5093\"\r\n
        \   }\r\n  ],\r\n  \"description\": \"Gemeentehuis Meerbergen\",\r\n  \"address\":
        {\r\n    \"streetName\": \"Raadhuisplein\",\r\n    \"houseNumber\": \"1\",\r\n
        \   \"postalCode\": \"1234 AZ\",\r\n    \"city\": \"Meerbergen\",\r\n    \"country\":
        {\r\n      \"id\": \"c59f75c0-1106-4423-b7d2-5d2b7c41c7bc\",\r\n      \"isoCode\":
        \"NL\",\r\n      \"name\": \"Nederland\"\r\n    },\r\n    \"auditId\": \"ca8cdf7f-9cce-43ea-91ad-46c1e05a724f\",\r\n
        \   \"id\": \"2410125a-5b9d-4223-90ab-5e11cbe02d08\"\r\n  },\r\n  \"isActive\":
        true,\r\n  \"auditId\": \"bdc3b77e-a3d2-4a27-993f-8f2f15d62619\",\r\n  \"id\":
        \"f3b8864b-2e08-4d01-99db-e36f49f3e19c\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/qrcode?id=13ef4701-7965-4376-a73f-250ba5707b7c
  response:
    body:
      string: '"812209ed2343a1"'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: DELETE
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment?id=13ef4701-7965-4376-a73f-250ba5707b7c
  response:
    body:
      string: "{\r\n  \"id\": \"13ef4701-7965-4376-a73f-250ba5707b7c\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
