interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=6063baab-b077-4eaf-8671-98394793724c
  response:
    body:
      string: "{\r\n  \"minDate\": \"2025-10-24T00:00:00\",\r\n  \"maxDate\": \"2026-10-24T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f3b8864b-2e08-4d01-99db-e36f49f3e19c&fromDate=2025-10-24&toDate=2025-10-31&activityId=6063baab-b077-4eaf-8671-98394793724c&amount=1
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2025-10-24T11:45:00\",\r\n
        \   \"2025-10-24T11:50:00\",\r\n    \"2025-10-24T11:55:00\",\r\n    \"2025-10-24T12:00:00\",\r\n
        \   \"2025-10-24T12:05:00\",\r\n    \"2025-10-24T12:10:00\",\r\n    \"2025-10-24T12:15:00\",\r\n
        \   \"2025-10-24T12:20:00\",\r\n    \"2025-10-24T13:00:00\",\r\n    \"2025-10-24T13:05:00\",\r\n
        \   \"2025-10-24T13:10:00\",\r\n    \"2025-10-24T13:15:00\",\r\n    \"2025-10-24T13:20:00\",\r\n
        \   \"2025-10-24T13:25:00\",\r\n [...]
