interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/customer/customerfields/required?selectedActivityId=637474a7-ea52-43f8-9e8a-30f3e0c13cf4
  response:
    body:
      string: "{\r\n  \"firstName\": 1,\r\n  \"initials\": 1,\r\n  \"lastNamePrefix\":
        1,\r\n  \"birthDate\": 1,\r\n  \"socialSecurityNumber\": 1,\r\n  \"nationality\":
        1,\r\n  \"language\": 1,\r\n  \"emailAddress\": 2,\r\n  \"mainPhoneNumber\":
        2,\r\n  \"mobilePhoneNumber\": 1,\r\n  \"streetName\": 1,\r\n  \"houseNumber\":
        1,\r\n  \"houseNumberSuffix\": 1,\r\n  \"postalCode\": 1,\r\n  \"city\": 1,\r\n
        \ \"country\": 1\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
