interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/listforappointment
  response:
    body:
      string: "[\r\n  {\r\n    \"id\": \"2d03b4bf-c56f-41fd-bce2-621f174c8df2\",\r\n
        \   \"number\": 24,\r\n    \"description\": \"Bouwvergunning aanvraag\",\r\n
        \   \"appointmentDuration\": 1200,\r\n    \"maxCountForEvent\": 0,\r\n    \"activityGroupId\":
        \"6ab268cc-f663-4d4c-bf74-41032eae39a5\"\r\n  },\r\n  {\r\n    \"id\": \"2e656741-db4d-4c75-ae57-97fda6ce5ce8\",\r\n
        \   \"number\": 13,\r\n    \"description\": \"Omgevingsvergunning (aanvraag)\",\r\n
        \   \"appointmentDuration\": 1800,\r\n    \"maxCountForEvent\": 1,\r\n    \"activityGroupId\":
        \"6ab268cc-f663-4d4c-bf74-41032eae39a5\"\r\n  },\r\n  {\r\n    \"id\": \"8c91b619-8bd4-4ba3-a40f-d5feed643952\",\r\n
        \   \"number\": 9,\r\n    \"description\": \"N[...]
