interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/listforappointment?locationId=f9332b85-2ca3-4b42-aaa9-07e37c010a83
  response:
    body:
      string: "[\r\n  {\r\n    \"id\": \"637474a7-ea52-43f8-9e8a-30f3e0c13cf4\",\r\n
        \   \"number\": 40,\r\n    \"description\": \"Partnerschap met toespraak -
        eigen BABS\",\r\n    \"appointmentDuration\": 3600,\r\n    \"maxCountForEvent\":
        1,\r\n    \"activityGroupId\": \"e06e9567-47c2-4618-93ad-2664c9bbeabe\"\r\n
        \ },\r\n  {\r\n    \"id\": \"27535042-9f33-498f-b559-39137639bad3\",\r\n    \"number\":
        35,\r\n    \"description\": \"Huwelijk met toespraak - BABS3\",\r\n    \"appointmentDuration\":
        3600,\r\n    \"maxCountForEvent\": 1,\r\n    \"activityGroupId\": \"e06e9567-47c2-4618-93ad-2664c9bbeabe\"\r\n
        \ },\r\n  {\r\n    \"id\": \"136cb70e-dda7-4383-bdf7-3c990a74e9be\",\r\n    \"number\":
        39,\r\n    \"description\": \"P[...]
