interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=637474a7-ea52-43f8-9e8a-30f3e0c13cf4&activityId=27535042-9f33-498f-b559-39137639bad3
  response:
    body:
      string: "{\r\n  \"minDate\": \"2026-04-23T00:00:00\",\r\n  \"maxDate\": \"2027-03-26T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f9332b85-2ca3-4b42-aaa9-07e37c010a83&fromDate=2026-04-23&toDate=2026-06-12&activityId=637474a7-ea52-43f8-9e8a-30f3e0c13cf4&activityId=27535042-9f33-498f-b559-39137639bad3&amount=1&amount=1
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2026-04-23T11:00:00\",\r\n
        \   \"2026-04-23T11:15:00\",\r\n    \"2026-04-23T11:30:00\",\r\n    \"2026-04-23T11:45:00\",\r\n
        \   \"2026-04-23T12:00:00\",\r\n    \"2026-04-23T12:15:00\",\r\n    \"2026-04-23T12:30:00\",\r\n
        \   \"2026-04-23T12:45:00\",\r\n    \"2026-04-23T13:00:00\",\r\n    \"2026-04-23T13:15:00\",\r\n
        \   \"2026-04-23T13:30:00\",\r\n    \"2026-04-23T13:45:00\",\r\n    \"2026-04-23T14:00:00\",\r\n
        \   \"2026-04-23T14:15:00\",\r\n [...]
[...]
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/calculateduration?activityId=637474a7-ea52-43f8-9e8a-30f3e0c13cf4&activityId=27535042-9f33-498f-b559-39137639bad3&amount=1&amount=1&dateTime=2026-04-23
  response:
    body:
      string: '120'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": null, "activityList": [{"activityId": "637474a7-ea52-43f8-9e8a-30f3e0c13cf4",
      "amount": 1}, {"activityId": "27535042-9f33-498f-b559-39137639bad3", "amount":
      1}], "customerList": [{"gender": 0, "lastName": "Boei", "emailAddress": "testBoei@example.com",
      "phoneNumber": "0612345678", "id": null, "isMainCustomer": true}], "fromDateTime":
      "2026-04-23T11:00:00+02:00", "toDateTime": "2026-04-23T13:00:00+02:00", "locationId":
      "f9332b85-2ca3-4b42-aaa9-07e37c010a83", "message": "", "fieldList": null}'
    headers:
      Content-Type:
      - application/json
      language:
      - en
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment
  response:
    body:
      string: "{\r\n  \"id\": \"e844fe94-5908-4f10-b54b-ff35507d3719\",\r\n  \"acknowledgeIsSuccess\":
        true\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
