interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=6063baab-b077-4eaf-8671-98394793724c
  response:
    body:
      string: "{\r\n  \"minDate\": \"2026-03-26T00:00:00\",\r\n  \"maxDate\": \"2027-03-26T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f3b8864b-2e08-4d01-99db-e36f49f3e19c&fromDate=2026-03-26&toDate=2026-04-02&activityId=6063baab-b077-4eaf-8671-98394793724c&amount=1
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2026-03-26T09:40:00\",\r\n
        \   \"2026-03-26T09:45:00\",\r\n    \"2026-03-26T09:50:00\",\r\n    \"2026-03-26T09:55:00\",\r\n
        \   \"2026-03-26T10:00:00\",\r\n    \"2026-03-26T10:05:00\",\r\n    \"2026-03-26T10:10:00\",\r\n
        \   \"2026-03-26T10:15:00\",\r\n    \"2026-03-26T10:20:00\",\r\n    \"2026-03-26T10:25:00\",\r\n
        \   \"2026-03-26T10:30:00\",\r\n    \"2026-03-26T10:35:00\",\r\n    \"2026-03-26T10:40:00\",\r\n
        \   \"2026-03-26T10:45:00\",\r\n [...]
