interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=6063baab-b077-4eaf-8671-98394793724c
  response:
    body:
      string: "{\r\n  \"minDate\": \"2026-01-14T00:00:00\",\r\n  \"maxDate\": \"2027-01-14T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=fake_location&fromDate=2026-01-14&toDate=2026-01-07&activityId=6063baab-b077-4eaf-8671-98394793724c&amount=1
  response:
    body:
      string: "{\r\n  \"title\": \"InternalException\",\r\n  \"detail\": \"InternalException:
        code -1\",\r\n  \"instance\": \"/api/warp/v1/appointment/availabletimelist\",\r\n
        \ \"type\": \"http://www.jccsoftware.nl/rfc7807/internal-exception\",\r\n
        \ \"status\": 500,\r\n  \"code\": -1,\r\n  \"errors\": [\r\n    {\r\n      \"code\":
        -1,\r\n      \"name\": \"InternalException\",\r\n      \"detail\": \"InternalException:
        code -1\"\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
version: 1
