interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/customer/customerfields/required?selectedActivityId=53410a47-6ede-4225-81e0-4ebffaae0ef3
  response:
    body:
      string: "{\r\n  \"initials\": 1,\r\n  \"socialSecurityNumber\": 1,\r\n  \"nationality\":
        1,\r\n  \"language\": 1,\r\n  \"mainPhoneNumber\": 1,\r\n  \"mobilePhoneNumber\":
        1,\r\n  \"streetName\": 1,\r\n  \"houseNumber\": 1,\r\n  \"houseNumberSuffix\":
        1,\r\n  \"postalCode\": 1,\r\n  \"city\": 1,\r\n  \"country\": 1\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
