interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=6063baab-b077-4eaf-8671-98394793724c
  response:
    body:
      string: "{\r\n  \"minDate\": \"2026-01-15T00:00:00\",\r\n  \"maxDate\": \"2027-01-15T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f3b8864b-2e08-4d01-99db-e36f49f3e19c&fromDate=2026-01-15&toDate=2026-01-22&activityId=6063baab-b077-4eaf-8671-98394793724c&amount=1
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2026-01-15T14:45:00\",\r\n
        \   \"2026-01-15T14:50:00\",\r\n    \"2026-01-15T14:55:00\",\r\n    \"2026-01-15T15:00:00\",\r\n
        \   \"2026-01-15T15:05:00\",\r\n    \"2026-01-15T15:10:00\",\r\n    \"2026-01-15T15:15:00\",\r\n
        \   \"2026-01-15T15:20:00\",\r\n    \"2026-01-15T15:25:00\",\r\n    \"2026-01-15T15:30:00\",\r\n
        \   \"2026-01-15T15:35:00\",\r\n    \"2026-01-15T15:40:00\",\r\n    \"2026-01-15T15:45:00\",\r\n
        \   \"2026-01-15T15:50:00\",\r\n [...]
