interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8
  response:
    body:
      string: "{\r\n  \"minDate\": \"2026-08-21T00:00:00\",\r\n  \"maxDate\": \"2027-08-21T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f3b8864b-2e08-4d01-99db-e36f49f3e19c&fromDate=2026-08-21&toDate=2026-10-10&activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8&amount=2
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2026-08-21T14:40:00\",\r\n
        \   \"2026-08-21T14:45:00\",\r\n    \"2026-08-21T14:50:00\",\r\n    \"2026-08-21T14:55:00\",\r\n
        \   \"2026-08-21T15:00:00\",\r\n    \"2026-08-21T15:05:00\",\r\n    \"2026-08-21T15:10:00\",\r\n
        \   \"2026-08-21T15:15:00\",\r\n    \"2026-08-21T15:20:00\",\r\n    \"2026-08-21T15:25:00\",\r\n
        \   \"2026-08-21T15:30:00\",\r\n    \"2026-08-21T15:35:00\",\r\n    \"2026-08-21T15:40:00\",\r\n
        \   \"2026-08-21T15:45:00\",\r\n [...]
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f3b8864b-2e08-4d01-99db-e36f49f3e19c&fromDate=2026-08-21&toDate=2026-08-22&activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8&amount=2
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2026-08-21T14:40:00\",\r\n
        \   \"2026-08-21T14:45:00\",\r\n    \"2026-08-21T14:50:00\",\r\n    \"2026-08-21T14:55:00\",\r\n
        \   \"2026-08-21T15:00:00\",\r\n    \"2026-08-21T15:05:00\",\r\n    \"2026-08-21T15:10:00\",\r\n
        \   \"2026-08-21T15:15:00\",\r\n    \"2026-08-21T15:20:00\",\r\n    \"2026-08-21T15:25:00\",\r\n
        \   \"2026-08-21T15:30:00\",\r\n    \"2026-08-21T15:35:00\",\r\n    \"2026-08-21T15:40:00\",\r\n
        \   \"2026-08-21T15:45:00\",\r\n    \"2026-08-21T15:50:00\",\r\n    \"2026-08-21T15:55:00\",\r\n
        \   \"2026-08-21T16:00:00\"\r\n  ],\r\n  \"appointmentDuration\": 3600\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - en
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/calculateduration?activityId=2e656741-db4d-4c75-ae57-97fda6ce5ce8&amount=2&dateTime=2026-08-21
  response:
    body:
      string: '60'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": null, "activityList": [{"activityId": "2e656741-db4d-4c75-ae57-97fda6ce5ce8",
      "amount": 2}], "customerList": [{"gender": 0, "firstName": "Vat", "lastName":
      "Boei", "birthDate": "2000-02-02", "id": null, "isMainCustomer": true}], "fromDateTime":
      "2026-08-21T14:40:00+02:00", "toDateTime": "2026-08-21T15:40:00+02:00", "locationId":
      "f3b8864b-2e08-4d01-99db-e36f49f3e19c", "message": "", "fieldList": null}'
    headers:
      Content-Type:
      - application/json
      language:
      - en
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment
  response:
    body:
      string: "{\r\n  \"id\": \"8bae5352-42ac-481a-8112-f2d3ff7e4af0\",\r\n  \"acknowledgeIsSuccess\":
        true\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
