interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/calculateduration?dateTime=2025-10-21
  response:
    body:
      string: "{\r\n  \"title\": \"ActivityId and amount lists have to be filled\",\r\n
        \ \"detail\": \"ActivityId and amount lists have to be filled\",\r\n  \"instance\":
        \"/api/warp/v1/appointment/calculateduration\",\r\n  \"type\": \"http://www.jccsoftware.nl/rfc7807/bad-request-exception\",\r\n
        \ \"status\": 400,\r\n  \"code\": 6001,\r\n  \"errors\": []\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
