interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v2/zoeken?kvkNummer=69599084
  response:
    body:
      string: '{"_links":{"self":{"href":"https://api.kvk.nl/test/api/v2/zoeken?kvknummer=69599084&pagina=1&resultatenperpagina=10"}},"pagina":1,"resultatenPerPagina":10,"totaal":2,"resultaten":[{"_links":{"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"},"vestigingsprofiel":{"href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/000038509520"}},"kvkNummer":"69599084","vestigingsnummer":"000038509520","naam":"Test
        EMZ Nevenvestiging Govert","adres":{"binnenlandsAdres":{"type":"bezoekadres","straatnaam":"Geneinde","plaats":"Maastricht"}},"type":"nevenvestiging"},{"_links":{"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"},"vestigingsprofiel":{"href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/000038509504"}},"kvkNummer":"69599084","vestigingsnummer":"000038509504","naam":"Test
        EMZ Dagobert","adres":{"binnenlandsAdres":{"type":"bezoekadres","straatnaam":"Abebe
        Bikilalaan","plaats":"Amsterdam"}},"type":"hoofdvestiging"}]}'
    headers:
      API-Version:
      - 2.1.0
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v2/zoeken?kvkNummer=90004333
  response:
    body:
      string: '{"fout":[{"code":"IPD0004","omschrijving":"Het KVK-nummer 90004333
        is niet valide."}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: ''
version: 1
