interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v2/zoeken?vestigingsnummer=990000541921
  response:
    body:
      string: '{"_links":{"self":{"href":"https://api.kvk.nl/test/api/v2/zoeken?vestigingsnummer=990000541921&pagina=1&resultatenperpagina=10"}},"pagina":1,"resultatenPerPagina":10,"totaal":1,"resultaten":[{"_links":{"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/90001354"},"vestigingsprofiel":{"href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/990000541921"}},"kvkNummer":"90001354","vestigingsnummer":"990000541921","naam":"Grand
        Joyflex B.V.","adres":{"binnenlandsAdres":{"type":"postadres","plaats":"Sterksel"}},"type":"hoofdvestiging"}]}'
    headers:
      API-Version:
      - 2.1.0
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v2/zoeken?vestigingsnummer=665544332211
  response:
    body:
      string: '{"fout":[{"code":"IPD5200","omschrijving":"Er zijn geen gegevens gevonden
        die voldoen aan de opgegeven zoekparameters."}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: ''
version: 1
