{% load openforms %}{% if form %}{% with 'openforms-container' as div_id %}
<div id="{{ div_id }}"></div>
<script src="{{ sdk_js_url }}"></script>
<script>
    const formId = '{{ form.slug|escapejs }}';
    const baseUrl = '{% filter escapejs %}{% api_base_url %}{% endfilter %}';
    const targetNode = document.getElementById('{{ div_id|escapejs }}');
    const basePath = '{% filter escapejs %}{% url "forms:form-detail" slug=form.slug %}{% endfilter %}';
    const form = new OpenForms.OpenForm(targetNode, { baseUrl, formId, basePath });
    form.init();
</script>{% endwith %}{% endif %}
