{% extends "maykin_2fa/login.html" %}
{% load oidc_client i18n static %}

{% block extra_login_options %}
    {% get_oidc_admin_client as oidc_config %}
    {% if oidc_config.enabled %}

        <div
            class="admin-login-option admin-login-option--password"
            data-bound="{{ form.is_bound|yesno:'true,false' }}"
            data-wizardstep="{{ wizard.steps.current }}"
        >
            <a href="#">{% trans "Login with application account" %}</a>
        </div>

        <div class="admin-login-divider"><span>{% trans "or" %}</span></div>
        <div class="admin-login-option admin-login-option--oidc">
            <a href="{% url 'oidc_authentication_init' %}">{% trans "Login with organization account" %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block extra_recovery_options %}
<li>
    {% trans 'Contact support to start the account recovery process' %}
</li>
{% endblock extra_recovery_options %}

{# Do not show any version information #}
{% block footer %}
    <div id="footer"></div>
    <script src="{% static 'bundles/core-js.js' %}"></script>
{% endblock %}
