{% extends "maykin_2fa/login.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "maykin_common/css/admin_login.css" %}">
{% endblock %}

{% block login_form_container %}
    {% include "maykin_common/maykin_2fa/admin/oidc_login_options.html" with block_super=block.super %}
{% endblock login_form_container %}

{% block extra_recovery_options %}
<li>
    {% trans 'Contact support to start the account recovery process' %}
</li>
{% endblock extra_recovery_options %}

{# Do not show any version information #}
{% block footer %}
    <div id="footer"></div>
{% endblock %}
