@use '../lib/bem';

.cookie-group {
  @include bem.element('form') {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

// TODO: move OF theme-specific overrides to separate stylesheet
.openforms-theme {
  .cookie-group {
    --utrecht-paragraph-line-height: 1.5;

    &__title {
      margin-block-end: 1rem !important; // SDK styles for :not(:last-child) override this otherwise
    }
  }
}
