interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v1/vestigingsprofielen/000038509504
  response:
    body:
      string: '{"vestigingsnummer":"000038509504","kvkNummer":"69599084","indNonMailing":"Ja","formeleRegistratiedatum":"20200828","materieleRegistratie":{"datumAanvang":"20150828"},"eersteHandelsnaam":"Test
        EMZ Dagobert","indHoofdvestiging":"Ja","indCommercieleVestiging":"Ja","voltijdWerkzamePersonen":1,"totaalWerkzamePersonen":1,"deeltijdWerkzamePersonen":0,"handelsnamen":[{"naam":"Test
        EMZ Dagobert","volgorde":0},{"naam":"Tweede handelsnaam 1MZ","volgorde":1},{"naam":"Derde
        handelsnaam 1MZ","volgorde":2},{"naam":"Vierde handelsnaam 1MZ","volgorde":3}],"adressen":[{"type":"bezoekadres","indAfgeschermd":"Nee","volledigAdres":"Abebe
        Bikilalaan 17 M                         1034WL Amsterdam","straatnaam":"Abebe
        Bikilalaan","huisnummer":17,"huisletter":"M","postcode":"1034WL","plaats":"Amsterdam","land":"Nederland"}],"sbiActiviteiten":[{"sbiCode":"10110","sbiOmschrijving":"Verwerking
        en conservering van vlees, met uitzondering van vlees van gevogelte","indHoofdactiviteit":"Ja"},{"sbiCode":"10120","sbiOmschrijving":"Verwerking
        en conservering van vlees van gevogelte","indHoofdactiviteit":"Nee"},{"sbiCode":"10130","sbiOmschrijving":"Vervaardiging
        van vleesproducten","indHoofdactiviteit":"Nee"}],"_links":{"self":{"href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/000038509504"},"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"}}}'
    headers:
      API-Version:
      - 1.5.0
      Content-Type:
      - application/hal+json
      ap:
      - Prerelease BR
      apiAuthzDetails:
      - Not Set|l7xx1f2691f2520d487b902f4e0b57a0b197|0feb89a2-67e4-4af4-a4fd-24533eaeeee9|quota?ok|rate?
      counter.id:
      - ''
    status:
      code: 200
      message: ''
version: 1
