{% extends "admin/change_list.html" %}
{% load i18n static admin_urls admin_list forms_admin_list %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static "bundles/core-css.css" %}">
{{ block.super }}
{% endblock %}

{% block object-tools-items %}

    {% if not is_popup and has_add_permission and has_change_permission %}
    <li>
        {% url 'admin:forms_import' as import %}
        <a href="{% add_preserved_filters import is_popup to_field %}" class="addlink">
            {% trans "Import form(s)" %}
        </a>
    </li>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    {{ request.GET|json_script:'request-GET' }}

    {% comment %}
        Scaffold the table layout so all categories are properly aligned.

        Taken from django/contrib/admin/templates/admin/change_list_results.html
    {% endcomment %}
    <div class="results">

        <table id="result_list" class="form-category-tree">
            <thead>
                <tr>
                    {% for header in result_headers %}
                    <th scope="col"{{ header.class_attrib }}>
                       {% if header.sortable %}
                         {% if header.sort_priority > 0 %}
                           <div class="sortoptions">
                             <a class="sortremove" href="{{ header.url_remove }}" title="{% translate "Remove from sorting" %}"></a>
                             {% if num_sorted_fields > 1 %}<span class="sortpriority" title="{% blocktranslate with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktranslate %}">{{ header.sort_priority }}</span>{% endif %}
                             <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% translate "Toggle sorting" %}"></a>
                           </div>
                         {% endif %}
                       {% endif %}
                       <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}</div>
                       <div class="clear"></div>
                    </th>{% endfor %}
                </tr>
            </thead>

            {# Output the category tree structure, where we will later inject the form list per category #}
            {% for category in categories %}
                <tbody>
                    <tr
                        class="form-category {% if not category.is_leaf or category.form_count %}form-category--has-children{% endif %} {% if category.is_leaf %}form-category--leaf{% endif %}"
                        data-id="{{ category.id }}"
                        data-parent-id="{{ category.get_parent.id }}"
                        data-depth="{{ category.get_depth }}">
                        {# span action checkbox + first column #}
                        <th colspan="{{ result_headers|length }}" scope="col" class="form-category__name">
                            {% render_spacers category.get_depth|add:"-1" classname="form-category__spacer" %}
                            <span class="form-category__icon form-category__icon--collapsed">▶</span>
                            <span class="form-category__icon form-category__icon--expanded">▼</span>
                            {{ category }} ({{ category.form_count }}/{{ category.total_form_count }})
                        </th>
                    </tr>

                    {% if category.form_count %}
                        <tr class="form-category__loader">
                            <td colspan="{{ result_headers|length }}">
                                <div class="box-loader">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}

                    {# content managed asynchronously via JS #}
                </tbody>
            {% endfor %}

            {# forms without category #}
            <tbody>
                <tr class="form-category form-category--leaf {% if count_no_category %}form-category--has-children{% endif %}" data-id="" data-depth="0">
                    <th colspan="{{ result_headers|length }}" scope="col" class="form-category__name">
                        <span class="form-category__icon form-category__icon--collapsed">▶</span>
                        <span class="form-category__icon form-category__icon--expanded">▼</span>
                        {% trans "Forms without category" %} ({{ count_no_category }}/{{ total_count_no_category }})
                    </th>
                </tr>

                {% if count_no_category %}
                    <tr class="form-category__loader">
                        <td colspan="{{ result_headers|length }}">
                            <div class="box-loader">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </td>
                    </tr>
                {% endif %}

                {# content managed asynchronously via JS #}
            </tbody>

        </table>
    </div>

    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}

    <script src="{% static "bundles/core-js.js" %}"></script>
{% endblock %}

{% block pagination %}{% endblock %}
