{% extends 'admin/change_form.html' %}
{% load static i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'bundles/core-css.css' %}">
{% endblock %}

{% block field_sets %}
<div
    class="react-form-create"
    data-form-uuid="{{ original.uuid|default:'' }}"
    data-form-name="{{ original.name|default:'' }}"
    data-form-slug="{{ original.slug|default:'' }}"
    data-csrftoken="{{ csrf_token }}"
> {# Managed by React #} </div>
{% endblock %}

{% block inline_field_sets %}{% endblock %}

{% block submit_buttons_bottom %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script src="{% static 'bundles/core-js.js' %}"></script>
{% endblock %}
