{% extends 'admin/change_form.html' %}
{% load i18n static openforms %}

{% block extrastyle %}
    {{ block.super }}
    {% if use_react %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'bundles/core-css.css' %}">
    {% endif %}
{% endblock %}


{% block field_sets %}
{% if use_react %}
    <div
        class="react-form-create"
        data-form-uuid="{{ original.uuid|default:'' }}"
        data-form-name="{{ original.name|default:'' }}"
        data-form-slug="{{ original.slug|default:'' }}"
        data-form-begin-text="{{ original.begin_text | default:'' }}"
        data-form-previous-text="{{ original.previous_text | default:'' }}"
        data-form-change-text="{{ original.change_text | default:'' }}"
        data-form-confirm-text="{{ original.begin_text | default:'' }}"
        data-csrftoken="{{ csrf_token }}"
    > {# Managed by React #} </div>
{% else %}
    {{ block.super }}
{% endif %}
{% endblock %}

{% block inline_field_sets %}
{% if not use_react %}{{ block.super }}{% endif %}
{% endblock %}

{% block after_field_sets %}
<fieldset class="module aligned">
    <h2>{% trans "Snippets" %}</h2>

    <div class="form-row">
        <div>
            {# TODO: add copy button #}
            <label for="_snippet-sdk-js">{% trans "SDK Javascript" %}</label>
            {% spaceless %}
            <textarea id="_snippet-sdk-js" cols="100" rows="10" readonly>{% filter trim %}
                {% if original %}
                    {% include "forms/sdk_snippet.html" with form=original %}
                {% else %}
                    {% trans "You must save the form before the snippet can be generated." %}
                {% endif %}
            {% endfilter %}</textarea>
            {% endspaceless %}
            <div class="help">{% blocktrans trimmed %}
                Embed this snippet where you want to display the form in your (CMS) page.
                This snippet will load and render the form.
            {% endblocktrans %}</div>
        </div>
    </div>

    <div class="form-row">
        <div>
            {# TODO: add copy button #}
            <label for="_snippet-sdk-js">{% trans "SDK default styles" %}</label>
            {% spaceless %}
            <textarea id="_snippet-sdk-js" cols="100" rows="1" readonly>
                {% include "forms/sdk_css_snippet.html" %}
            </textarea>
            {% endspaceless %}
            <div class="help">{% blocktrans trimmed %}
                Include this snippet close to where other styles (CSS) are loaded.
                This snippet provides the default form styling. If you have own styles
                overriding the default styles, ensure this snippet is included BEFORE
                your custom styles.
            {% endblocktrans %}</div>
        </div>
    </div>

</fieldset>
{% endblock %}

{% block submit_buttons_bottom %}{% if not use_react %}
    {{ block.super }}

    {% if has_change_permission %}
    <div class="submit-row submit-row-extended">

        {% block extra_submit_buttons %}
            {{ block.super }}

            {% if original %}
                <input type="submit" value="{% trans 'Export' %}" name="_export"/>
                <input type="submit" value="{% trans 'Copy' %}" name="_copy"/>
            {% endif %}
        {% endblock %}

    </div>
    {% endif %}
{% endif %}{% endblock %}

{% block admin_change_form_document_ready %}
    {% if use_react %}<script src="{% static 'bundles/core-js.js' %}"></script>{% endif %}
{% endblock %}
