{% extends "admin/base_site.html" %}
{% load static i18n django_admin_index %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
<link rel="stylesheet" href="{% static "admin/css/admin-index.css" %}">{% endblock %}

{% block nav-global %}{% include "django_admin_index/includes/app_list.html" %}{% endblock nav-global %}

{% block title %} {% trans "Import forms" %} {{ block.super }} {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:forms_form_changelist' %}">{% trans 'Forms' %}</a>
&rsaquo; {% trans 'Import form' %}
</div>
{% endblock %}

{% block content %}
    <h1>{% trans 'Import form' %}</h1>
    <div id="content-main">
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <fieldset class="module aligned ">
                    {% csrf_token %}

                    {% for field in form.visible_fields %}
                        <div class="form-row {% if field.errors %} errors{% endif %}">
                            {{ field.errors }}
                            <div class="flex-container {% if field.field.widget.input_type == 'checkbox' and field|length == 1 %}checkbox-row{% endif %} {% if field.errors %}errors{% endif %}">
                                {{ field.label_tag }}

                                {% if field|length == 1 %}
                                    {{ field }}
                                {% else %}
                                    <ul {% if field.id_for_label %} id="{{ field.id_for_label }}"{% endif %}>
                                        {% for subfield in field %}
                                            <li>{{ subfield }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            {% if field.help_text %}
                                <div class="help" {% if field.id_for_label %} id="{{ field.id_for_label }}_helptext"{% endif %}>
                                    <div>{{ field.help_text|safe }}</div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="{% trans 'Import' %}" name="_import">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
