{% extends "admin/base_site.html" %}
{% load static i18n django_admin_index %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "bundles/core-css.css" %}">
    <link rel="stylesheet" href="{% static "admin/css/admin-index.css" %}">
    {{ block.super }}
{% endblock %}

{% block bodyclass %}ogone-migration-page{% endblock %}

{% block nav-global %}
    {% include "django_admin_index/includes/app_list.html" %}
{% endblock nav-global %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:forms_form_changelist' %}">{% trans 'Forms' %}</a>
        &rsaquo; {% trans 'Migrate payment backends for forms' %}
    </div>
{% endblock %}

{% block title %} {% trans "Migrate payment backends for forms" %} {{ block.super }} {% endblock %}

{% block content %}
    <h1>{% trans 'Migrate payment backends for forms' %}</h1>
    <div id="content-main">
        {% if form.errors %}
            <ul class="errorlist">
                <li>
                    <ul class="errorlist">
                        {% for error in form.errors.values %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <a href="{% url 'admin:forms_form_changelist' %}" class="button cancel-link">
                {% trans 'Back' %}
            </a>
        {% else %}
            <div>
                {% blocktranslate %}
                Please confirm that the forms below should be migrated to the Worldline payment
                provider backend:
                {% endblocktranslate %}
            </div>

            <ul>
                {% for value in form.initial.forms_to_migrate %}
                    <li>{{ value.name }}</li>
                {% endfor %}
            </ul>

            <form action="{% url 'admin:forms_payment_migration' %}" method="post">
                <div>
                    <fieldset class="module aligned">
                        {% csrf_token %}

                        {{ form.forms_to_migrate.as_hidden }}
                    </fieldset>

                    <div class="submit-row">
                        <a href="{% url 'admin:forms_form_changelist' %}" class="button cancel-link">
                            {% trans 'Back' %}
                        </a>
                        <input type="submit" value="{% trans 'Confirm' %}">
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
