{% extends 'admin/object_history.html' %}
{% load i18n admin_urls static django_vite %}

{% block extrastyle %}
<link rel="stylesheet" href="{% vite_asset_url 'src/openforms/scss/screen.scss' %}">
{{ block.super }}
{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module">

    <div
        class="react-form-versions-table"
        data-form-uuid="{{ object.uuid }}"
        data-csrftoken="{{ csrf_token }}"
        data-current-release="{{ settings.RELEASE }}"
    >{# React managed #}</div>

    </div>
</div>

{% vite_asset 'src/openforms/js/index.js' %}
{% endblock %}
