interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
    method: GET
    uri: https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v2/kadastraalonroerendezaken?postcode=7361EW&huisnummer=21
  response:
    body:
      string: '{"_links":{"self":{"href":"/kadastraalonroerendezaken?postcode=7361EW&huisnummer=21"}},"_embedded":{"kadastraalOnroerendeZaken":[{"identificatie":"76870482570000","domein":"NL.IMKAD.KadastraalObject","begrenzingPerceel":{"type":"Polygon","coordinates":[[[194618.354,464161.294],[194619.326,464151.276],[194631.322,464153.988],[194635.099,464154.75],[194633.498,464163.819],[194631.173,464176.992],[194627.691,464176.428],[194624.201,464175.924],[194620.702,464175.479],[194617.197,464175.093],[194616.973,464175.072],[194618.174,464162.759],[194618.354,464161.294]]]},"plaatscoordinaten":{"type":"Point","coordinates":[194625.551,464156.205]},"type":"perceel","kadastraleAanduiding":"Beekbergen
        K 4825","kadastraleGrootte":{"soortGrootte":{"code":"1","waarde":"Vastgesteld"},"waarde":350},"adressen":[{"straat":"Atalanta","huisnummer":21,"postcode":"7361EW","woonplaats":"Beekbergen","nummeraanduidingIdentificatie":"0200200000003730","adresregel1":"Atalanta
        21","adresregel2":"7361EW Beekbergen","koppelingswijze":{"code":"ADM_GEO","waarde":"administratief
        en geometrisch"}}],"zakelijkGerechtigdeIdentificaties":["20170719","20170717","20170718"],"hypotheekIdentificaties":["25381030"],"_links":{"self":{"href":"/kadastraalonroerendezaken/76870482570000"},"zakelijkGerechtigden":[{"href":"/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden/{zakelijkGerechtigdeIdentificaties}","templated":true}],"hypotheken":[{"href":"/kadastraalonroerendezaken/76870482570000/hypotheken/{hypotheekIdentificaties}","templated":true}],"adressen":[{"href":"https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2/adressen/{adressen.nummeraanduidingIdentificatie}","templated":true}]}}]}}'
    headers:
      Api-Version:
      - 2.0.0
      Content-Crs:
      - epsg:28992
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
    method: GET
    uri: https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v2/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden
  response:
    body:
      string: '{"_links":{"self":{"href":"/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden"}},"_embedded":{"zakelijkGerechtigden":[{"identificatie":"20170719","type":"eigenaar","aanvangsdatum":"2018-10-11","tenaamstelling":{"aandeel":{"noemer":1,"teller":1},"isGebaseerdOpStukdeelIdentificaties":["1006938879"],"isVermeldInStukdeelIdentificaties":["1006971479"],"stukIdentificaties":["20160425002157","20161130002071"]},"persoon":{"identificatie":"71291440","omschrijving":"Bankbedrijf","type":"kadaster_niet_natuurlijk_persoon"},"_links":{"self":{"href":"/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden/20170719"},"persoon":{"href":"/kadasternietnatuurlijkpersonen/71291440"},"stukken":[{"href":"/stukken/{tenaamstelling.stukIdentificaties}","templated":true}],"stukdelen":[{"href":"/stukdelen/{tenaamstelling.isGebaseerdOpStukdeelIdentificaties}","templated":true},{"href":"/stukdelen/{tenaamstelling.isVermeldInStukdeelIdentificaties}","templated":true}]}},{"identificatie":"20170717","type":"erfpachter","aanvangsdatum":"2018-10-11","erfpachtCanon":{"soortErfpachtCanon":{"code":"2","waarde":"Afgekocht
        tot en met"},"jaarlijksBedrag":{"som":100.0,"valuta":{"code":"EUR","waarde":"Euro"}},"betrefMeerOnroerendeZaken":true,"einddatumAfkoop":"2028-09-30","indicatieOudeOnroerendeZaakBetrokken":true,"isGebaseerdOpStukdeelIdentificatie":"1006942716","isVermeldInStukdeelIdentificaties":["32790052","32790053"],"stukIdentificaties":["20160523001278","20200617001837"]},"tenaamstelling":{"aandeel":{"noemer":2,"teller":1},"burgerlijkeStaatTenTijdeVanVerkrijging":{"code":"2","waarde":"Ongehuwd
        en geen geregistreerd partnerschap"},"isGebaseerdOpStukdeelIdentificaties":["1006942716"],"stukIdentificaties":["20160523001278"]},"persoon":{"identificatie":"71303564","omschrijving":"Christiaan
        de Goede","type":"kadaster_natuurlijk_persoon"},"_links":{"self":{"href":"/kadastraalonroerendezaken/76870482570000/zakelijkgerechtigden/20170717"},"persoon":{"href":"/kadasternatuurlijkpersonen/71303564"},"stukken":[{"href":"/stukken/{tenaamstelling.stukId[...]
