@use '../../lib/responsive';

@mixin theme-styles {
  .cookie-notice {
    line-height: 1.5;
    max-inline-size: 75dvw;

    @include responsive.mobile-only {
      max-inline-size: 100dvw;
    }
  }
}
