version: '3.8'

services:
  stuf_zds:
    build: ./stuf-zds
    ports:
      - "82:80"
    volumes:
      - ./stuf-zds/:/app/
      - ../src/stuf/stuf_zds/templates/stuf_zds/soap/response-mock/:/app/templates/
