{% load ui %}

<form class="form">
    <div class="form-control{% if errors %} form-control--error{% endif %}">
        <label class="label">Waarvoor heeft u het uittreksel nodig?*</label>

        {% if errors %}
            <div class="errors">
                <span class="message message--error">U heeft dit veld nog niet ingevuld</span>
            </div>
        {% endif %}

        <ul class="form-choices">
            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="radio" name="subject" id="radio-1">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="radio-1">Woningbouwvereniging / adreshistorie / gezinssamenstelling</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="radio" name="subject" id="radio-2">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="radio-2">Reizen met een minderjaring kind</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="radio" name="subject" id="radio-3">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="radio-3">School / studie / examen</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="radio" name="subject" id="radio-4">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="radio-4">Pensioen / spaarfonds / levensverzekering / bewijs van in leven zijn / attestatie de vita</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="radio" name="subject" id="radio-5">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="radio-5">Huwelijk / echtscheiding / geregistreerd partnerschap</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="radio" name="subject" id="radio-6">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="radio-6">Immigratie en Naturalisatiedienst (IND)</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="radio" name="subject" id="radio-7">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="radio-7">Meer onderwerpen</label>
                </div>
            </li>
        </ul>
    </div>


    <div class="form-control{% if errors %} form-control--error{% endif %}">
        <label class="label">Waarover gaat het specifiek*</label>

        {% if errors %}
            <div class="errors">
                <span class="message message--error">U heeft dit veld nog niet ingevuld</span>
            </div>
        {% endif %}

        <select class="select">
            <option>Ouderschapsverlof</option>
        </select>

        <div class="help-text">
            <span class="message message--info">Voor de aanvraag van ouderschapsverlog heeft u een afschrif van een geboorteakte nodig.</span>
        </div>
    </div>


    <div class="form-control{% if errors %} form-control--error{% endif %}">
        <label class="label">Voor wie vraagt u het uittreksel aan?*</label>

        {% if errors %}
            <div class="errors">
                <span class="message message--error">U heeft dit veld nog niet ingevuld</span>
            </div>
        {% endif %}

        <ul class="form-choices">
            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="checkbox" name="subject" id="checkbox-1">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="checkbox-1">Mijzelf</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="checkbox" name="subject" id="checkbox-2">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="checkbox-2">Naam kind 1, 8-1-2018</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="checkbox" name="subject" id="checkbox-3">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="checkbox-3">Naam kind 2, 1-8-2016</label>
                </div>
            </li>

            <li class="form-choices__choice">
                <div class="checkbox">
                    <input class="checkbox__checkbox" type="checkbox" name="subject" id="checkbox-3">
                    <span class="checkbox__checkmark"></span>
                    <label class="checkbox__label" for="checkbox-3">Naam partner, 2-9-1980</label>
                </div>
            </li>
        </ul>
    </div>

    {% costs_indicator %}

    <div class="toolbar">
        <ul class="toolbar__list">
            <li class="toolbar__list-item">{% button href='sample_app:digid_login' label='Vorige pagina' style='anchor' %}</li>
        </ul>
        <ul class="toolbar__list">
            <li class="toolbar__list-item">{% button label='Tussentijds opslaan' style='secondary' %}</li>
            <li class="toolbar__list-item">{% button href=next|default:'sample_app:form_errors' label='Volgende: Contactgegevens' style='primary' %}</li>
        </ul>
    </div>
</form>
