@import '~microscope-sass/lib/color';

@import '../../vars';

// Django admin styling fixes!!
// These are overridden by the form-builder because of clashing class names

.submit-row .deletelink-box .deletelink {
  height: auto;
}

.formio-dialog-content {
  margin: 50px auto !important;
}

body {
  font-size: 14px !important;
  font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important;
}

div#user-tools {
  strong {
    font-weight: bold;
  }
}

div#content h1 {
  font-weight: 300;
  font-size: 20px;
}

.fetch-error {
  @include color-danger;
  color: $color-danger;
  font-weight: bold;
}
