@use '../../lib/bem';

.columns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: 6px;

  .alert-info {
    text-indent: -9999px; // basically push the text off the screen
    line-height: 0; // collapse the lines to not take up vertical space

    &:after {
      // the real magic -> insert our own content
      display: block; // needs to take up space
      content: '\2b'; // font-awesome unicode for +
      line-height: initial; // reset line height
      text-indent: 0; // reset text indent
    }
  }

  .column {
    display: flex;
    flex-direction: column;

    padding-left: 3px;
    padding-right: 3px;

    & > * {
      flex-grow: 1;
    }

    grid-column: span var(--_of-columns-column-span);

    $col-sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
    @each $col-size in $col-sizes {
      @include bem.modifier('span-#{$col-size}') {
        --_of-columns-column-span: #{$col-size};
      }
    }
  }
}

[ref='editForm'],
[ref='preview'] {
  .formio-component-columns.row {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .columns > * {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
