@import '~microscope-sass/lib/grid';


@import '../../../ui/static/ui/scss/settings';

$bootstrap-ratio-mobile: 12 / $grid-columns-mobile;
$bootstrap-ratio-tablet: 12 / $grid-columns-tablet;
$bootstrap-ratio-laptop: 12 / $grid-columns-laptop;
$bootstrap-ratio-desktop: 12 / $grid-columns-desktop;

@mixin bootstrap-span($property, $cols) {
  $bs-span: $cols / 12 * 100%;
  @include responsive(
    $property,
    $bs-span / $bootstrap-ratio-mobile,
    $bs-span / $bootstrap-ratio-tablet,
    $bs-span / $bootstrap-ratio-laptop,
    $bs-span / $bootstrap-ratio-desktop,
  );
}

.columns {
  display: flex;
  width: 100%;

  .alert-info {
    text-indent: -9999px;  // basically push the text off the screen
    line-height: 0; // collapse the lines to not take up vertical space

    &:after {  // the real magic -> insert our own content
        display: block; // needs to take up space
        content: "\2b"; // font-awesome unicode for +
        line-height: initial;  // reset line height
        text-indent: 0; // reset text indent
    }
  }

  .col {
    &--span-1 {
      @include bootstrap-span(width, 1);
    }
    &--span-2 {
      @include bootstrap-span(width, 2);
    }
    &--span-3 {
      @include bootstrap-span(width, 3);
    }
    &--span-4 {
      @include bootstrap-span(width, 4);
    }
    &--span-5 {
      @include bootstrap-span(width, 5);
    }
    &--span-6 {
      @include bootstrap-span(width, 6);
    }
    &--span-7 {
      @include bootstrap-span(width, 7);
    }
    &--span-8 {
      @include bootstrap-span(width, 8);
    }
    &--span-9 {
      @include bootstrap-span(width, 9);
    }
    &--span-10 {
      @include bootstrap-span(width, 10);
    }
    &--span-11 {
      @include bootstrap-span(width, 11);
    }
  }
}
