.dmn-preview {
  padding: 1em;
  background-color: rgba(0, 0, 0, .03);

  &__engine {
    border-bottom: solid 1px var(--hairline-color);
    padding-bottom: 1em;
  }

  &__definition {
    padding-top: 1em;
  }
}
