@import '../../vars';

.openforms-component {
  &--hidden {
    padding: 8px;
    border-radius: 10px;
    opacity: 0.5;
    background: repeating-linear-gradient(
      -45deg,
      $django-hijack-yellow,
      $django-hijack-yellow 10px,
      $color-tooltip-background 10px,
      $color-tooltip-background 20px
    );

    legend {
      color: #333;
    }

    label {
      color: #333;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
