@use 'microscope-sass/lib/bem';
@import 'microscope-sass/lib/typography';

.openforms-choice-list {
  @include bem.modifier('inline') {
    --of-utrecht-form-field-radio-margin-block-start: 0;

    display: flex;
    gap: 1em;
    justify-content: space-between;

    @include mobile-only {
      display: block;
    }

    @include bem.element('choice') {
      flex-basis: 100%;
      flex-grow: 1;
    }
  }
}
