@import 'microscope-sass/lib/bem';
@import 'microscope-sass/lib/typography';

.openforms-form-choices {
  @include modifier('inline') {
    display: flex;
    gap: 1em;

    @include mobile-only {
      display: block;
    }

    @include element('choice') {
      @include margin($margin: true, $value-mobile: $typography-margin-list);
      width: 100%;
    }
  }
}
