@import '~microscope-sass/lib/color';

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  .collapsible-header-title {
    display: flex;
    align-items: center;
  }
  .step-name, .step-select, .material-icons {
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }

  .material-icons {
    @include color-danger;
    cursor: pointer;
    color: $color-danger;
  }
}

.form-definition {
    display: flex;
    align-items: center;
    margin: 0.5em 2em;
  }


