@import '~microscope-sass/lib/color';

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #c1c1c1;

  .collapsible-header-title {
    display: flex;
    align-items: center;
  }
  .step-name, .step-select, .material-icons {
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }

  .material-icons {
    cursor: pointer;
  }

  .danger {
    @include color-danger;
  }
}

.form-definition {
  padding: 0.5em 2em;
  background: #dbdcdc1f;
  border-bottom: 1px solid #c1c1c1;

  .danger {
    @include color-danger;
  }

  .warning {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .material-icons {
    padding-right: 0.5em;
  }

  .form-definition__name {
    padding-bottom: 1em;
  }
}

