@import '~microscope-sass/lib/transform';

.view {
  position: relative;

  &__body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin: 0;

    // main layout w/ footer pushdown
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > .layout {
      flex-grow: 1;
    }

    > .page-header,
    > .footer {
      flex-shrink: 0;
    }
  }

  &--open:before {
    @include overlay;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
  }

}
