@import '~microscope-sass/lib/transform';

.view {
  position: relative;

  &__body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin: 0;
  }

  &--open:before {
    @include overlay;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;

  }
}
