{% extends 'ui/views/abstract/base.html' %}
{% load static ui %}

{% block layout_inner %}
    {{ block.super }}

    <section class="layout__row">
        <div class="layout__column">
            <div class="card">
                <h1 class="title">Uitreksel aanvragen</h1>

                <p class="body">Om digitaal een uittreksel aan te vragen moet u inloggen met DigiD.</p>

                {% button href="sample_app:form_details" label="Inloggen met DigiD" %}
                {% static 'img/digid.png' as digid_image_src %}
                {% button src=digid_image_src disabled=True %}

                <p class="body">DigiD vraag u aan op {% anchor href='https://digid.nl' target='_blank' label='de website DigiD.nl' %}</p>
            </div>

            {% a11y_toolbar %}
        </div>


        <div class="layout__column layout__column--no-print">
            {% include 'sample_app/views/abstract/wizzard_progress.html' only %}
        </div>
    </section>
{% endblock %}
