{% extends "master.html" %}
{% load ui solo_tags style_dictionary %}

{% block content %}
    {% block header %}
        {% include "ui/includes/header.html" %}
    {% endblock %}

    {% block layout %}
        <main class="layout">
            {% block layout_inner %}
                <section class="layout__row layout__column--secondary">
                    <div class="layout__column">
                        {% breadcrumbs %}
                    </div>
                </section>
            {% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        {% footer %}
    {% endblock %}
{% endblock %}


{% block extra_css %}
{% get_solo 'config.GlobalConfiguration' as config %}
{# Template out the configured design tokens JSON, if provided #}
{% if config.design_token_values %}
    {% style_dictionary config.design_token_values prefix="of" as design_tokens %}
    <style>
    :root {{% for token, value in design_tokens.items %}
      {{ token }}: {{ value }};{% endfor %}
    }
    </style>
{% endif %}

{% endblock %}
