{% extends "master.html" %}

{% block inner-content %}
    {% block card %}
        <div class="openforms-card">
            <header class="openforms-card__header">
                <h1 class="title">{{ object }}</h1>
            </header>

            <div class="openforms-card__body">
                {% block card_body %}
                    <p class="body">
                        {{ object }}
                    </p>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block a11y-toolbar %}
<!--for detail view the "Back to top" button is rendered in SDK -->
{% endblock a11y-toolbar %}
