{% extends './base.html' %}
{% load ui %}

{% block layout_inner %}
    {{ block.super }}

    <section class="layout__row">
        <div class="layout__column">
            <div class="card">
                {% block card %}
                    <header class="card__header">
                        <h1 class="title">{{ title }}</h1>
                    </header>

                    <div class="card__body">
                        {% block card_body %}
                            <ul class="list">
                                {% for object in object_list %}
                                    <li class="list__item">
                                        {% anchor href=object.get_absolute_url label=object %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            {% a11y_toolbar user=user %}
        </div>
    </section>
{% endblock %}
