interactions:
- request:
    body: null
    headers:
      X-Api-Key:
      - fake_changeme_when_testing
    method: GET
    uri: https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v2/kadastraalonroerendezaken?postcode=1234AB&huisnummer=1&huisletter=A&huisnummertoevoeging=Add
  response:
    body:
      string: '{"_links":{"self":{"href":"/kadastraalonroerendezaken?postcode=1234AB&huisnummer=1&huisletter=A&huisnummertoevoeging=Add"}},"_embedded":{}}'
    headers:
      Api-Version:
      - 2.0.0
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
version: 1
