interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/customer/customerfields/required?selectedActivityId=80b60dd2-6274-4c11-8d6b-5cb646ffe0f8&selectedActivityId=6063baab-b077-4eaf-8671-98394793724c
  response:
    body:
      string: "{\r\n  \"initials\": 1,\r\n  \"areFirstNameOrInitialsRequired\": true,\r\n
        \ \"birthDate\": 2,\r\n  \"socialSecurityNumber\": 1,\r\n  \"nationality\":
        1,\r\n  \"language\": 1,\r\n  \"mainPhoneNumber\": 1,\r\n  \"mobilePhoneNumber\":
        1,\r\n  \"streetName\": 1,\r\n  \"houseNumber\": 1,\r\n  \"houseNumberSuffix\":
        1,\r\n  \"postalCode\": 1,\r\n  \"city\": 1,\r\n  \"country\": 1\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
