interactions:
- request:
    body: grant_type=client_credentials&scope=warp-api
    headers:
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/connect/token
  response:
    body:
      string: '{"access_token": "fake_access_token"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/activity/appointmentdaterange?activityId=637474a7-ea52-43f8-9e8a-30f3e0c13cf4&activityId=27535042-9f33-498f-b559-39137639bad3
  response:
    body:
      string: "{\r\n  \"minDate\": \"2025-12-02T00:00:00\",\r\n  \"maxDate\": \"2026-11-04T00:00:00\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/availabletimelist?locationId=f9332b85-2ca3-4b42-aaa9-07e37c010a83&fromDate=2025-12-02&toDate=2026-01-21&activityId=637474a7-ea52-43f8-9e8a-30f3e0c13cf4&amount=1&activityId=27535042-9f33-498f-b559-39137639bad3&amount=1
  response:
    body:
      string: "{\r\n  \"availableTimesList\": [\r\n    \"2025-12-02T09:00:00\",\r\n
        \   \"2025-12-02T09:15:00\",\r\n    \"2025-12-02T09:30:00\",\r\n    \"2025-12-02T09:45:00\",\r\n
        \   \"2025-12-02T10:00:00\",\r\n    \"2025-12-02T10:15:00\",\r\n    \"2025-12-02T10:30:00\",\r\n
        \   \"2025-12-02T10:45:00\",\r\n    \"2025-12-02T11:00:00\",\r\n    \"2025-12-02T11:15:00\",\r\n
        \   \"2025-12-02T11:30:00\",\r\n    \"2025-12-02T11:45:00\",\r\n    \"2025-12-02T12:00:00\",\r\n
        \   \"2025-12-02T12:15:00\",\r\n [...]
[...]
- request:
    body: null
    headers:
      language:
      - nl
    method: GET
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment/calculateduration?activityId=637474a7-ea52-43f8-9e8a-30f3e0c13cf4&amount=1&activityId=27535042-9f33-498f-b559-39137639bad3&amount=1&dateTime=2025-12-02
  response:
    body:
      string: '120'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"id": null, "activityList": [{"activityId": "637474a7-ea52-43f8-9e8a-30f3e0c13cf4",
      "amount": 1}, {"activityId": "27535042-9f33-498f-b559-39137639bad3", "amount":
      1}], "customerList": [{"lastName": "Boei", "emailAddress": "testBoei@example.com",
      "phoneNumber": "0612345678", "gender": 0, "id": null, "isMainCustomer": true}],
      "fromDateTime": "2025-12-02T09:00:00+01:00", "toDateTime": "2025-12-02T11:00:00+01:00",
      "locationId": "f9332b85-2ca3-4b42-aaa9-07e37c010a83", "message": "", "fieldList":
      null}'
    headers:
      Content-Type:
      - application/json
      language:
      - nl
    method: POST
    uri: https://cloud-acceptatie.jccsoftware.nl/JCC/JCC_Leveranciers_Acceptatie/G-Plan/api/api/warp/v1/appointment
  response:
    body:
      string: "{\r\n  \"id\": \"38b010ef-a7f3-4c1c-a2d2-493ad8185177\",\r\n  \"acknowledgeIsSuccess\":
        true\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
