@import '../../../../../../scss/vars';

.button {

  &--plain {
    width: 100%;
    border: none;
    background: transparent;
    color: inherit;
    text-align: left;;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }

    &.button--active {
      background: $color-primary;
      color: $color-lightest;
    }
  }


}
