@import '../../../../../../scss/vars';

.edit-panel {
  display: flex;

  h2 + & {
    margin-top: 20px;
  }

  &__nav {
    width: 25%;
    max-width: 300px;;
    margin-right: 10px;
  }

  &__edit-area {
    width: 100%;

    // override default django styles
    h2 {
      background: $color-secondary-dark;
      color: $color-dark;
    }
  }
}

// admin style overrides
.edit-panel {
  @at-root form .aligned & ul.messagelist {
    margin-left: 0;
    padding-left: 0;
  }
}
