interactions:
- request:
    body: SAMLRequest=PHNhbWxwOkF1dGhuUmVxdWVzdCB4bWxuczpzYW1scD0idXJuOm9hc2lzOm5hbWVzOnRjOlNBTUw6Mi4wOnByb3RvY29sIiB4bWxuczpzYW1sPSJ1cm46b2FzaXM6bmFtZXM6dGM6U0FNTDoyLjA6YXNzZXJ0aW9uIiBJRD0iT05FTE9HSU5fMTIzNDU2IiBWZXJzaW9uPSIyLjAiIEZvcmNlQXV0aG49InRydWUiIElzc3VlSW5zdGFudD0iMjAyNC0wMS0yNVQxMDo1NTozOVoiIERlc3RpbmF0aW9uPSJodHRwczovL21heWtpbi5wcmUuaWUwMS5zaWduaWNhdC5wcm8vYnJva2VyL3NwL3NhbWwvbG9naW4iIFByb3RvY29sQmluZGluZz0idXJuOm9hc2lzOm5hbWVzOnRjOlNBTUw6Mi4wOmJpbmRpbmdzOkhUVFAtQXJ0aWZhY3QiIEFzc2VydGlvbkNvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/selection
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <title>Select simulator</title>\n
        \   <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <link rel=\"shortcut icon\" href=\"/broker/images/favicon.png\"
        />\n    <link\n      rel=\"stylesheet\"\n      type=\"text/css\"\n      href=\"/broker/css/logo.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/material-icons.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/open-sans.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/mabry.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.css\"\n
        \   />\n    \n    <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.js\"\n
        \   ></script>\n  </head>\n  <body class=\"mdc-typography\">\n    <div class=\"app-background\"></div>\n
        \   <div class=\"mdc-drawer-app-content\">\n      <header class=\"mdc-top-app-bar
        mdc-top-app-bar--fixed\">\n        <div class=\"mdc-top-app-bar__row\">\n
        \         <section\n            class=\"mdc-top-app-bar__section mdc-top-app-bar__section--align-end\"\n
        \         ><div>\n    <div class=\"mdc-menu-surface--anchor cng-menu mr-4\">\n
        \     <button class=\"mdc-button cng-menu__button profile-button\">\n        <span
        class=\"mdc-button__ripple\"></span>\n        <i class=\"material-icons mdc-button__icon\">language</i>\n
        \       <span class=\"mdc-button__label\">en</span>\n      </button>\n      <div
        class=\"mdc-menu mdc-menu-surface cng-menu__menu\">\n        <div\n          class=\"mdc-list\"\n
        \         id=\"language-select\"\n          role=\"menu\"\n          aria-hidden=\"true\"\n
        \         aria-orientation=\"vertical\"\n          tabindex=\"-1\"\n          data-mdc-auto-init=\"MDCList\"\n
        \       >\n          <a\n            href=\"https://maykin.pre.ie01.signicat.pro/broker/authn/simula[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/selection/eh
  response:
    body:
      string: ''
    headers:
      content-language:
      - en
      location:
      - https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/authenticate/eh
    status:
      code: 302
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/authenticate/eh
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <title>Signicat
        eHerkenning simulator</title>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\" />\n    <link rel=\"shortcut
        icon\" href=\"/broker/images/favicon.png\" />\n    <link\n      rel=\"stylesheet\"\n
        \     type=\"text/css\"\n      href=\"/broker/css/logo.css\"\n    />\n    <link\n
        \     rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/material-icons.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/open-sans.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/mabry.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.css\"\n
        \   />\n    \n    <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.js\"\n
        \   ></script>\n    <script type=\"text/javascript\" src=\"/broker/js/authenticate-eh.js\"></script>\n
        \ </head>\n  <body class=\"mdc-typography\">\n    <div class=\"app-background\"></div>\n
        \   <div class=\"mdc-drawer-app-content\">\n      <header class=\"mdc-top-app-bar
        mdc-top-app-bar--fixed\">\n        <div class=\"mdc-top-app-bar__row\">\n
        \         <section\n            class=\"mdc-top-app-bar__section mdc-top-app-bar__section--align-end\"\n
        \         ><div>\n    <div class=\"[...]
- request:
    body: serviceId=urn%3Aetoegang%3ADV%3A00000003244440010000%3Aservices%3A9302&entityConcernedIdPseudo=03659FB1FAE5D26DB2D28866C1A4FE7F4E1CD5E62DD2552EE3D3B11D4C27163D%409162F54B3B07284AC4E147A849DEAEE4&entityConcernedIdKvKnr=24444001&intermediateEntityIdKvKnr=&vestigingsnr=&entityConcernedIdRsin=819935177&entityConcernedIdBsn=&companyName=ExampleCompanyName&loa=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/authenticate/eh
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\"
        />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"
        />\n    <link rel=\"shortcut icon\" href=\"/broker/images/favicon.png\" />\n
        \   <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.[...]
