interactions:
- request:
    body: SAMLRequest=PHNhbWxwOkF1dGhuUmVxdWVzdCB4bWxuczpzYW1scD0idXJuOm9hc2lzOm5hbWVzOnRjOlNBTUw6Mi4wOnByb3RvY29sIiB4bWxuczpzYW1sPSJ1cm46b2FzaXM6bmFtZXM6dGM6U0FNTDoyLjA6YXNzZXJ0aW9uIiBJRD0iT05FTE9HSU5fMTIzNDU2IiBWZXJzaW9uPSIyLjAiIEZvcmNlQXV0aG49InRydWUiIElzc3VlSW5zdGFudD0iMjAyNS0wOC0yNVQxNDoxNjo0NFoiIERlc3RpbmF0aW9uPSJodHRwczovL21heWtpbi5wcmUuaWUwMS5zaWduaWNhdC5wcm8vYnJva2VyL3NwL3NhbWwvbG9naW4iIFByb3RvY29sQmluZGluZz0idXJuOm9hc2lzOm5hbWVzOnRjOlNBTUw6Mi4wOmJpbmRpbmdzOkhUVFAtQXJ0aWZhY3QiIEFzc2VydGlvbkNvbnN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/select/authn
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <title>Select identity
        provider</title>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\" />\n    <link\n      rel=\"shortcut
        icon\"\n      href=\"/broker/images/favicon.png\"\n    />\n    <link\n      rel=\"stylesheet\"\n
        \     type=\"text/css\"\n      href=\"/broker/css/connection-list.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      type=\"text/css\"\n      href=\"/broker/css/logo.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/material-icons.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/open-sans.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/mabry.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.css\"\n
        \   />\n    \n    <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.js\"\n
        \   ></script>\n    <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.10/assets/js/disable-submit-button.js\"\n
        \   ></script>\n  </head>\n  <body class=\"mdc-typography\">\n    <div class=\"app-background\"></div>\n
        \   <div class=\"mdc-drawer-app-content\">\n      <header class=\"mdc-top-app-bar
        mdc-top-app-bar--fixed\">\n        <div class=\"mdc-top-app-bar__row\">\n
        \         <section\n            class=\"mdc-top-app-bar__section mdc-top-app-bar__section--align-end\"\n
        \         ><div>\n    <div class=\"mdc-menu-surface--anchor cng-menu mr-4\">\n
        \     <button class=\"mdc-button cng-menu__button profile-button\">\n        <span
        class=\"mdc-button__ripple\"></span>\n        <i class=\"material-icons mdc-button__icon\">language</i>\n
        \       <span class=\"mdc-button__label\"\n          >en</span\n        >\n
        \     </button>\n      <div class=\"mdc-menu mdc-menu-surface cng-menu__menu\">\n
        \       <div\n          class=\"mdc-list\"\n          id=\"language-select\"\n
        \         role=\"menu\"\n          aria-hidden=\"true\"\n          aria-orientation=\"vertical\"\n
        \         tabindex=\"-1\"\n          data-mdc-auto-init=\"MDCList\"\n        >\n
        \         <a href=\"?lang=en\" role=\"menuitem\" class=\"mdc-list-item\">\n
        \           <img\n              src=\"https://cdn.connectis.io/styling/1.1.4/assets/locales/en.png\"\n
        \             alt=\"\"\n              class=\"mdc-list-item__graphic cng-locale-flag\"\n
        \           />\n            <span class=\"mdc-list-item__text\"> English </span>\n
        \         </a>\n          <a href=\"?lang=nl\" class=\"mdc-list-item\" role=\"menuitem\">\n
        \           <img\n              src=\"https://cdn.connectis.io/styling/1.1.4/assets/locales/nl.png\"\n
        \             alt=\"\"\n              class=\"mdc-list-item__graphic cng-locale-flag\"\n
        \           />\n            <span class=\"mdc-list-item__text\"> Nederlands
        </span>\n          </a>\n        </div>\n      </div>\n    </div>\n  </div></section>\n
        \       </div>\n      </header>\n      <main class=\"page-content\">\n        <div
        class=\"mdc-layout-grid\">\n          <div class=\"mdc-layout-grid__inner\">\n
        \           <div class=\"mdc-card cng-small-card--centered\">\n              <div
        class=\"cng-card__primary\">\n                <div class=\"logo-container
        primary-logo mb-4\"></div>\n                <h1\n                  class=\"mdc-typography--headline5
        text-center my-0\"\n                >Select identity provider</h1>\n              </div>\n
        \             <div class=\"cng-card__divider\"></div>\n              \n              <div
        class=\"cng-card__secondary\">\n                \n                \n                <nav
        class=\"mdc-list connection-list\">\n                  <a\n                    class=\"mdc-list-item\"\n
        \                   href=\"?connectionId=https://broker-a.yiviconnect.nl/auth/saml\"\n
        \                 >\n                    <span class=\"mdc-list-item__graphic\">\n
        \                     <img src=\"https://cdn.connectis.io/eids-logos/yivi.svg\"
        alt=\"\" />\n                    </span>\n                    <span\n                      class=\"mdc-list-item__text\"\n
        \                   >Yivi</span>\n                  </a><a\n                    class=\"mdc-list-item\"\n
        \                   href=\"?connectionId=simulator\"\n                  >\n
        \                   <span class=\"mdc-list-item__graphic\">\n                      <img
        src=\"https://[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/select/authn?connectionId=simulator
  response:
    body:
      string: ''
    headers:
      content-language:
      - en
      location:
      - https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/selection
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/selection
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <title>Select simulator</title>\n
        \   <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <link rel=\"shortcut icon\" href=\"/broker/images/favicon.png\"
        />\n    <link\n      rel=\"stylesheet\"\n      type=\"text/css\"\n      href=\"/broker/css/logo.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/material-icons.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/open-sans.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/authenticate/eherkenning
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <title>Signicat
        eHerkenning simulator</title>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\" />\n    <link rel=\"shortcut
        icon\" href=\"/broker/images/favicon.png\" />\n    <link\n      rel=\"stylesheet\"\n
        \     type=\"text/css\"\n      href=\"/broker/css/logo.css\"\n    />\n    <link\n
        \     rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/material-icons.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/open-sans.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/mabry.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.css\"\n
        \   />\n    \n    <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.js\"\n
        \   ></script>\n    <script type=\"text/javascript\" src=\"/broker/js/authenticate-eh.js\"></script>\n
        \   <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.10/assets/js/disable-submit-button.js\"\n
        \   ></script>\n  </head>\n  <body class=\"mdc-typography\">\n    <div class=\"app-background\"></div>\n
        \   <div class=\"mdc-drawer-app-content\">\n      <header class=\"mdc-top-app-bar
        mdc-top-app-bar--fixed\">\n        <div class=\"mdc-top-app-bar__row\"[...]
- request:
    body: serviceId=urn%3Aetoegang%3ADV%3A00000003244440010000%3Aservices%3A9302&entityConcernedIdPseudo=03659FB1FAE5D26DB2D28866C1A4FE7F4E1CD5E62DD2552EE3D3B11D4C27163D%409162F54B3B07284AC4E147A849DEAEE4&entityConcernedIdKvKnr=24444001&intermediateEntityIdKvKnr=&vestigingsnr=&entityConcernedIdRsin=819935177&entityConcernedIdBsn=&organisationName=ExampleCompanyName&loa=loa4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/authenticate/eherkenning
  response:
    body:
      string: ''
    headers:
      content-language:
      - en
      location:
      - https://localhost:8000/eherkenning/acs/?SAMLart=AAQAACtFCwW1R7216asQ%2FLLPzqzV85bX3rhywkjEDXDE0pVLeIjyJZmXUIU%3D&RelayState=%2Fauth%2Fslurm%2Feherkenning%2Freturn%3Fnext%3Dhttps%253A%252F%252Ftestserver%252Fslurm%252F
    status:
      code: 302
      message: Found
- request:
    body: "<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Body>\n<samlp:ArtifactResolve
      xmlns:samlp=\"urn:oasis:names:tc:SAML:2.0:protocol\" xmlns:saml=\"urn:oasis:names:tc:SAML:2.0:assertion\"
      ID=\"ONELOGIN_123456\" Version=\"2.0\" IssueInstant=\"2025-08-25T14:16:45Z\">\n
      <saml:Issuer>https://localhost:8000/eherkenning</saml:Issuer>\n <ds:Signature
      xmlns:ds=\"http://www.w3.org/2000/09/xmldsig#\">\n<ds:SignedInfo>\n<ds:CanonicalizationMethod
      Algorithm=\"http://www.w3.org/2001/10/xml-exc-c14n#\"/>\n<ds:SignatureMethod
      Algorithm=\"http://www.w3.org/2001/04/xmldsig-more#rsa-sha256\"/>\n<ds:Reference
      URI=\"#ONELOGIN_123456\">\n<ds:Transforms>\n<ds:Transform Algorithm=\"http://www.w3.org/2000/09/xmldsig#enveloped-signature\"/>\n<ds:Transform
      Algorithm=\"http://www.w3.org/2001/10/xml-exc-c14n#\"/>\n</ds:Transforms>\n<ds:DigestMethod
      Algorithm=\"http://www.w3.org/2001/04/xmlenc#sha256\"/>\n<ds:DigestValue>Tce57RabYN7Haa1eSNEkPgnRhMrkv6YeuXlp3OoQAHU=</ds:DigestValue>\n</ds:Reference>\n</ds:SignedInfo>\n<ds:SignatureValue>RYDwLU0YQ+JvG/d0mQrmsdXKegQdmZcS5tL7T+J/BrCpaCHPiJEJgaW7j/15fL6c\ncN73QPYA2xpRJkgBZLBt0I28MpYpIjd8Z0V7MD3pqL+PCzCFnTsLnswi5mq+E4lE\nWeNpuOVmCP4d4p5nYw0hlAiVCBzCsf9aqUe90zdXrPtnp5ivXrEq+DnS+GuUnhFz\naM+/2JUSu0+3DdKy7p4A4CU3Ukbc86ISZetwjO1NpmjTK5bNBaTrqfV8hSI3N1Mi\nlhg7VA1jrj/rkUjNBq+bBK8jaAN/5k6JXfGEAVGsiA2Qoy05e3GqVBrZpvcAO0R+\nRnHmqEFczZpfBGxIBAtakJxfJy0MoObC7VDimV/6v0m6sUgOUuo6Dt7PoXIw0Nur\nA5I7cABsKZMXlSWoCLy1gO9yomYbZf6YcB1lzNOS1HjurzzjMDTcQwk6VCnVFsJA\nohDDphslhPSRg5Eaf8PcdIbXGJW/1PFfjWhzFpSbsvRRH/nqph8LXwgEoSrcVBwx\npAg2g2sHuUozV5ryF8G2svvttHmu13ULY1hwykcU0Psksc0QFlu1rT3E93qcCws7\n3a0NZm3hElGe6fCm/5vHZtr247IHDVQUhkEAqIS3mYJ8/8DJzZ6kwK1sx5M4iimO\nXkCarQVqaCwyqlAv8G39RtPnpDUcboDCYeBp+c/tGqQ=</ds:SignatureValue>\n<ds:KeyInfo>\n<ds:X509Data>\n<ds:X509Certificate>MIIFfzCCA2egAwIBAgIUCJUm508B0T1QHIu14j3f3cQRwyowDQYJKoZIhvcNAQEL\nBQAwTzELMAkGA1UEBhMCTkwxFjAUBgNVBAgMDU5vb3JkLUhvbGxhbmQxDzANBgNV\nBAoMBk1heWtpbjEXMBUGA1UEAwwObG9jYWxob3N0OjgwMDAwHhcNMjQwNzA1MTM0\nOTE2WhcNMjcwNjA1MTM0OTE2WjBPMQswCQYDVQQGEwJOTDEWMBQGA1UECAwNTm9v\ncmQtSG9sbGFuZDEPMA0GA1UECgwGTWF5a2luMRcwFQYDVQQDDA5sb2NhbGhvc3Q6\nODAwMDCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAKjHQCNjWChD/1/x\nwTDdZHujGct3uDblJQc5vONSlSVfy3RWJohLb7i/fdeAH98oxU2YuIufJQQEFWT4\nhf+0JtYqX8yi3K6Zmdr3OruIrCLglEeDdJZEbz[...]
