{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block after_field_sets %}
    <fieldset class="module aligned">
        <div class="form-row field-merged_data">
            <div>
                <label>{% trans "Merged Data:" %}</label>
                <div class="readonly">
                    <ul>
                        {% for key, value in data.items %}
                            {% if value.type == 'unknown component' %}
                                <li>{% trans "Unknown component" %}</li>
                            {% elif value.type in image_components %}
                                <li>{{ key }}: <img class='signature-image' src='{{ value.value }}' alt='{{ key }}'></li>
                            {% else %}
                                <li>{{ key }}: {{ value.value }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-row field-attachments">
            <div>
                <label>{% trans "Attachments:" %}</label>
                <div class="readonly">
                    <ul>
                        {% for key, files in attachments.items %}
                            <li>{{ key }}:
                                {% for file in files %}
                                    <a href="{% url "admin:submissions_submissionfileattachment_content" pk=file.id %}">
                                    {{ file.get_display_name }} - {{ file.content.size }} bytes
                                    </a>
                                    {% if not forloop.last %} - {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}
