{% load ui %}

<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__list-item">
            {% anchor href='#' hover=True style='inherit' label='Home' %}
        </li>

        <li class="breadcrumbs__list-item">
            {% anchor href='#' hover=True style='inherit' label='Inwoners en ondernemers' %}
        </li>

        <li class="breadcrumbs__list-item">
            {% anchor href='#' hover=True style='inherit' label='Paspoort, rijbewijs en uitreksel' %}
        </li>

        <li class="breadcrumbs__list-item">
            Uitreksel persoonsgegevens
        </li>
    </ol>
</nav>
