<nav class="breadcrumbs">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__list-item">
            <a class="anchor anchor--hover anchor--inherit" href="#">Home</a>
        </li>

        <li class="breadcrumbs__list-item">
            <a class="anchor anchor--hover anchor--inherit" href="#">Inwoners en ondernemers</a>
        </li>

        <li class="breadcrumbs__list-item">
            <a class="anchor anchor--hover anchor--inherit" href="#">Paspoort, rijbewijs en uitreksel</a>
        </li>

        <li class="breadcrumbs__list-item">
            Uitreksel persoonsgegevens
        </li>
    </ol>
</nav>
