{% load i18n %}
{% load cookie_consent_tags %}

<div class="cookie-group">
    <h2 class="utrecht-heading-2 utrecht-heading-2--distanced openforms-subtitle cookie-group__title">
        {{ cookie_group.name }}
    </h2>

    <p class="openforms-body">
      {{ cookie_group.description }}
    </p>

    {% if not cookie_group.is_required %}
    <div class="cookie-group__form">

        {% if request|cookie_group_accepted:cookie_group.varname %}
            <span class="cookie-consent-accepted">{% trans "Accepted" %}</span>
        {% else %}
            <form class="cookie-consent-accept" action="{% url 'cookie_consent_accept' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cookie_groups" value="{{ cookie_group.varname }}">
                <input type="hidden" name="next" value="{{ request.path }}?referer={{ referer }}" />
                <button type="submit" class="utrecht-button utrecht-button--primary-action">{% trans "Accept" %}</button>
            </form>
        {% endif %}

        {% if request|cookie_group_declined:cookie_group.varname %}
            <span class="cookie-consent-declined">{% trans "Declined" %}</span>
        {% else %}
            <form class="cookie-consent-decline" action="{% url 'cookie_consent_decline' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cookie_groups" value="{{ cookie_group.varname }}">
                <input type="hidden" name="next" value="{{ request.path }}?referer={{ referer }}" />
                <button type="submit" class="utrecht-button utrecht-button--primary-action">{% trans "Decline" %}</button>
            </form>
        {% endif %}

    </div>
    {% endif %}

</div>
