{% load i18n %}
{% load cookie_consent_tags %}

<div class="cookie-group">
    <h2 class="cookie-group__title">{{ cookie_group.name }}</h2>

    <p class="cookie_group__description">
      {{ cookie_group.description }}
    </p>

    {% if not cookie_group.is_required %}
    <div class="cookie-group__form">

        {% if request|cookie_group_accepted:cookie_group.varname %}
            <span class="cookie-consent-accepted">{% trans "Accepted" %}</span>
        {% else %}
            <form class="cookie-consent-accept" action="{% url 'cookie_consent_accept' cookie_group.varname %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button button--primary">{% trans "Accept" %}</button>
            </form>
        {% endif %}

        {% if request|cookie_group_declined:cookie_group.varname %}
            <span class="cookie-consent-declined">{% trans "Declined" %}</span>
        {% else %}
            <form class="cookie-consent-decline" action="{% url 'cookie_consent_decline' cookie_group.varname %}" method="post">
                {% csrf_token %}
                <button type="submit" class="button button--primary">{% trans "Decline" %}</button>
            </form>
        {% endif %}

    </div>
    {% endif %}

</div>
