{% load ui %}

<div class="toolbar">
    <ul class="toolbar__list">
        <li class="toolbar__list-item">
            {% button href=previous label='Vorige pagina' style='anchor' %}
        </li>
    </ul>

    <ul class="toolbar__list">
        <li class="toolbar__list-item">
            {% button label='Tussentijds opslaan' style='secondary' %}
        </li>

        <li class="toolbar__list-item">
            {% button href=next label=next_label style='primary' %}
        </li>
    </ul>
</div>
