{% load ui %}

<div class="card">
    <h3 class="caption">Uitreksel aanvragen</h3>
    <ol class="list">
        <li class="list__item">{% anchor indent='auto' hover=True style='inherit' icon_icon='check' href='sample_app:digid_login' label='Inloggen' %}</li>
        <li class="list__item">{% anchor indent='auto' hover=True style='muted' href='sample_app:form_details' label='Details aanvraag uitreksel' %}</li>
        <li class="list__item">{% anchor indent='auto' hover=True style='muted' href='sample_app:form_appointment' label='Afspraak gegevens' %}</li>
        <li class="list__item">{% anchor indent='auto' hover=True style='muted' href='sample_app:form_contact' label='Uw gegevens' %}</li>
        <li class="list__item">{% anchor indent='auto' hover=True style='muted' href='sample_app:overview' label='Controleer en bevestig' %}</li>
    </ol>
</div>
