@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  @media print {
    display: none;
  }

  &__list {
    @include responsive(flex-direction, column, column, row);
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    @include rows(1);
    display: flex;
    align-items: center;

    @include laptop {
      @include margin($property: margin-right);
    }
  }

  @include breakpoint($max: $breakpoint-laptop) {
    &__list:last-child &__list-item:last-child {
      padding-bottom: $typography-margin-base;
    }

    &__list:last-child &__list-item:last-child > .button--primary {
      @include absolute($right: 0, $bottom: 0);
      @include margin(true, $property: margin-top);
      justify-content: center;
      width: 100%;
    }
  }

  .image {
    @include margin($property: margin-right);
    float: left;
    height: 34px;
  }
}
