interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v2/zoeken?rsin=992760562
  response:
    body:
      string: '{"pagina":1,"resultatenPerPagina":10,"totaal":1,"resultaten":[{"kvkNummer":"90001354","rsin":"992760562","vestigingsnummer":"990000541921","naam":"Grand
        Joyflex B.V.","adres":{"binnenlandsAdres":{"type":"postadres","plaats":"Sterksel"}},"type":"hoofdvestiging","_links":{"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/90001354"},"vestigingsprofiel":{"href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/990000541921"}}}],"_links":{"self":{"href":"https://api.kvk.nl/test/api/v2/zoeken?rsin=992760562&pagina=1&resultatenperpagina=10"}}}'
    headers:
      API-Version:
      - 2.1.0
      Content-Type:
      - application/hal+json
      ap:
      - Prerelease BR
      apiAuthzDetails:
      - Not Set|l7xx1f2691f2520d487b902f4e0b57a0b197|0feb89a2-67e4-4af4-a4fd-24533eaeeee9|quota?ok|rate?
      counter.id:
      - ''
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v2/zoeken?rsin=123456782
  response:
    body:
      string: '{"fout":[{"code":"IPD5200","omschrijving":"Er zijn geen gegevens gevonden
        die voldoen aan de opgegeven zoekparameters."}]}'
    headers:
      Content-Type:
      - application/json
      ap:
      - Prerelease BR
      apiAuthzDetails:
      - Not Set|l7xx1f2691f2520d487b902f4e0b57a0b197|0feb89a2-67e4-4af4-a4fd-24533eaeeee9|quota?ok|rate?
      counter.id:
      - ''
    status:
      code: 404
      message: ''
version: 1
