@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

.page-header {
  @include margin(
    true,
    $properties: padding,
    $value-mobile: var(--of-page-header-mobile-padding),
    $value-tablet: var(--of-page-header-tablet-padding),
    $value-laptop: var(--of-page-header-laptop-padding),
    $value-desktop: var(--of-page-header-desktop-padding)
  );

  background: var(--of-page-header-bg);
  color: var(--of-page-header-fg, #{$typography-color-text});
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include bem.modifier('has-logo') {
    .page-header__return-url {
      &,
      &:hover {
        color: transparent !important;
        text-decoration: none !important;
      }

      font-size: 0;

      background-image: var(--of-header-logo-url);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      min-width: var(--of-page-header-logo-return-url-min-width, 100px);
      min-height: var(--of-page-header-logo-return-url-min-height, 50px);
      width: var(--of-header-logo-width);
      height: var(--of-header-logo-height);

      @include mobile-only {
        min-width: var(--of-page-header-logo-return-url-mobile-min-width, 50px);
        min-height: var(--of-page-header-logo-return-url-mobile-min-height, 25px);
      }
    }
  }

  @include bem.element('return-url') {
    display: block;
  }
}
