@import '../../settings';

// colors
$page-header-background: var(--of-page-header-bg);

// padding/spacing
$page-header-padding--mobile: var(--of-page-header-mobile-padding);
$page-header-padding--tablet: var(--of-page-header-tablet-padding);
$page-header-padding--laptop: var(--of-page-header-laptop-padding);
$page-header-padding--desktop: var(--of-page-header-desktop-padding);

// logo
$page-header-logo-url: var(--of-header-logo-url);
$page-header-logo-width: var(--of-header-logo-width);
$page-header-logo-height: var(--of-header-logo-height);
