@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

.title {
  @include h1;
}

.subtitle {
  @include h2;
}

.caption {
  @include h3;
}

.body {
  @include body;
  clear: both;

  &--small {
    @include body--small
  }

  &--big {
    @include body--big
  }
}

.title,
.subtitle,
.caption,
.body {
  @include margin;

  &--compact {
    @include margin($value-mobile: $grid-margin-1);
  }

  &--emphasized {
    font-style: italic;
  }

  &--muted {
    color: $color-gray-darker;
  }
}
