@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

.title {
  @include h1(auto);
}

.subtitle {
  @include h2(auto);
}

.caption {
  @include h3(auto);
}

.body {
  @include body(auto);
  clear: both;

  &--small {
    @include body--small
  }

  &--big {
    @include body--big
  }
}

.title,
.subtitle,
.caption,
.body {
  &--emphasized {
    font-style: italic;
  }

  &--muted {
    color: $color-gray-darker;
  }
}
