{% load ui %}

<footer class="footer">
    <div class="footer__header">
        <h2 class="subtitle subtitle--emphasized">Samen maken we onderwijs en ontwikkeling mogelijk</h2>
    </div>

    <div class="footer__body">
        <nav class="footer__nav">
            <h3 class="caption caption--compact">Language</h3>

            <ul class="list list--compact">
                <li class="list__item"><a class="anchor anchor--hover anchor--inherit" href="#">English site</a></li>
                <li class="list__item"><a class="anchor anchor--hover anchor--inherit" href="#">Deutsche seite</a></li>
            </ul>
        </nav>


        <nav class="footer__nav">
            <h3 class="caption caption--compact">Service</h3>

            <ul class="list list--compact">
                <li class="list__item"><a class="anchor anchor--hover anchor--inherit" href="#">Contact</a></li>
                <li class="list__item"><a class="anchor anchor--hover anchor--inherit" href="#">Privacy</a></li>
                <li class="list__item"><a class="anchor anchor--hover anchor--inherit" href="#">Proclaimer</a></li>
                <li class="list__item"><a class="anchor anchor--hover anchor--inherit" href="#">Toegankelijkheid</a></li>
                <li class="list__item"><a class="anchor anchor--hover anchor--inherit" href="#">Inloggen {% fa_icon icon='lock' style='solid' %}</a></li>
            </ul>
        </nav>
    </div>
</footer>
