{% extends 'ui/views/abstract/detail.html' %}

{% load admin_urls static i18n %}

{% block content %}
{#    TODO Remove below links#}
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.form.io/formiojs/formio.full.min.css'>
    <script src='https://cdn.form.io/formiojs/formio.full.min.js'></script>

    <div id="react-create">
        {# empty on purpose - react managed #}
    </div>

{% endblock %}
