{% extends 'ui/views/abstract/detail.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link href="{{ settings.SDK_BASE_URL }}/open-forms-sdk.css" rel="stylesheet" />
{% endblock %}

{% block card %}
    <div id="form-root"></div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}

    <script src="{{ settings.SDK_BASE_URL }}/open-forms-sdk.js"></script>
    <script>
        const formId = '{{ form.slug }}';
        const baseUrl = 'http://localhost:8000/api/v1/';
        const targetNode = document.getElementById('form-root');

        const form = new OpenForms.OpenForm(targetNode, { baseUrl, formId });
        form.init();
    </script>
{% endblock %}
