{% extends 'ui/views/abstract/detail.html' %}

{% load admin_urls static i18n %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bundles/admin_overrides.css' %}">
{% endblock %}

{% block content %}
    <p id="form-uuid" hidden>{{ object.uuid }}</p>
    <div id="react-edit">
        {# empty on purpose - react managed #}
    </div>

{% endblock %}
