{% extends 'ui/views/abstract/detail.html' %}
{% load i18n static %}

{% block card %}
<div class="openforms-card">
    <header class="openforms-card__header">
        <h1 class="utrecht-heading-1 openforms-title">
            {% blocktranslate with name=user.get_employee_name trimmed %}
               Logged in as employee {{ name }}
            {% endblocktranslate %}
        </h1>
    </header>

    <div class="openforms-card__body">
        <p class="body">
            {% blocktranslate trimmed %}
               When filling out a form for a client or company please enter additional information.
            {% endblocktranslate %}
        </p>


        <form id="registrator-subject" method="post">
            {% csrf_token %}

            {% include "includes/forms/errorlist.html" with errors=form.non_field_errors only %}

            {# Toggle for continue-mode: citizen, company or employee #}
            {% include "includes/forms/field_wrapper.html" with field=form.mode type='radio' only %}

            <div class="auth-mode auth-mode--citizen">
                {% include "includes/forms/field_wrapper.html" with field=form.bsn type='bsn' only %}

                <p role="group" class="utrecht-button-group utrecht-button-group--column openforms-form-navigation">
                    <button class="utrecht-button utrecht-button--submit utrecht-button--primary-action openforms-form-navigation__next-button" type="submit">
                        {% trans "Continue" %}
                        <span class="utrecht-icon" aria-hidden="true">
                            <i class="fa fas fa-fw fa-icon" aria-hidden="true"></i>
                        </span>
                    </button>
                </p>
            </div>

            <div class="auth-mode auth-mode--company">
                {% include "includes/forms/field_wrapper.html" with field=form.kvk only %}
                {% include "includes/forms/field_wrapper.html" with field=form.kvk_branch_number only %}

                <p role="group" class="utrecht-button-group utrecht-button-group--column openforms-form-navigation">
                    <button class="utrecht-button utrecht-button--submit utrecht-button--primary-action openforms-form-navigation__next-button" type="submit">
                        {% trans "Continue" %}
                        <span class="utrecht-icon" aria-hidden="true">
                            <i class="fa fas fa-fw fa-icon" aria-hidden="true"></i>
                        </span>
                    </button>
                </p>
            </div>

            <div class="auth-mode auth-mode--employee">
                <p role="group" class="utrecht-button-group utrecht-button-group--column openforms-form-navigation">
                    <button class="utrecht-button utrecht-button--submit utrecht-button--primary-action openforms-form-navigation__next-button" type="submit" name="skip_subject" value="on">
                        {{ form.skip_subject.label }}
                        <span class="utrecht-icon" aria-hidden="true">
                            <i class="fa fas fa-fw fa-icon" aria-hidden="true"></i>
                        </span>
                    </button>
                </p>
            </div>

        </form>

    </div>
</div>
{% endblock %}
