@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

.a11y-toolbar {
  @media print {
    display: none;
  }
  @include mobile-only {
      padding-inline-end: var(--of-app-mobile-padding-inline-end, 15px);
      padding-inline-start: var(--of-app-mobile-padding-inline-start, 15px);
  }

  @include bem.element('list') {
    display: flex;
    margin: 0;
    gap: $grid-margin-3;
    padding-inline-start: var(--of-card-padding-inline-start, 40px);
    padding-inline-end: var(--of-card-padding-inline-end, 40px);

    @include mobile-only {
      @include container-margin($properties: padding);

      flex-direction: column;
    }
  }

  .utrecht-link.utrecht-link--openforms {
    @include margin(true, padding-top);
    @include margin(true, padding-bottom);
  }
}

@include mobile-only {
  .openforms-theme {
    .a11y-toolbar__list {
      align-items: center;
    }
  }
}
