interactions:
- request:
    body: SAMLRequest=PHNhbWxwOkF1dGhuUmVxdWVzdCB4bWxuczpzYW1scD0idXJuOm9hc2lzOm5hbWVzOnRjOlNBTUw6Mi4wOnByb3RvY29sIiB4bWxuczpzYW1sPSJ1cm46b2FzaXM6bmFtZXM6dGM6U0FNTDoyLjA6YXNzZXJ0aW9uIiBJRD0iT05FTE9HSU5fMTIzNDU2IiBWZXJzaW9uPSIyLjAiIElzc3VlSW5zdGFudD0iMjAyNS0wOC0yNVQxNDo0MTo1MVoiIERlc3RpbmF0aW9uPSJodHRwczovL21heWtpbi5wcmUuaWUwMS5zaWduaWNhdC5wcm8vYnJva2VyL3NwL3NhbWwvbG9naW4iIFByb3RvY29sQmluZGluZz0idXJuOm9hc2lzOm5hbWVzOnRjOlNBTUw6Mi4wOmJpbmRpbmdzOkhUVFAtQXJ0aWZhY3QiIEFzc2VydGlvbkNvbnN1bWVyU2VydmljZVVSTD0iaHR[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/selection
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <title>Select simulator</title>\n
        \   <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\" />\n    <link rel=\"shortcut icon\" href=\"/broker/images/favicon.png\"
        />\n    <link\n      rel=\"stylesheet\"\n      type=\"text/css\"\n      href=\"/broker/css/logo.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/material-icons.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/open-sans.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/mabry.css\"\n
        \   />\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.css\"\n
        \   />\n    \n    <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.4/signicat-styling.js\"\n
        \   ></script>\n    <script\n      type=\"text/javascript\"\n      src=\"https://cdn.connectis.io/styling/1.1.10/assets/js/disable-submit-button.js\"\n
        \   ></script>\n  </head>\n  <body class=\"mdc-typography\">\n    <div class=\"app-background\"></div>\n
        \   <div class=\"mdc-drawer-app-content\">\n      <header class=\"mdc-top-app-bar
        mdc-top-app-bar--fixed\">\n        <div class=\"mdc-top-app-bar__row\">\n
        \         <section\n            class=\"mdc-top-app-bar__section mdc-top-app-bar__section--align-end\"\n
        \         ><div>\n    <div class=\"mdc-menu-surface--anchor cng-menu mr-4\">\n
        \     <button class=\"mdc-button cng-menu__button profile-button\">\n        <span
        class=\"mdc-button__ripple\"></span>\n        <i class=\"material-icons mdc-button__icon\">language</i>\n
        \       <span class=\"mdc-button__label\"\n          >en</span\n        >\n
        \     </button>\n      <div class=\"mdc-menu mdc-menu-surface cng-menu__menu\">\n
        \       <div\n          class=\"mdc-list\"\n          id=\"language-select\"\n
        \         role=\"menu\"\n          aria-hidden=\"true\"\n          aria-orientation=\"vertical\"\n
        \         tabindex=\"-1\"\n          data-mdc-auto-init=\"MDCList\"\n        >\n
        \         <a href=\"?lang=en\" role=\"menuitem\" class=\"mdc-list-item\">\n
        \           <img\n              src=\"https://cdn.connectis.io/styling/1.1.4/assets/locales/en.png\"\n
        \             alt=\"\"\n              class=\"mdc-list-item__graphic cng-locale-flag\"\n
        \           />\n            <span class=\"mdc-list-item__text\"> English </span>\n
        \         </a>\n          <a href=\"?lang=nl\" class=\"mdc-list-item\" role=\"menuitem\">\n
        \           <img\n              src=\"https://cdn.connectis.io/styling/1.1.4/assets/locales/nl.png\"\n
        \             alt=\"\"\n              class=\"mdc-list-item__graphic cng-locale-flag\"\n
        \           />\n            <span class=\"mdc-list-item__text\"> Nederlands
        </span>\n          </a>\n        </div>\n      </div>\n    </div>\n  </div></section>\n
        \       </div>\n      </header>\n      <main class=\"page-content\">\n        <div
        class=\"mdc-layout-grid\">\n          <div class=\"mdc-layout-grid__inner\">\n
        \           <div class=\"mdc-card cng-small-card--centered\">\n              <form
        method=\"post\">\n                <div class=\"cng-card__primary\">\n                  <div
        class=\"logo-container primary-logo mb-4\"></div>\n                  <div\n
        \                   class=\"mdc-typography--headline5 text-center\"\n                  >Select
        simulator</div>\n                </div>\n                <div class=\"cng-card__divider\"></div>\n
        \               <div class=\"cng-card__secondary\">\n                  <nav
        class=\"mdc-list connection-list\">\n                    <a\n                      class=\"mdc-list-item
        my-2\"\n                      href=\"authenticate/custom\"\n                      data-test=\"selection-custom\"\n
        \                   >\n                      <span class=\"mdc-list-item__graphic\">\n
        \                       <img src=\"/broker/connection/simulator.svg\" />\n
        \                     </span>\n                      <span\n                        class=\"mdc-list-item__text\"\n
        \                     >Custom</span>\n                    </a>\n\n                    <a\n
        \                     class=\"mdc-list-item my-2\"\n                      href=\"authenticate/digid\"\n
        \                   >\n                      <span class=\"mdc-list-item__graphic\">\n
        \               [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/authenticate/digid
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <title>Signicat
        DigiD simulator</title>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\" />\n    <link rel=\"shortcut
        icon\" href=\"/broker/images/favicon.png\" />\n    <link\n      rel[...]
- request:
    body: bsn=900026236&loa=loa2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://maykin.pre.ie01.signicat.pro/broker/authn/simulator/authenticate/digid
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"utf-8\"
        />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"
        />\n    <link rel=\"shortcut icon\" href=\"/broker/images/favicon.png\" />\n
        \   <link\n      rel=\"stylesheet\"\n      href=\"https://c[...]
