@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/typography';

@import './vars';
@import './mixins';

.anchor {
  @include text;

  &:not(#{&}--hover) {
    @include of-anchor;
  }
  &--hover {
    @include of-anchor(true);
  }

  &--active {
    font-weight: bold;
  }

  &--inherit {
    color: inherit!important;
  }

  &--muted {
    color: $color-gray-darker!important;
  }

  &--active#{&}--muted,
  &--muted:hover {
    color: $typography-color-text!important;
  }

  &--indent {
    padding-left: 0.6em;
  }
}
