/*
Generic admin styling overrides.

DO NOT PUT ANY TARGET APP-SPECIFIC RULES HERE.
 */
@use "sass:list" as list;
@use "sass:selector" as selector;

@import "../vars";

// override django CSS variables
// see admin/static/admin/css/base.css for a reference
:root {
  --primary: #{$color_primary} !important;
  --accent: #{$color_secondary};
  --secondary: #{$color_primary} !important;
  --primary-fg: #{$color_lightest};

  --header-color: #{$color_secondary_light};

  --breadcrumbs-fg: #{$color_primary};
  --breadcrumbs-link-fg: var(--body-fg);
  --breadcrumbs-link-hover: #{$color-darkest}; // not in the core django vars
  --breadcrumbs-bg: #{$color_secondary};

  --link-fg: #{$color_link};
  --link-hover-color: #{$color_link_hover};
  --link-selected-fg: #5b80b2;

  // #748 client requested increased contrast for form-row borders
  // here we override a django admin style
  --hairline-color: #e5e5e5;

  // --button-bg: var(--primary);
  --button-fg: #{$color_lightest};
  --button-hover-bg: #{$color_primary_dark};
  --default-button-bg: #{$color_primary_dark};
  --default-button-hover-bg: #{$color_darkest};
  --close-button-bg: #{$color_dark_light};
  --close-button-hover-bg: #{$color_dark};

  --object-tools-bg: #888;
  --object-tools-hover-bg: #{$color_dark};

  // custom variables
  --form-input-bg: var(--body-bg);
  --react-tab-border-color: #{$color-secondary-dark};
  --list-item-active-bg: #{$color-secondary};
  --list-item-active-fg: var(--primary);
  --edit-panel-title-bg: #{$color-secondary-dark};
  --edit-panel-title-fg: #{$color-dark};
}

@media (prefers-color-scheme: dark) {

  :root {
    --primary: #037383 !important;
    --secondary: #037383 !important;

    --breadcrumbs-fg: #2fc0ec;
    --breadcrumbs-link-hover: #{$color-dark-light};
    --breadcrumbs-bg: #{$color-dark};

    --link-fg: #04a5bb;
    --link-hover-color: #b2cddf;

    --hairline-color: #686868;

    --button-hover-bg: #{$color-primary};
    --default-button-bg: #{$color-primary};
    --default-button-hover-bg: #{$color-dark-light};

    --form-input-bg: #232222;
    --react-tab-border-color: var(--hairline-color);
    --list-item-active-bg: #{$color-dark};
    --list-item-active-fg: #2fc0ec;
    --edit-panel-title-bg: #{$color-dark};
    --edit-panel-title-fg: var(--body-fg);
  }

  .djai-dropdown-menu {
    border-bottom-color: $color-dark !important;
  }

  input[type=text], input[type=password],
  input[type=email],
  input[type=url],
  input[type=number],
  input[type=tel],
  textarea,
  select,
  .vTextField {
    background-color: var(--form-input-bg);
  }

  body #toolbar {
    background: var(--body-bg);
  }
}

/* Overrides */
body {
  &.change-form {
    line-height: 1.15;  // bootstrap reboot overrides this otherwise, which is pulled in by formio
  }
}

div#header {
  // some admin pages (form definitions, form designer) include bootstrap which is
  // just a massive PITA and we need these overrides because of the CSS reset that's
  // loaded.
  &, * {
    box-sizing: content-box;
  }

  line-height: normal;
}

#user-tools {
  // fixme - hardcoded magic numbers, because of the domain switcher that may or may not be there
  height: 32px;

  a {
    border-bottom: none;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--header-link-color);
    }
  }

  .user-tools__switcher {
    select {
      box-sizing: border-box !important;
    }
  }
}

div.breadcrumbs {
  a {
    &:focus,
    &:hover {
      color: var(--breadcrumbs-link-hover);
    }
  }
}

/* Important is used because Django templates include their own style, after ours */
#changelist-filter {
  a:focus,
  a:hover {
    color: var(--link-fg) !important;
  }

  li.selected a {
    color: var(--link-fg) !important;

    &:focus,
    &:hover {
      color: var(--primary) !important;
    }
  }
}

/* Calendar & time widget */
.calendarbox,
.clockbox {
  z-index: 2;
}

.calendar caption,
.calendarbox h2 {
  background: $color_secondary_dark !important;
  color: $color_dark !important;
}

.calendar td,
.timelist {
  a {
    &:focus, &:hover {
      background: $color_primary_dark !important;
    }
  }
}

.module.clockbox h2 {
  /* Match the clock widget with the calendar widget */
  background: $color_secondary_dark !important;
  color: $color_dark !important;
  font-weight: bold !important;
}

@mixin icon-override($iconUrl) {
  background: none;
  // display: inline-flex;
  // align-items: center;
  // padding-left: 0;
  color: var(--body-fg);
  position: relative;

  // need to use pseudo element, otherwise the text in the same element is not visible
  // because of the mask clipping
  &:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    margin-right: 2px;
    background: var(--body-fg) !important;
    color: var(--body-fg);
    mask-image: url($iconUrl);
    mask-repeat: no-repeat;
    mask-size: 14px 14px;
    mask-position: 0px 0px;
  }
}

/* Icons */
.addlink {
  @include icon-override('../img/admin/plus-square-regular.svg');
}

.object-tools a.addlink {
  &:before {
    display: none;
  }
}

.changelink, .inlinechangelink {
  @include icon-override('../img/admin/edit-regular.svg');
}
.deletelink {
  background: url('../img/admin/trash-alt-regular.svg') 0 0/14px 14px no-repeat;
}
.datetimeshortcuts .clock-icon {
  @include icon-override('../img/admin/clock-regular.svg');
  background: none !important;
}
.datetimeshortcuts .date-icon {
  @include icon-override('../img/admin/calendar-alt-regular.svg');
  background: none !important;
}

/* Footer */
.login .version {
  text-align: center;
}
.version {
  padding: 0 30px;
  color: $color_secondary_dark;
  font-size: smaller;
}

/**
 * Environment banner
 */
.env {
  display: block;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: $color_secondary;
  background-color: $color_dark;
  position: fixed;
  top: 0;
  height: 35px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  z-index: 1000001;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/**
 * Django form field lengths
 */
.change-form {
  .vTextField {
    width: $input-field-size;
  }
}

// some admin pages (form definitions, form designer) include bootstrap which is
// just a massive PITA and we need these overrides because of the CSS reset that's
// loaded.
div#container {

  .content #content {
    padding-top: 20px; // restore original django padding
  }
}


// login template from 2FA in combination with admin
body.login {
  #container {
    #header {
      box-sizing: border-box;
      width: 100%;
      border-bottom: none;
    }

    #main {
      padding-top: 0;
    }
  }
}

body.popup {
  #container {
    #main {
      padding-top: 0; // popup menu's have no header
    }
  }
}

/**
 * DJANGO-BETTER-ADMIN-ARRAYFIELD
 * Some elements are marked as !important because the style is loaded after
 * this theme.
 */
.dynamic-array-widget {

  /* Substitute with icon */
  .remove {
    background: url('../img/admin/trash-alt-regular.svg') 0 0/14px 14px no-repeat;
    width: 14px;
    line-height: 16px;

    .inline-deletelink {
      display: none;
    }
  }

  .array-item {
    input {
      width: $input-field-size;
    }
  }
}

/**
 * Branding
 */

 // some admin pages (form definitions, form designer) include bootstrap which is
 // just a massive PITA and we need these overrides because of the CSS reset that's
 // loaded.
#branding {
  h1 {
    // bootstrap mess
    line-height: normal;
    // admin override
    font-weight: bold;
  }
}


/**
 * Help text mouseover
 */
div.help:hover {
  text-indent: inherit;
  width: auto;
  background-image: none;
  background-color: $color-tooltip-background;
  border: 1px solid $color-tooltip-border;
  color: $color-tooltip-text;;
  padding: 5px 5px 3px 5px !important;
  max-width: 300px;
  height: auto !important;
  z-index: 10;
}

div.help {
  cursor: help;
  width: 16px;
  height: 16px;
  background-image: url(../admin/img/icon-unknown.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 14px;
  margin-left: 2px !important;
  position: absolute;
  text-indent: -9999px;
}

/* Overrides default Django CSS */
.aligned label + p, .aligned label + div.readonly {
  display: inline-block;
  margin-left: inherit !important;
}
.aligned label + div.help {
  margin-left: 2px !important;
}

/* Additional components seem to need the same behaviour */
/* TODO: TinyMCE is different... */
.aligned label + ul {
  display: inline-block;
  margin-left: inherit !important;
}

/**
 * Bootstrap overrides
 *
 * Bootstrap is used by the formio builder and enforces some default colors that
 * aren't great.
 */
.btn {
  &.btn-primary {
    background-color: transparent;
    border-color: transparent;
    color: inherit;

    &:hover {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--primary-fg);
    }
  }
}

body {
  background-color: var(--body-bg) !important;
  color: var(--body-fg);
}
