/*
Generic admin styling overrides.

DO NOT PUT ANY TARGET APP-SPECIFIC RULES HERE.
 */
@use "sass:list" as list;
@use "sass:selector" as selector;

@import "../vars";

// override django CSS variables
// see admin/static/admin/css/base.css for a reference
:root {
  --primary: #{$color_primary};
  --accent: #{$color_secondary};
  --secondary: #{$color_primary};
  --primary-fg: #{$color_lightest};

  --header-color: #{$color_secondary_light};

  --breadcrumbs-fg: #{$color_primary};
  --breadcrumbs-link-fg: var(--body-fg);
  --breadcrumbs-bg: #{$color_secondary};

  --link-fg: #{$color_link};
  --link-hover-color: #{$color_link_hover};
  --link-selected-fg: #5b80b2;

  // #748 client requested increased contrast for form-row borders
  // here we override a django admin style
  --hairline-color: #e5e5e5;

  // --button-bg: var(--primary);
  --button-fg: #{$color_lightest};
  --button-hover-bg: #{$color_primary_dark};
  --default-button-bg: #{$color_primary_dark};
  --default-button-hover-bg: #{$color_darkest};
  --close-button-bg: #{$color_primary_light};
  --close-button-hover-bg: #{$color_dark};
}

/* Overrides */
body {
  overflow-y: scroll;

  &.change-form {
    line-height: 1.15;  // bootstrap reboot overrides this otherwise, which is pulled in by formio
  }
}

div#header {
  // padding of 40px by django, fixed position pulls it out of the document so
  // we need to compensate for the padding manually.
  width: calc(100% - 2 * 40px);
  /* Added to attach body */
  border-bottom: 8px solid var(--accent);

  // some admin pages (form definitions, form designer) include bootstrap which is
  // just a massive PITA and we need these overrides because of the CSS reset that's
  // loaded.
  &, * {
    box-sizing: content-box;
  }

  height: auto;
  line-height: normal;
}

#user-tools {
  // fixme - hardcoded magic numbers, because of the domain switcher that may or may not be there
  height: 32px;

  a {
    border-bottom: none;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--header-link-color);
    }
  }

  .user-tools__switcher {
    select {
      box-sizing: border-box !important;
    }
  }
}

div.breadcrumbs {
  position: relative; // scrolling makes it hide behind the header
  top: 94px; // #header height
  width: auto;

  a {
    &:focus,
    &:hover {
      color: $color_darkest;
    }
  }
}

/* Important is used because Django templates include their own style, after ours */
#changelist-filter {
  a:focus,
  a:hover {
    color: var(--link-fg) !important;
  }

  li.selected a {
    color: var(--link-fg) !important;

    &:focus,
    &:hover {
      color: var(--primary) !important;
    }
  }
}

/* Calendar & time widget */
.calendar caption,
.calendarbox h2 {
  background: $color_secondary_dark !important;
  color: $color_dark !important;
}

.calendar td,
.timelist {
  a {
    &:focus, &:hover {
      background: $color_primary_dark !important;
    }
  }
}

.module.clockbox h2 {
  /* Match the clock widget with the calendar widget */
  background: $color_secondary_dark !important;
  color: $color_dark !important;
  font-weight: bold !important;
}

/* Icons */
.addlink {
  background: url('../img/admin/plus-square-regular.svg') 0 0/14px 14px no-repeat;
}
.changelink, .inlinechangelink {
  background: url('../img/admin/edit-regular.svg') 0 0/14px 14px no-repeat;
}
.deletelink {
  background: url('../img/admin/trash-alt-regular.svg') 0 0/14px 14px no-repeat;
}
.datetimeshortcuts .clock-icon {
  background: url('../img/admin/clock-regular.svg') 0 0/14px 14px no-repeat !important;
}
.datetimeshortcuts .date-icon {
  background: url('../img/admin/calendar-alt-regular.svg') 0 0/14px 14px no-repeat !important;
}

/* Footer */
.login .version {
  text-align: center;
}
.version {
  padding: 0 30px;
  color: $color_secondary_dark;
  font-size: smaller;
}

/**
 * Environment banner
 */
.env {
  display: block;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: $color_secondary;
  background-color: $color_dark;
  position: fixed;
  top: 0;
  height: 35px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  z-index: 1000001;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/**
 * Django form field lengths
 */
.change-form {
  .vTextField {
    width: $input-field-size;
  }
}

/**
 * DJANGO ADMIN INDEX
 */

@mixin admin-index-link(
  $background-color--active: var(--accent),
  $color--active: var(--primary),
  $color-link: var(--primary-fg),
) {

  @each $sel in & {
    $last-selector: list.nth(list.nth(selector.parse($sel), 1), -1);
    $selector-active: "#{&}#{$last-selector}--active";

    @at-root #{$selector-active} {
      background-color: $background-color--active;
      text-decoration: none;

      &, &:link, &:visited {
        color: $color--active;
      }

      &:hover {
        color: var(--primary-fg);
      }
    }
  }

  &, &:link, &:visited {
    color: $color-link;

    &:hover {
      background-color: var(--button-hover-bg);
    }
  }

}

// some admin pages (form definitions, form designer) include bootstrap which is
// just a massive PITA and we need these overrides because of the CSS reset that's
// loaded.
div#container {

  .content #content {
    padding-top: 20px; // restore original django padding
  }

  #main {
    padding-top: 94px; // account for header height offset, which is positioned fixed
  }

  .dropdown-menu {

    // 42px from admin index, 8px to add more vertical spacing again between branding and dropdown
    // which are now both child elements of the header
    top: 42px + 16px;

    left: auto;
    display: block;
    float: initial;
    background-color: var(--primary);
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: normal;

    &__item {
      @include admin-index-link($color--active: var(--primary));
      background-color: var(--primary);
    }

    &__drop {
      background-color: var(--primary);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.2);
      /* Override for wider dropdown */
      min-width: 250px;
    }

    &__link {
      @include admin-index-link(
        $background-color--active: var(--button-hover-bg),
        $color--active: var(--primary-fg),
      );
    }
  }
}


// login template from 2FA in combination with admin
body.login {
  #container {
    #header {
      box-sizing: border-box;
      width: 100%;
      border-bottom: none;
    }

    #main {
      padding-top: 0;
    }
  }
}

/**
 * DJANGO-BETTER-ADMIN-ARRAYFIELD
 * Some elements are marked as !important because the style is loaded after
 * this theme.
 */
.dynamic-array-widget {

  /* Substitute with icon */
  .remove {
    background: url('../img/admin/trash-alt-regular.svg') 0 0/14px 14px no-repeat;
    width: 14px;
    line-height: 16px;

    .inline-deletelink {
      display: none;
    }
  }

  .array-item {
    input {
      width: $input-field-size;
    }
  }
}

/**
 * Branding
 */

 // some admin pages (form definitions, form designer) include bootstrap which is
 // just a massive PITA and we need these overrides because of the CSS reset that's
 // loaded.
#branding {
  h1 {
    // bootstrap mess
    line-height: normal;
    // admin override
    font-weight: bold;
  }
}


/**
 * Help text mouseover
 */
div.help:hover {
  text-indent: inherit;
  width: auto;
  background-image: none;
  background-color: $color-tooltip-background;
  border: 1px solid $color-tooltip-border;
  color: $color-tooltip-text;;
  padding: 5px 5px 3px 5px !important;
  max-width: 300px;
  height: auto !important;
  z-index: 10;
}

div.help {
  cursor: help;
  width: 16px;
  height: 16px;
  background-image: url(../admin/img/icon-unknown.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 14px;
  margin-left: 2px !important;
  position: absolute;
  text-indent: -9999px;
}

/* Overrides default Django CSS */
.aligned label + p, .aligned label + div.readonly {
  display: inline-block;
  margin-left: inherit !important;
}
.aligned label + div.help {
  margin-left: 2px !important;
}

/* Additional components seem to need the same behaviour */
/* TODO: TinyMCE is different... */
.aligned label + ul {
  display: inline-block;
  margin-left: inherit !important;
}

/**
 * Bootstrap overrides
 *
 * Bootstrap is used by the formio builder and enforces some default colors that
 * aren't great.
 */
.btn {
  &.btn-primary {
    background-color: transparent;
    border-color: transparent;
    color: inherit;

    &:hover {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--primary-fg);
    }
  }
}
