/*
 Project/app specific overrides, coupled to the data model.

 Generic overrides should go in _admin_theme.scss
 */
@import "../vars";

/* Secondary submit row */
.submit-row {
  &.submit-row-extended {
    margin-top: -24px;
    border-top: 0;
    padding-top: 0;

    & .button {
      height: 35px;
      line-height: 15px;
      margin: 0 0 0 5px;
      padding: 10px 15px;
    }
  }
}

.signature-image {
  max-width: 350px;
}

/* Two factor authentication admin overrides */
.login .form-field {
  padding: 4px 0;
  float: left;
  width: 100%;
  border-bottom: none;
}

.login .form-field label {
  padding-right: 0.5em;
  line-height: 2em;
  font-size: 1em;
  clear: both;
  color: $color_dark;
}

.login .form-field #id_auth-username,
.login .form-field #id_auth-password,
.login .form-field #id_token-otp_token {
  clear: both;
  padding: 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.button-row {
  display: inherit;
  text-align: center;
  padding-top: 1em;
}

.btn.btn-primary {
  background-color: $color_primary;
  color: #fff;

  &:hover {
    background-color: $color_primary_dark;
  }
}

.form-field {
  margin-bottom: 0;
}
