interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v1/basisprofielen/90000749
  response:
    body:
      string: '{"kvkNummer":"90000749","indNonMailing":"Ja","naam":"Global Conron","formeleRegistratiedatum":"20100208","materieleRegistratie":{"datumAanvang":"19991103"},"statutaireNaam":"Global
        Conron","sbiActiviteiten":[{"sbiCode":"94997","sbiOmschrijving":"Overige belangenbehartiging
        (rest)","indHoofdactiviteit":"Ja"}],"_links":{"self":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/90000749"}},"_embedded":{"eigenaar":{"rsin":"992340597","rechtsvorm":"Vereniging
        van Eigenaars","uitgebreideRechtsvorm":"Vereniging van Eigenaars","adressen":[{"type":"bezoekadres","indAfgeschermd":"Nee","volledigAdres":"Blaauwweg
        163 3328XD Dordrecht","straatnaam":"Blaauwweg","huisnummer":163,"postcode":"3328XD","plaats":"Dordrecht","land":"Nederland"}],"_links":{"self":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/90000749/eigenaar"},"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/90000749"}}}}}'
    headers:
      API-Version:
      - 1.4.1
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
version: 1
