---

apiVersion: 1

datasources:

- name: Loki
  type: loki
  access: proxy
  orgId: 1
  url: http://loki:3100
  uid: loki
  basicAuth: false
  isDefault: true
  version: 1
  editable: false
  jsonData:
    derivedFields:
      - name: Trace ID
        datasourceUid: tempo
        matcherRegex: "\"trace_id\"\\s*:\\s*\"(\\w+)\""
        url: '$${__value.raw}'
        urlDisplayLabel: 'View Trace'

- name: Prometheus
  type: prometheus
  access: proxy
  url: http://prometheus:9090
  jsonData:
    httpMethod: POST
    manageAlerts: false
    allowAsRecordingRulesTarget: false
    prometheusType: Prometheus
    prometheusVersion: 3.5.0
    cacheLevel: 'Low'
    disableRecordingRules: false
    timeInterval: 15s   # Prometheus scrape interval
    incrementalQueryOverlapWindow: 10m

- name: Tempo
  type: tempo
  access: proxy
  url: http://tempo:3200
  uid: tempo
  basicAuth: false
  isDefault: false
  version: 1
  editable: false
  jsonData:
    httpMethod: GET
