interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v1/zoeken?kvkNummer=69599084
  response:
    body:
      string: '{"pagina":1,"aantal":10,"totaal":2,"resultaten":[{"kvkNummer":"69599084","vestigingsnummer":"000038509504","handelsnaam":"Test
        EMZ Dagobert","adresType":"bezoekadres","straatnaam":"Abebe Bikilalaan","plaats":"Amsterdam","type":"hoofdvestiging","_links":{"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"},"vestigingsprofiel":{"href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/000038509504"}}},{"kvkNummer":"69599084","vestigingsnummer":"000038509520","handelsnaam":"Test
        EMZ Nevenvestiging Govert","adresType":"bezoekadres","straatnaam":"Geneinde","plaats":"Maastricht","type":"nevenvestiging","_links":{"basisprofiel":{"href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"},"vestigingsprofiel":{"href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/000038509520"}}}]}'
    headers:
      API-Version:
      - 1.4.1
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
version: 1
