@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/responsive';
@import 'constants';


.footer {
  @include color-primary(background-color);
  @include margin(true, padding);
  // @include rows(1, (padding-top, padding-bottom));
  box-sizing: border-box;
  min-height: $footer-min-height;

  .footer__nav {
    .list {
      @include container(flex);
      @include responsive(flex-direction, column, row);
    }

    .list__item {
      @include margin(auto, margin-right);
      @include tablet {
        margin-bottom: 0 !important;
      }
    }
  }

  .list__item {
    @include color-background(color);
  }
}
