@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import 'constants';


.footer {
  @include color-primary(background-color);
  @include rows(1, (padding-top, padding-bottom));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: $footer-min-height;

  @media print {
    display: none;
  }

  .footer__header,
  .footer__body {
    @include margin(true, margin-top);
    @include margin(true, margin-bottom);
    @include container(flex);
  }

  .footer__body {
    //@include margin(true, margin-bottom);
  }

  .footer__nav {
    @include columns-responsive(2, 2, 2, 2);
  }

  .subtitle,
  .caption,
  .list__item {
    @include color-background(color);
  }

  .caption {
    font-weight: bold;
  }
}
