{% load solo_tags %}
{% get_solo 'config.GlobalConfiguration' as config %}

{% comment %}
    Google Tag Manager / Analytics code.
{% endcomment %}

{% if config.gtm_code %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ config.gtm_code|escapejs }}');</script>
<!-- End Google Tag Manager -->
{% endif %}

{% if config.ga_code %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.ga_code|escapejs }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ config.ga_code|escapejs }}');
</script>
{% endif %}
