@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

.table {
  @include margin;

  &:not(#{&}--compact) {
    width: 100%;
  }

  &__head,
  &__cell {
    padding: 0;
    @include margin($properties: padding-right);
  }

  &__row:not(:last-child) &__head,
  &__row:not(:last-child) &__cell {
    @include margin(true, $properties: padding-bottoms, $value-mobile: $typography-margin-list);
  }

  &__head {
    text-align: left;
    vertical-align: top;
  }

  &:not(#{&}--compact) &__head {
    width: 40%;
  }
}
