interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://service.pdok.nl/lv/bag/wms/v2_0?service=WMS&request=GetCapabilities
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<WMS_Capabilities xmlns=\"http://www.opengis.net/wms\"
        xmlns:sld=\"http://www.opengis.net/sld\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:inspire_common=\"http://inspire.ec.europa.eu/schemas/common/1.0\"
        xmlns:inspire_vs=\"http://inspire.ec.europa.eu/schemas/inspire_vs/1.0\" version=\"1.3.0\"
        xsi:schemaLocation=\"http://www.opengis.net/wms http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd
        http://www.opengis.net/sld http://schemas.opengis.net/sld/1.1.0/sld_capabilities.xsd
        http://inspire.ec.europa.eu/schemas/inspire_vs/1.0 http://inspire.ec.europa.eu/schemas/inspire_vs/1.0/inspire_vs.xsd\">\n\t<Service>\n\t\t<Name>WMS</Name>\n\t\t<Title>BAG
        WMS</Title>\n\t\t<Abstract>Deze service wordt dagelijks geactualiseerd. De
        gegevens bestaan uit BAG-panden, een deelselectie van BAG-gegevens van deze
        panden en de verblijfsobjecten die zich hierin bevinden. De ligplaatsen en
        standplaatsen zijn hierin ook opgenomen met een deelselectie van BAG-gegevens.
        Nummeraanduidingen (en de bijhorende Nummeraanduidingidentificaties) worden
        in de WFS niet opgenomen als een losstaand object. De gegevens van de nummeraanduidingen
        zijn in deze services onderdeel van de adresseerbare objecten. Hierbij wordt
        alleen het hoofdadres opgenomen. Objecten met meerdere adressen (hoofd- en
        nevenadressen) zijn dus niet compleet. Dit betekent dat niet alle BAG adressen
        zijn opgenomen. Als u behoefte heeft aan de volledige BAG gegevens adviseren
        wij u gebruik te maken van andere BAG producten. De BAG API Individuele bevragingen
        https://www.kadaster.nl/zakelijk/producten/adressen-en-gebouwen/bag-api-individuele-bevragingen
        bevat alle BAG gegevens. Dit geldt ook voor de BAG viewer https://bagviewer.kadaster.nl/lvbag/bag-viewer/
        en het BAG 2.0 Extract https://www.kadaster.nl/zakelijk/producten/adressen-en-gebouwen/bag-2.0-extract.
        Als u wilt nagaan welk BAG product het beste aansluit bij uw behoefte, raadpleeg
        dan de beslisboom voor BAG 2.0 producten: https://www.kadaster.nl/-/beslisboom-bag-2.0-producten.</Abstract>\n\t\t<KeywordList>\n\t\t\t<Keyword>BAG</Keyword>\n\t\t\t<Keyword>adres</Keyword>\n\t\t\t<Keyword>gebouw</Keyword>\n\t\t\t<Keyword>pand</Keyword>\n\t\t\t<Keyword>verblijfsobject</Keyword>\n\t\t\t<Keyword>ligplaats</Keyword>\n\t\t\t<Keyword>standplaats</Keyword>\n\t\t\t<Keyword>nummeraanduiding</Keyword>\n\t\t\t<Keyword>woonplaats</Keyword>\n\t\t\t<Keyword>infoMapAccessService</Keyword>\n\t\t\t<Keyword>HVD</Keyword>\n\t\t\t<Keyword>Geospatiale
        data</Keyword>\n\t\t</KeywordList>\n\t\t<OnlineResource xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xlink:href=\"https://www.pdok.nl\"/>\n\t\t<ContactInformation>\n\t\t\t<ContactPersonPrimary>\n\t\t\t\t<ContactPerson>KlantContactCenter
        PDOK</ContactPerson>\n\t\t\t\t<ContactOrganization>PDOK</ContactOrganization>\n\t\t\t</ContactPersonPrimary>\n\t\t\t<ContactPosition>pointOfContact</ContactPosition>\n\t\t\t<ContactAddress>\n\t\t\t\t<AddressType>Work</AddressType>\n\t\t\t\t<Address/>\n\t\t\t\t<City>Apeldoorn</City>\n\t\t\t\t<StateOrProvince/>\n\t\t\t\t<PostCode/>\n\t\t\t\t<Country>Netherlands</Country>\n\t\t\t</ContactAddress>\n\t\t\t<ContactVoiceTelephone/>\n\t\t\t<ContactFacsimileTelephone/>\n\t\t\t<ContactElectronicMailAddress>BeheerPDOK@kadaster.nl</ContactElectronicMailAddress>\n\t\t</ContactInformation>\n\t\t<Fees>NONE</Fees>\n\t\t<AccessConstraints>https://creativecommons.org/publicdomain/zero/1.0/deed.nl</AccessConstraints>\n\t\t<MaxWidth>4000</MaxWidth>\n\t\t<MaxHeight>4000</MaxHeight>\n\t</Service>\n\t<Capability>\n\t\t<Request>\n\t\t\t<GetCapabilities>\n\t\t\t\t<Format>text/xml</Format>\n\t\t\t\t<DCPType>\n\t\t\t\t\t<HTTP>\n\t\t\t\t\t\t<Get>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/lv/bag/wms/v2_0?\"/>\n\t\t\t\t\t\t</Get>\n\t\t\t\t\t</HTTP>\n\t\t\t\t</DCPType>\n\t\t\t</GetCapabilities>\n\t\t\t<GetMap>\n\t\t\t\t<Format>image/png</Format>\n\t\t\t\t<Format>image/jpeg</Format>\n\t\t\t\t<Format>image/png;
        mode=8bit</Format>\n\t\t\t\t<Format>image/vnd.jpeg-png</Format>\n\t\t\t\t<Format>image/vnd.jpeg-png8</Format>\n\t\t\t\t<DCPType>\n\t\t\t\t\t<HTTP>\n\t\t\t\t\t\t<Get>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/lv/bag/wms/v2_0?\"/>\n\t\t\t\t\t\t</Get>\n\t\t\t\t\t\t<Post>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/lv/bag/wms/v2_0\"/>\n\t\t\t\t\t\t</Post>\n\t\t\t\t\t</HTTP>\n\t\t\t\t</DCPType>\n\t\t\t</GetMap>\n\t\t\t<GetFeatureInfo>\n\t\t\t\t<Format>application/json</Format>\n\t\t\t\t<Format>application/json;
        subtype=geojson</Format>\n\t\t\t\t<Format>application/vnd.ogc.gml</Format>\n\t\t\t\t<Format>text/html</Format>\n\t\t\t\t<Format>text/plain</Format>\n\t\t\t\t<Format>text/xml</Format>\n\t\t\t\t<Format>text/xml;
        subtype=gml/3.1.1</Format>\n\t\t\t\t<DCPType>\n\t\t\t\t\t<HTTP>\n\t\t\t\t\t\t<Get>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/lv/bag/wms/v2_0?\"/>\n\t\t\t\t\t\t</Get>\n\t\t\t\t\t\t<Post>\n\t\t\t\t\t\t\t<OnlineResource
        xmlns:xlink=\"http://www.w3.org/1999/xlink\" xlink:href=\"https://service.pdok.nl/lv/bag/wms/v2_0\"/>\n\t\t\t\t\t\t</Post>\n\t\t\t\t\t</HTTP>\n\t\t\t\t</DCPType>\n\t\t\t</GetFeatureInfo>\n\t\t</Request>\n\t\t<Exception>\n\t\t\t<Format>XML</Format>\n\t\t\t<Format>INIMAGE</Format>\n\t\t\t<Format>BLANK</Format>\n\t\t</Exception>\n\t\t<inspire_vs:ExtendedCapabilities>\n\t\t\t<inspire_common:MetadataUrl>\n\t\t\t\t<inspire_common:URL>https://www.nationaalgeoregister.nl/geonetwork/srv/dut/csw?service=CSW&amp;version=2.0.2&amp;request=GetRecordById&amp;outputschema=http://www.isotc211.org/2005/gmd&amp;elementsetname=full&amp;id=9e2e977a-16a6-42a4-a208-c4f70704f383</inspire_common:URL>\n\t\t\t\t<inspire_common:MediaType>application/vnd.ogc.csw.GetRecordByIdResponse_xml</inspire_common:MediaType>\n\t\t\t</inspire_common:MetadataUrl>\n\t\t\t<inspire_common:SupportedLanguages>\n\t\t\t\t<inspire_common:DefaultLanguage>\n\t\t\t\t\t<inspire_common:Language>dut</inspire_common:Language>\n\t\t\t\t</inspire_common:DefaultLanguage>\n\t\t\t\t<inspire_common:SupportedLanguage>\n\t\t\t\t\t<inspire_common:Language>dut</inspire_common:Language>\n\t\t\t\t</inspire_common:SupportedLanguage>\n\t\t\t</inspire_common:SupportedLanguages>\n\t\t\t<inspire_common:ResponseLanguage>\n\t\t\t\t<inspire_common:Language>dut</inspire_common:Language>\n\t\t\t</inspire_common:ResponseLanguage>\n\t\t</inspire_vs:ExtendedCapabilities>\n\t\t<Layer
        queryable=\"1\">\n\t\t\t<Title>BAG WMS</Title>\n\t\t\t<Abstract>Deze service
        wordt dagelijks geactualiseerd. De gegevens bestaan uit BAG-panden, een deelselectie
        van BAG-gegevens van deze panden en de verblijfsobjecten die zich hierin bevinden.
        De ligplaatsen en standplaatsen zijn hierin ook opgenomen met ee[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://service.pdok.nl/lv/bag/wms/v2_0?service=WMS&request=GetMap&crs=EPSG%3A28992&layers=fake_layer&styles=&format=image%2Fpng&transparent=True&version=1.3.0&bbox=113867.8%2C486758.8%2C113876.2%2C486767.2&width=10&height=10
  response:
    body:
      string: '<?xml version=''1.0'' encoding="UTF-8" standalone="no" ?>

        <ServiceExceptionReport version="1.3.0" xmlns="http://www.opengis.net/ogc"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/ogc
        http://schemas.opengis.net/wms/1.3.0/exceptions_1_3_0.xsd">

        <ServiceException code="LayerNotDefined">

        msWMSLoadGetMapParams(): WMS server error. Invalid layer(s) given in the LAYERS
        parameter. A layer might be disabled for this request. Check wms/ows_enable_request
        settings.

        </ServiceException>

        </ServiceExceptionReport>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
