{% extends 'ui/views/abstract/base.html' %}
{% load static ui %}

{% block layout_inner %}
    {{ block.super }}

    <section class="layout__row">
        <div class="layout__column">
            <div class="card">
                <header class="card__header">
                    <h1 class="title">Uitreksel aanvragen</h1>
                    <p class="body body--compact">Om digitaal een uittreksel aan te vragen moet u inloggen met DigiD.</p>
                </header>

                <div class="card__body">
                    <div class="toolbar toolbar--start">
                        <ul class="toolbar__list">
                            <li class="toolbar__list-item">
                                {% button href="sample_app:form_details" label="Inloggen met DigiD" %}
                            </li>
                        </ul>
                        <ul class="toolbar__list">
                            <li class="toolbar__list-item">
                                {% static 'img/digid.png' as digid_image_src %}
                                {% button src=digid_image_src disabled=True %}
                            </li>
                        </ul>
                    </div>

                    <p class="body"><br>DigiD vraag u aan op {% anchor href='https://digid.nl' target='_blank' label='de website DigiD.nl' %}</p>
                </div>
            </div>

            {% a11y_toolbar %}
        </div>


        <div class="layout__column layout__column--secondary">
            {% include 'sample_app/views/abstract/wizzard_progress.html' only %}
        </div>
    </section>
{% endblock %}
