interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
    method: GET
    uri: https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v2/kadastraalonroerendezaken?postcode=1234AB&huisnummer=1
  response:
    body:
      string: '{"type":"https://docs.microsoft.com/en-us/dotnet/api/system.net.httpstatuscode?#System_Net_HttpStatusCode_OK","title":"Het
        product kan momenteel niet geleverd worden, probeer het later nog eens.","status":200,"detail":"No
        Content","instance":"/kadastraalonroerendezaken?postcode=1234AB&huisnummer=1","code":"noContent"}'
    headers:
      Api-Version:
      - 2.0.0
      Content-Type:
      - application/problem+json
    status:
      code: 200
      message: ''
version: 1
