@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/typography';

.cookie-group {
  @include body;

  &__form {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
      @include margin(auto, $properties: margin-right);
    }
  }
}
