interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v1/basisprofielen/69599084
  response:
    body:
      string: '{"kvkNummer":"69599084","indNonMailing":"Ja","naam":"Test EMZ Dagobert","formeleRegistratiedatum":"20170710","materieleRegistratie":{"datumAanvang":"20170108"},"totaalWerkzamePersonen":1,"handelsnamen":[{"naam":"Test
        EMZ Dagobert","volgorde":0},{"naam":"Tweede handelsnaam 1MZ","volgorde":1},{"naam":"Derde
        handelsnaam 1MZ","volgorde":2},{"naam":"Vierde handelsnaam 1MZ","volgorde":3},{"naam":"Test
        EMZ Nevenvestiging Govert","volgorde":4},{"naam":"Tweede handelsnaam Vestiging2","volgorde":5},{"naam":"Derde
        handelsnaam Vestiging2","volgorde":6},{"naam":"Vierde handelsnaam Vestiging2","volgorde":7}],"sbiActiviteiten":[{"sbiCode":"10110","sbiOmschrijving":"Verwerking
        en conservering van vlees, met uitzondering van vlees van gevogelte","indHoofdactiviteit":"Ja"},{"sbiCode":"10120","sbiOmschrijving":"Verwerking
        en conservering van vlees van gevogelte","indHoofdactiviteit":"Nee"},{"sbiCode":"10130","sbiOmschrijving":"Vervaardiging
        van vleesproducten","indHoofdactiviteit":"Nee"}],"links":[{"rel":"self","href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"},{"rel":"vestigingen","href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084/vestigingen"}],"_embedded":{"hoofdvestiging":{"vestigingsnummer":"000038509504","kvkNummer":"69599084","formeleRegistratiedatum":"20200828","materieleRegistratie":{"datumAanvang":"20150828"},"eersteHandelsnaam":"Test
        EMZ Dagobert","indHoofdvestiging":"Ja","indCommercieleVestiging":"Ja","totaalWerkzamePersonen":1,"adressen":[{"type":"bezoekadres","indAfgeschermd":"Nee","volledigAdres":"Abebe
        Bikilalaan 17 M                                 1034WL Amsterdam","straatnaam":"Abebe
        Bikilalaan","huisnummer":17,"huisletter":"M","postcode":"1034WL","plaats":"Amsterdam","land":"Nederland"}],"links":[{"rel":"self","href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084/hoofdvestiging"},{"rel":"vestigingen","href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084/vestigingen"},{"rel":"basisprofiel","href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"},{"rel":"vestigingsprofiel","href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/000038509504"}]},"eigenaar":{"rechtsvorm":"Eenmanszaak","uitgebreideRechtsvorm":"Eenmanszaak","links":[{"rel":"self","href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084/eigenaar"},{"rel":"basisprofiel","href":"https://api.kvk.nl/test/api/v1/basisprofielen/69599084"}]}}}'
    headers:
      API-Version:
      - 1.5.0
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
version: 1
