<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Embedding - with query parameters</title>

    <!-- use the stable asset URLs -->
    <link rel="stylesheet" href="${OPENFORMS_HOST}/static/sdk/open-forms-sdk.css" />
    <script src="${OPENFORMS_HOST}/static/sdk/open-forms-sdk.js"></script>

    <style>
        body {
            max-inline-size: 900px;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }
    </style>
</head>
<body class="utrecht-document openforms-theme">

    <h1 class="utrecht-heading-1">Embedding - query params</h1>
    <p class="utrecht-paragraph">Using API host: <code>${OPENFORMS_HOST}</code></p>

    <div id="openforms-root"></div>
    <script>
        const targetNode = document.getElementById('openforms-root');
        const options = {
            baseUrl: '${OPENFORMS_HOST}/api/v2/',
            formId: (new URLSearchParams(window.location.search)).get('form'),
            useHashRouting: true,
        };
        const form = new OpenForms.OpenForm(targetNode, options);
        form.init();
    </script>

</body>
</html>
