{% load static i18n %}

<h3>
    {% blocktranslate %}Here is a summary of the problems detected in the past 24 hours:{% endblocktranslate %}
</h3>

{% if failed_emails %}
    <h5>{% trans "Emails that failed to send" %}</h5>
    <ul>
        {% for email in failed_emails %}
            <li>
                {% blocktranslate with event=email.event submission_uuid=email.submission_uuid trimmed %}
                    Email for the event "{{ event }}" for submission {{ submission_uuid }}.
                {% endblocktranslate %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if failed_registrations %}
    <h5>{% trans "Registrations" %}</h5>
    <ul>
        {% for registration in failed_registrations %}
            <li>
                <p>
                    {% blocktranslate with form_name=registration.form_name counter=registration.failed_submissions_counter first_failure_at=registration.initial_failure_at|time:"TIME_FORMAT" last_failure_at=registration.last_failure_at|time:"TIME_FORMAT" trimmed %}
                        Form '{{ form_name }}' failed {{ counter }} time(s) between {{ first_failure_at }} and {{ last_failure_at }}.<br>
                    {% endblocktranslate %}
                </p>
                <p>
                    <a href="{{ registration.admin_link }}">
                    {% blocktranslate with form_name=registration.form_name %}
                        View failed '{{ form_name }}' submissions
                    {% endblocktranslate %}
                    </a>
                </p>
                {% if registration.has_errors %}
                    <i>{% trans "Consider enabling outgoing request logs from the configuration in order to investigate the network traffic." %}</i>       
                {% endif %} 
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if failed_prefill_plugins %}
    <h5>{% trans "Prefill plugins" %}</h5>
    <ul>
        {% for failed_plugin in failed_prefill_plugins %}
            <li>
                
                <p>
                    {% blocktranslate with name=failed_plugin.plugin_label counter=failed_plugin.failed_submissions_counter initial_failure_at=failed_plugin.initial_failure_at|time:"TIME_FORMAT" last_failure_at=failed_plugin.last_failure_at|time:"TIME_FORMAT" forms=failed_plugin.form_names|join:"," trimmed %}
                        '{{ name }}' plugin has failed {{ counter }} time(s) between {{ initial_failure_at }} and {{ last_failure_at }} in the following forms: {{ forms }}
                    {% endblocktranslate %}
                </p>
                
                <p><a href="{{ failed_plugin.admin_link }}">{% trans "View logs" %}</a></p>
                
                {% if failed_plugin.has_errors %}
                    <i>{% trans "Consider enabling outgoing request logs from the configuration in order to investigate the network traffic." %}</i>       
                {% endif %} 
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if broken_configurations %}
    <h5>{% trans "Configuration problems" %}</h5>
    <ul>
        {% for config in broken_configurations %}
            <li>
                {% blocktranslate with name=config.config_name message=config.exception_message trimmed %}
                    The configuration for '{{ name }}' is invalid (<i>{{ message }}</i>).<br/>
                    Components or plugins which make use of this will not work properly.
                {% endblocktranslate %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_certificates %}
    <h5>{% trans "Found invalid certificates" %}</h5>
    <ul>
        {% for invalid_certificate in invalid_certificates %}
            <li>
                <p>
                    <!-- Expiring certificates -->
                    {% if invalid_certificate.is_valid_pair %}
                        {% blocktranslate with certificate_label=invalid_certificate.label message=invalid_certificate.error_message expiry_date=invalid_certificate.expiry_date trimmed %}
                            {{ certificate_label }}: {{ message }} ({{ expiry_date }}).
                        {% endblocktranslate %}
                    {% else %}
                        {% blocktranslate with certificate_label=invalid_certificate.label message=invalid_certificate.error_message trimmed %}
                            {{ certificate_label }}: {{ message }}.
                        {% endblocktranslate %}
                    {% endif %}
                </p>
                <p>
                    <a href="{{ invalid_certificate.admin_link }}">
                    {% blocktranslate with certificate_label=invalid_certificate.label %}
                        View invalid certificate '{{ certificate_label }}'
                    {% endblocktranslate %}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_registration_backends %}
    <h5>{% trans "Registration backends problems" %}</h5>
    <ul>
        <ul>
        {% for failed_backend in invalid_registration_backends %}
            <li>
                <p>
                    {% blocktranslate with name=failed_backend.config_name message=failed_backend.exception_message trimmed %}
                        The configuration for plugin '{{ name }}' is invalid.<br>
                        ({{ message }})<br>
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate with form_name=failed_backend.form_name trimmed %}
                        This affects form '{{ form_name }}', possibly other forms are affected too.
                    {% endblocktranslate %}
                </p>
                <p><a href="{{ failed_backend.admin_link }}">{% trans "View form" %}</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_logic_rules %}
    <h5>{% trans "Logic rules problems" %}</h5>
    <ul>
        <ul>
        {% for logic_rule in invalid_logic_rules %}
            <li>
                {% if logic_rule.exception %}
                    <p>
                        {% blocktranslate with index=logic_rule.rule_index form_name=logic_rule.form_name trimmed %}
                            We couldn't process logic rule {{ index }} for '{{ form_name }}' because it appears to be invalid. <br>
                        {% endblocktranslate %}
                    </p>
                {% else %}
                <p>
                    {% blocktranslate with var=logic_rule.variable form_name=logic_rule.form_name trimmed %}
                        Logic rule for variable '{{ var }}' is invalid in form '{{ form_name }}'.<br>
                    {% endblocktranslate %}
                </p>
                {% endif %}
                <p><a href="{{ logic_rule.admin_link }}">{% trans "View form" %}</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}
