{% load static i18n %}

<h3>
    {% blocktranslate %}Here is a summary of the problems detected in the past 24 hours:{% endblocktranslate %}
</h3>

{% if failed_emails %}
    <h5>{% trans "Emails that failed to send" %}</h5>
    <ul>
        {% for email in failed_emails %}
            <li>
                {% blocktranslate with event=email.event submission_uuid=email.submission_uuid trimmed %}
                    Email for the event "{{ event }}" for submission {{ submission_uuid }}.
                {% endblocktranslate %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if failed_registrations %}
    <h5>{% trans "Registrations" %}</h5>
    <ul>
        {% for registration in failed_registrations %}
            <li>
                <p>
                    {% blocktranslate with form_name=registration.form_name counter=registration.failed_submissions_counter first_failure_at=registration.initial_failure_at|time:"TIME_FORMAT" last_failure_at=registration.last_failure_at|time:"TIME_FORMAT" trimmed %}
                        Form '{{ form_name }}' failed {{ counter }} time(s) between {{ first_failure_at }} and {{ last_failure_at }}.<br>
                    {% endblocktranslate %}
                </p>
                <p>
                    <a href="{{ registration.admin_link }}">
                    {% blocktranslate with form_name=registration.form_name %}
                        View failed '{{ form_name }}' submissions
                    {% endblocktranslate %}
                    </a>
                </p>
                {% if registration.has_errors %}
                    <i>{% trans "Consider enabling outgoing request logs from the configuration in order to investigate the network traffic." %}</i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if failed_prefill_plugins %}
    <h5>{% trans "Prefill plugins" %}</h5>
    <ul>
        {% for failed_plugin in failed_prefill_plugins %}
            <li>

                <p>
                    {% blocktranslate with name=failed_plugin.plugin_label counter=failed_plugin.failed_submissions_counter initial_failure_at=failed_plugin.initial_failure_at|time:"TIME_FORMAT" last_failure_at=failed_plugin.last_failure_at|time:"TIME_FORMAT" forms=failed_plugin.form_names|join:"," trimmed %}
                        '{{ name }}' plugin has failed {{ counter }} time(s) between {{ initial_failure_at }} and {{ last_failure_at }} in the following forms: {{ forms }}
                    {% endblocktranslate %}
                </p>

                <p><a href="{{ failed_plugin.admin_link }}">{% trans "View logs" %}</a></p>

                {% if failed_plugin.has_errors %}
                    <i>{% trans "Consider enabling outgoing request logs from the configuration in order to investigate the network traffic." %}</i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if broken_configurations %}
    <h5>{% trans "Configuration problems" %}</h5>
    <ul>
        {% for config in broken_configurations %}
            <li>
                {% blocktranslate with name=config.config_name message=config.exception_message trimmed %}
                    The configuration for '{{ name }}' is invalid (<i>{{ message }}</i>).<br/>
                    Components or plugins which make use of this will not work properly.
                {% endblocktranslate %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_certificates %}
    <h5>{% trans "Found invalid certificates" %}</h5>
    <ul>
        {% for invalid_certificate in invalid_certificates %}
            <li>
                <p>
                    <!-- Expiring certificates -->
                    {% if invalid_certificate.is_valid_pair %}
                        {% blocktranslate with certificate_label=invalid_certificate.label message=invalid_certificate.error_message expiry_date=invalid_certificate.expiry_date trimmed %}
                            {{ certificate_label }}: {{ message }} ({{ expiry_date }}).
                        {% endblocktranslate %}
                    {% else %}
                        {% blocktranslate with certificate_label=invalid_certificate.label message=invalid_certificate.error_message trimmed %}
                            {{ certificate_label }}: {{ message }}.
                        {% endblocktranslate %}
                    {% endif %}
                </p>
                <p>
                    <a href="{{ invalid_certificate.admin_link }}">
                    {% blocktranslate with certificate_label=invalid_certificate.label %}
                        View invalid certificate '{{ certificate_label }}'
                    {% endblocktranslate %}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_registration_backends %}
    <h5>{% trans "Registration backends problems" %}</h5>
    <ul>
        {% for failed_backend in invalid_registration_backends %}
            <li>
                <p>
                    {% blocktranslate with name=failed_backend.config_name message=failed_backend.exception_message trimmed %}
                        The configuration for plugin '{{ name }}' is invalid.<br>
                        ({{ message }})<br>
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate with form_name=failed_backend.form_name trimmed %}
                        This affects form '{{ form_name }}', possibly other forms are affected too.
                    {% endblocktranslate %}
                </p>
                <p><a href="{{ failed_backend.admin_link }}">{% trans "View form" %}</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_logic_rules %}
    <h5>{% trans "Logic rules problems" %}</h5>
    <ul>
        {% for logic_rule in invalid_logic_rules %}
            <li>
                {% if logic_rule.exception %}
                    <p>
                        {% blocktranslate with index=logic_rule.rule_index form_name=logic_rule.form_name trimmed %}
                            We couldn't process logic rule {{ index }} for '{{ form_name }}' because it appears to be invalid. <br>
                        {% endblocktranslate %}
                    </p>
                {% else %}
                <p>
                    {% blocktranslate with var=logic_rule.variable form_name=logic_rule.form_name trimmed %}
                        Logic rule for variable '{{ var }}' is invalid in form '{{ form_name }}'.<br>
                    {% endblocktranslate %}
                </p>
                {% endif %}
                <p><a href="{{ logic_rule.admin_link }}">{% trans "View form" %}</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if expired_or_near_expiry_reference_lists_data %}
    <h4>{% trans "Referentielijsten (tables and/or table items (near) expiry)" %}</h4>
    <ul>
        {% for service in expired_or_near_expiry_reference_lists_data %}
            <li>
                {% blocktranslate with service_label=service.service %}
                    <h4>Service: {{ service_label }}</h4>
                {% endblocktranslate %}

                <!-- Failing service -->
                {% if service.exception_message %}
                    {% blocktranslate with service_label=service.service exc_message=service.exception_message %}
                        <p>
                            Something went wrong while trying to retrieve data from service: {{ service_label }}.
                            This will probably affect the active forms which make use of this service and the user's experience.
                            See the error below:
                        </p>
                        <i>{{ exc_message }}</i>
                    {% endblocktranslate %}

                {% else %}
                    <!-- Expiring tables -->
                    {% if service.tables %}
                        <h4>{% trans "Tables" %}</h4>
                        <ul>
                            {% for table in service.tables %}
                                <li>
                                    <p>
                                        {% if table.is_expired %}
                                            {% blocktranslate with table_name=table.name time_passed=table.expires_on|timesince trimmed %}
                                                Table '{{ table_name }}' expired {{ time_passed }} ago.
                                            {% endblocktranslate %}
                                        {% else %}
                                            {% blocktranslate with table_name=table.name time_left=table.expires_on|timeuntil trimmed %}
                                                Table '{{ table_name }}' will expire in {{ time_left }}.
                                            {% endblocktranslate %}
                                        {% endif %}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <!-- Expiring items -->
                    {% if service.table_items %}
                        <h4>{% trans "Items" %}</h4>
                        <ul>
                            {% for item in service.table_items %}
                                <li>
                                    <p>
                                        {% if item.is_expired %}
                                            {% blocktranslate with item_name=item.name time_passed=item.expires_on|timesince trimmed %}
                                                Item '{{ item_name }}' expired {{ time_passed }} ago.
                                            {% endblocktranslate %}
                                        {% else %}
                                            {% blocktranslate with item_name=item.name time_left=item.expires_on|timeuntil trimmed %}
                                                Item '{{ item_name }}' will expire in {{ time_left }}.
                                            {% endblocktranslate %}
                                        {% endif %}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p><a href="{{ service.general_config_admin_link }}">{% trans "View general configuration for the service mentioned above" %}</a></p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_map_component_overlays %}
    <h5>{% trans "Invalid map component overlays" %}</h5>
    <ul>
        {% for map_component_overlay in invalid_map_component_overlays %}
            <li>
                <p>
                    {% blocktranslate with component_name=map_component_overlay.component_name overlay_name=map_component_overlay.overlay_name message=map_component_overlay.exception_message trimmed %}
                        Overlay '{{ overlay_name }}' of the map component '{{ component_name }}' is invalid.<br>
                        ({{ message }})<br>
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate with form_name=map_component_overlay.form_name trimmed %}
                        This affects form '{{ form_name }}'.
                    {% endblocktranslate %}
                </p>
                <p><a href="{{ map_component_overlay.admin_link }}">{% trans "View form" %}</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if invalid_component_configurations %}
<h5>{% trans "Invalid component configurations" %}</h5>
    <ul>
        {% for invalid_component_configuration in invalid_component_configurations %}
            <li>
                <p>
                    {% blocktranslate with
                       component_key=invalid_component_configuration.component_key
                       component_type=invalid_component_configuration.component_type
                       form_name=invalid_component_configuration.form_name
                       message=invalid_component_configuration.exception_message
                    trimmed %}
                        The configuration of {{ component_type }} component '{{ component_key }}' of the form '{{ form_name }}' is invalid.<br>
                        ({{ message }})<br>
                    {% endblocktranslate %}
                </p>
                <p><a href="{{ invalid_component_configuration.admin_link }}">{% trans "View form" %}</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}
