{% load static i18n %}

<p>
    {% blocktranslate %}
        This is a request to co-sign form "{{ form_name }}".<br />
    {% endblocktranslate %}
    
    {% if show_form_link %}
        {% blocktranslate trimmed %}
            Please visit the form page by navigating to the following link: {{ form_url|urlize }}.<br />
        {% endblocktranslate %}
    {% else %}
        {% trans "Please visit the form page on our website and click on the 'co-sign' button." %}<br />
    {% endif %}

    {% blocktranslate trimmed %}
        You will then be redirected to authenticate yourself.
        After authentication, fill in the following code to retrieve the form submission:<br /><br />
        
        {{ code }}
        
        <br /><br />
    {% endblocktranslate %}
</p>
