{% load static %}
<html>
<body style="border: none; margin: 0; padding: 0; background-color: {{ style.layout.background }};">

<table style="font-family: Verdana, Arial, sans-serif; font-size: 12px; width: 100%; border: none; margin: 0; padding: 0; background-color: {{ style.layout.background }}; border-collapse: collapse;" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left" style="padding: 20px;">
            <table style="width: 768px; background-color: #ffffff; text-align: left; border: none; border-collapse: collapse;" cellpadding="0" cellspacing="0" width="768">
                <tr>
                    <td align="left" style="padding: 20px; color: {{ style.header.color }}; background-color: {{ style.header.background }};">
                        {% if logo_url %}
                            <a style="text-decoration: none;" href="{{ main_website_url }}">
                                <img
                                    {% if style.logo.width %}width="{{ style.logo.width }}" {% endif %}
                                    {% if style.logo.height %}height="{{ style.logo.height }}" {% endif %}
                                    src="{{ logo_url }}" />
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td align="left" style="padding: 30px 30px 60px 30px;">
                        {{ content }}
                    </td>
                </tr>
                <tr>
                    <td align="left" style="padding: 20px 30px; font-size: 11px; color: {{ style.footer.color }}; background-color: {{ style.footer.background }};">
                        <p style="margin-top: 0">
                            Dit bericht kan informatie bevatten die niet voor u is bestemd. Indien u niet de
                            geadresseerde bent of dit bericht abusievelijk aan u is toegezonden, wordt u
                            verzocht dat aan de afzender te melden en het bericht te verwijderen.
                            Wij aanvaarden geen aansprakelijkheid voor schade, van welke aard ook, die
                            verband houdt met risico's verbonden aan het elektronisch verzenden van
                            berichten.
                        </p>
                        <p>
                            This message may contain information that is not intended for you. If you are
                            not the addressee or if this message was sent to you by mistake, you are
                            requested to inform the sender and delete the message.
                            We accept no liability for damage of any kind resulting from the risks
                            inherent in the electronic transmission of messages.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
