@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

.cookie-notice {
  @include margin(true, $properties: padding);
  @include body;
  @include responsive(max-width, 100%, 100%, 75vw, 75vw);
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  position: sticky;
  bottom: 1rem;

  margin-left: auto;
  margin-right: auto;
  background: var(--of-cookie-notice-bg, $color-white);
  box-shadow: var(--of-cookie-notice-shadow, 0px 0px 3px 0px rgba($color-black, 0.4));

  @include mobile-only {
    flex-direction: column;
    align-items: stretch;
    bottom: 0;
  }

  @include tablet {
    margin-bottom: 1rem;
  }

  @include bem.element('form') {
    width: 100%;
  }

  .openforms-toolbar__list:last-child .openforms-toolbar__list-item:last-child {
    padding-bottom: 0;
  }
}
