interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/hal+json
      apikey:
      - l7xx1f2691f2520d487b902f4e0b57a0b197
    method: GET
    uri: https://api.kvk.nl/test/api/v1/vestigingsprofielen/000037178598
  response:
    body:
      string: '{"vestigingsnummer":"000037178598","kvkNummer":"68750110","rsin":"857587973","indNonMailing":"Ja","formeleRegistratiedatum":"20200210","materieleRegistratie":{"datumAanvang":"20140210"},"statutaireNaam":"Test
        BV Donald","eersteHandelsnaam":"Test BV Donald","indHoofdvestiging":"Ja","indCommercieleVestiging":"Ja","voltijdWerkzamePersonen":1,"totaalWerkzamePersonen":1,"deeltijdWerkzamePersonen":0,"handelsnamen":[{"naam":"Test
        BV Donald","volgorde":0}],"adressen":[{"type":"correspondentieadres","indAfgeschermd":"Nee","volledigAdres":"Postbus
        200                         1000AE Rommeldam","straatnaam":"Postbus","postcode":"1000AE","postbusnummer":200,"plaats":"Rommeldam","land":"Nederland"},{"type":"bezoekadres","indAfgeschermd":"Nee","volledigAdres":"Hizzaarderlaan
        3 A                         8823SJ Lollum","straatnaam":"Hizzaarderlaan","huisnummer":3,"huisnummerToevoeging":"A","postcode":"8823SJ","plaats":"Lollum","land":"Nederland"}],"sbiActiviteiten":[{"sbiCode":"01241","sbiOmschrijving":"Teelt
        van appels en peren","indHoofdactiviteit":"Ja"}],"links":[{"rel":"self","href":"https://api.kvk.nl/test/api/v1/vestigingsprofielen/000037178598"},{"rel":"basisprofiel","href":"https://api.kvk.nl/test/api/v1/basisprofielen/68750110"}]}'
    headers:
      API-Version:
      - 1.5.0
      Content-Type:
      - application/hal+json
    status:
      code: 200
      message: ''
version: 1
