@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

@import '../nav/constants';

.layout {
  background-color: var(--of-layout-background, $color-gray);
  display: flex;
  flex-direction: column;

  @include bem.modifier('container') {
    @include margin(
      true,
      $properties: padding,
      $value-mobile: 0,
      $value-tablet: $typography-margin-text
    );
  }

  @include bem.element('container') {
    @include container(false);

    @include mobile-only {
      padding: 0;
    }
  }
}
