@import '~microscope-sass/lib/color';
@import '~microscope-sass/lib/grid';
@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/typography';

@import '../nav/constants';
@import '../footer/constants';
@import './vars';

.layout {
  background-color: $layout-color-background;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$nav-min-height-tablet + $footer-min-height});

  &--container {
    @include margin(true, $properties: padding, $value-mobile: 0, $value-tablet: $typography-margin-text);
  }

  &__row {
    @include container(flex);
    @include responsive(flex-direction, column, row);

    @include mobile-only {
      padding: 0;
    }
  }


  &__column {
    display: flex;
    flex-direction: column;
  }

  &__column:first-child:last-child {
    @include columns-responsive(4, 9, 12, 12);
  }

  &__column:first-child:not(last-child) {
    @include columns-responsive(4, 5, 8, 8);
  }

  &__column:not(:first-child):last-child {
    @include columns-responsive(4, 4, 4, 4);
  }

  &__row--secondary,
  &__column--secondary {
    @include hide-on-mobile(flex);

    @media print {
      display: none;
    }
  }
}
