<div ref="dmnPreview" class="dmn-preview">
    <div class="dmn-preview__engine">
        {{ ctx.t('Engine:') }} {{ ctx.component.dmn.engine.label }}
    </div>
    <div ref="dmnViewer" class="dmn-preview__viewer"></div>
</div>
