<div ref="dmn" class="dmn-preview">
    <div class="dmn-preview__configuration">{{ ctx.dmnConfig }}</div>
    <div class="dmn-preview__display">
        {{ ctx.t('Result will be rendered as:') }}
        <code><pre>{{ ctx.component.resultDisplayTemplate }}</pre></code>
    </div>
</div>
