<fieldset class="{{ctx.ofPrefix}}fieldset">
  {% if (ctx.component.label && !ctx.component.hideHeader) { %}
  <legend ref="header" class="{{ctx.ofPrefix}}legend">
    {{ctx.t(ctx.component.label, { _userInput: true })}}
    {% if (ctx.component.tooltip) { %}
      <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted" data-tooltip="{{ctx.component.tooltip}}"></i>
    {% } %}
  </legend>
  {% } %}
  {% if (!ctx.collapsed) { %}
  <div class="{{ctx.ofPrefix}}fieldset-body" ref="{{ctx.nestedKey}}">
    {{ctx.children}}
  </div>
  {% } %}
</fieldset>
