{% load i18n capture_tags %}
{% capture as tt_openblock silent %}{% templatetag openblock %}{% endcapture %}
{% capture as tt_closeblock silent %}{% templatetag closeblock %}{% endcapture %}
{% capture as tt_openvariable silent %}{% templatetag openvariable %}{% endcapture %}
{% capture as tt_closevariable silent %}{% templatetag closevariable %}{% endcapture %}

{% blocktrans %}
Dear Sir, Madam,<br>
<br>
You have submitted the form "{{ tt_openvariable }} form_name {{ tt_closevariable }}" on {{ tt_openvariable }} submission_date {{ tt_closevariable }}.<br>
<br>
Your reference is: {{ tt_openvariable }} public_reference {{ tt_closevariable }}<br>
<br>

{{ tt_openblock }} summary {{ tt_closeblock }}<br>
{{ tt_openblock }} appointment_information {{ tt_closeblock }}<br>
{{ tt_openblock }} payment_information {{ tt_closeblock }}<br><br>

<br>
Kind regards,<br>
<br>
Open Forms<br>
{% endblocktrans %}
