{% extends "admin/base.html" %}
{% load i18n static multidomain maykin_common %}

{% block title %}{{ title }} | {{ settings.PROJECT_NAME }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'maykin_common/css/version.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bundles/admin_overrides.css' %}">

    <link href="{% static 'ico/favicon.svg' %}" sizes="any" rel="icon" type="image/svg+xml" />
    <link href="{% static 'ico/favicon-96x96.png' %}" sizes="96x96" rel="icon" type="image/png" />
    <link href="{% static 'ico/favicon-32x32.png' %}" sizes="32x32" rel="icon" type="image/png" />
    <link href="{% static 'ico/favicon.png' %}" sizes="16x16" rel="icon" type="image/png" />
    <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ settings.MAX_FILE_UPLOAD_SIZE|json_script:'setting-MAX_FILE_UPLOAD_SIZE' }}
{% endblock extrahead %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">{{ settings.PROJECT_NAME }} {% trans "Administration" %}</a>
    </h1>
    {% show_environment_info %}
    {% if user.is_anonymous %}
      {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}

{# part of block usertools #}

{% block welcome-msg %}
    {% trans 'Logged in as' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{{ settings.SITE_TITLE }}</a> /
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}

    {% url 'maykin_2fa:account_security' as 2fa_account_security_url %}
    {% if 2fa_account_security_url %}
        <a href="{{ 2fa_account_security_url }}">{% trans "Account security" %}</a> /
    {% endif %}

    <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
        {% csrf_token %}
        <button type="submit">{% translate 'Log out' %}</button>
    </form>

    {% multidomain_switcher %}

    {% include "admin/color_theme_toggle.html" %}
{% endblock %}

{# end block usertools #}

{% block nav-global %}{% endblock %}

{% block footer %}
    <div id="footer">
        {% if user.is_authenticated and user.is_staff %}
            <div class="version" title="Git SHA: {{ settings.GIT_SHA|default:'' }}">
                {% blocktrans with version=settings.RELEASE %}version {{version}}{% endblocktrans %}
            </div>
            <div class="react-session-status">{# react managed #}</div>
        {% endif %}
    </div>
{% endblock %}
