{% extends 'admin/base_site.html' %}
{% comment %} {% extends 'admin/change_list.html' %} {% endcomment %}

 {% comment %} {% block object-tools %} {% endcomment %}
 {% block content %}
    <style>
        .plugins-container{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 50px;
        }
        table{
            width: 90%;
            border-collapse: collapse;
        }
        .plugin-table tr{
            width: 100%;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #ddd;
        }
        .plugin-table th, .plugin-table td{
            width: 30%;
            text-align: left;
            font-size: 18px;
        }
        .plugin-table td{
            padding-top:20px;
        }
        .email-test-btn{
            width: 200px;
            height: 40px;
            border: 1px solid green;
            border-radius: 5px;
            cursor: pointer;
            font-size: 17px;
        }
    </style>

    <div class='plugins-container'>
        <table class='plugin-table'>
            <tr>
                <th>Plugin Naam</th>
                <th>Configuratie Test</th>
                <th>Log</th>
            </tr>
            {% for plugin in plugins %}
                <tr>
                    <td><strong>{{plugin.name | capfirst}}</strong></td>
                    {% if plugin.test == True%}
                        <td><div style='border-radius:100%;width:15px;height:15px;background-color:green'></div></td>
                        <td style="font-size:20px;color:green;">De plug-in werkt naar behoren</td>
                    {% else %}
                        <td><div style='border-radius:100%;width:15px;height:15px;background-color:red'></div></td>
                        <td>
                            {% for error in plugin.test %}
                                <p style='margin-bottom:10px;color: orange;'>{{error}}</p>
                            {% endfor %}
                        </td>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td><strong>Email</strong></td>
                <td><a href='/admin/email/test/'><button class='email-test-btn'>Test Email Plugin</button></a></td>
                <td style="font-size:20px">Zie plugin test resultaat op de test email backend pagina</td>
            </tr>
        </table>
    </div>

    {{ block.super }}
 {% endblock content %} 
 {% comment %} {% endblock object-tools %}  {% endcomment %}