/* Colors */
$color_primary: #04A5BB;
$color_primary_dark: #017092;
$color_primary_light: #C3EAEF;

$color_secondary: #F3F3F3;
$color_secondary_dark: #DDD;
$color_secondary_light: #fff;

$color_link: #017092;
$color_link_hover: #051F31;

$color_darkest: #000;
$color_dark: #333;
$color_dark_light: #888;
$color_lightest: #fff;

$color-error: #ba2121; // default django admin color

$color-tooltip-background: #fffeaa;
$color-tooltip-border: #f7f071;
$color-tooltip-text: #000;
$django-hijack-yellow: #ffe761;

/* Dimensions */
$input-field-size: 40em; // original: 20em;
