/* Colors */
$color_primary: #04A5BB;
$color_primary_dark: #017092;
$color_primary_light: #C3EAEF;

$color_secondary: #F3F3F3;
$color_secondary_dark: #DDD;
$color_secondary_light: #fff;

$color_link: #017092;
$color_link_hover: #051F31;

$color_darkest: #000;
$color_dark: #333;
$color_lightest: #fff;
