{# Takes a 'field' context argument, which should be an instance of a BoundField #}
<div class="{% if field.errors %}formio-error-wrapper has-message{%  endif %}" ref="component">
    {% if type == 'radio' %}
        {% include "./radio.html" %}
        {% include "includes/forms/errorlist.html" with errors=field.errors only %}
    {% else %}
        <div class="utrecht-form-field utrecht-form-field--{{ type|default:'textfield' }} utrecht-form-field--openforms">
            <p class="utrecht-paragraph utrecht-form-field__label">
                <label for="{{ field.auto_id }}" class="utrecht-form-label">
                    {{ field.label }}
                </label>
            </p>
                {{ field }}

            {% if field.help_text %}
            <div class="utrecht-form-field-description utrecht-form-field-description--openforms-helptext">
                {{ field.help_text }}
            </div>
            {% endif %}
            {# validation errors #}
            {% include "includes/forms/errorlist.html" with errors=field.errors only %}
        </div>
    {% endif %}
</div>

