<div class="utrecht-form-fieldset utrecht-form-fieldset--openforms utrecht-form-fieldset--openforms-radio{% if field.errors %} utrecht-form-fieldset--invalid{% endif %}">
    <fieldset
        {% if field.help_text %}aria-describedby="{{ field.auto_id }}"{% endif %}
        role="radiogroup"
        class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset"
    >
        <legend class="utrecht-form-fieldset__legend utrecht-form-fieldset__legend--html-legend">
            <span class="utrecht-form-label utrecht-form-label--openforms {% if field.field.required %}utrecht-form-label--openforms-required{% endif %}">
                {{ field.label }}
            </span>
        </legend>

        {% if field.help_text %}
            <div class="utrecht-form-field-description" id="{{ field.auto_id }}">{{ field.help_text }}</div>
        {% endif %}

        {% include "includes/forms/errorlist.html" with errors=field.errors only %}

        {{ field }}

    </fieldset>
</div>
