@use 'microscope-sass/lib/bem';

@import '../../vars';

.button {
  @include bem.modifier('plain') {
    width: 100%;
    border: none;
    background: transparent;
    color: inherit;
    text-align: left;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }

    &:focus {
      outline: none;
      font-weight: bold;
    }

    @at-root .list__item & {
      padding: 5px 10px;
    }
  }

  @include bem.modifier('center') {
    text-align: center;
  }

  @include bem.modifier('link') {
    background: none;
    border: none;
    text-decoration: none;
    color: var(--link-fg);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.button-container {
  display: inline-block;

  @include bem.modifier('padded') {
    padding: 1em;
  }
}
