@import '../../vars';

.button {

  &--plain {
    width: 100%;
    border: none;
    background: transparent;
    color: inherit;
    text-align: left;;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }

    &:focus {
      outline: none;
      font-weight: bold;
    }

    @at-root .list__item & {
      padding: 5px 10px;
    }
  }

  &--center {
    text-align: center;
  }

}

.button-container {
  display: inline-block;

  &--padded {
    padding: 1em;
  }
}
