@use '../../lib/bem';

.error-message {
  padding: 20px;
  display: flex;
  justify-content: flex-start;

  background-color: var(--message-error-bg);

  &:not(:last-child) {
    margin-block-end: 20px;
  }
}
