@use '../../lib/bem';

.icon {
  cursor: pointer;
  padding: 8px;

  @include bem.modifier('danger') {
    color: var(--error-fg);
  }

  @include bem.modifier('warning') {
    color: #e17000;
  }

  @include bem.modifier('no-pointer') {
    cursor: default;
  }

  @include bem.modifier('as-lead') {
    padding: 0;
    padding-right: 8px;
  }

  @include bem.modifier('compact') {
    padding: 0;
  }
}
