@use 'microscope-sass/lib/bem';

@import '~microscope-sass/lib/color';

.json-widget {
  textarea {
    width: var(--of-admin-input-field-size);
  }

  @include bem.modifier('collapsed') {
    display: none;
  }

  @include bem.element('error') {
    @include color-danger;
    padding-top: 0.5em;
  }
}
