@import '~microscope-sass/lib/responsive';
@import '~microscope-sass/lib/color';

$logic-line-breakpoint: 1800px !default;

.logic-trigger {
  display: flex;
  padding: 1em;
  border-bottom: solid 1px #eee;

  @include breakpoint($max: $logic-line-breakpoint) {
    flex-wrap: wrap;
  }

  &__editor {
    flex-grow: 1;
  }

  &__children {
    @include margin('auto', $properties: margin-right);
    flex-grow: 1;
  }

  &__data-preview {
    min-width: 200px;
    @include breakpoint($min: $logic-line-breakpoint) {
      min-width: 400px;;
    }
    max-width: 800px;
    padding-top: 7px;
    flex-grow: 0;
  }

  &__json-editor {
    flex-grow: 1;
  }

  &__json-editor--error {
    textarea {
      border-color: $color-danger;
    }
  }

  &__error {
    @include color-danger;
    padding-top: 0.5em;
  }
}
