.logic-rule {
  display: flex;
  border-bottom: dashed 1px #eee;

  &--flat {
    border-bottom: none;
  }

  &__actions {
    padding: 0.5em;
    padding-top: calc(1em + 3px);
    margin-right: 1em;
  }

  &__rule {
    width: 100%;
  }
}
