@import '~microscope-sass/lib/responsive';
@import '../../../ui/static/ui/scss/settings';

$logic-line-breakpoint: 1800px !default;

.logic-action {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em;

  $error-height: $grid-margin-4;

  &__actions {
    padding: 0.5em;
    padding-top: 3px;
    margin-right: 1em;
  }

  &__action {
    flex-grow: 1;
  }

  &--has-errors {
    > .actions {
      padding-top: $error-height;
    }

    .dsl-editor__node:not(.dsl-editor__node--errors) {
      padding-top: $error-height;
    }
  }

  &__errors {
    max-height: $error-height;
    margin: 0 !important;
    padding: 0 !important;
  }
}
