@use '../../lib/bem';
@use '../../lib/responsive';

$logic-line-breakpoint: 1800px !default;

$logic-trigger-border: solid 1px #eee;

.logic-trigger-container {
  padding: 1em;
  border-bottom: $logic-trigger-border;

  .logic-trigger {
    padding: 0;
    border-bottom: none;
  }

  @include bem.element('description') {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.logic-trigger {
  display: flex;
  padding: 1em;
  border-bottom: $logic-trigger-border;

  @include responsive.breakpoint($max: $logic-line-breakpoint) {
    flex-wrap: wrap;
  }

  &__editor {
    flex-grow: 1;
  }

  &__data-preview {
    min-width: 200px;
    @include responsive.breakpoint($min: $logic-line-breakpoint) {
      min-width: 400px;
    }
    max-width: 800px;
    padding-top: 7px;
    flex-grow: 0;
  }

  &__json-editor {
    flex-grow: 1;
  }

  &__error {
    color: var(--error-fg);
    padding-top: 0.5em;
  }
}
