.logic-logs {
  width: 100%;

  .logic-logs__col-header {
    .text {
      padding: 8px;
    }
  }

  &--variables {
    .logic-logs__col-header {
      &--name {
        width: 70%;
      }
    }
  }

  &--rules {
    .logic-logs__col-header {
      &--rule {
        width: 60%;
      }
      &--trigger {
        width: 10%;
      }
    }
    .logic-logs__row-body {
      &--hidden {
        display: none;
      }
    }
  }
}
