@use '../../lib/bem';

.plugin-config-react {
  @include bem.element('widget') {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding-block-end: 10px;
  }

  .plugins-module {
    &__module {
      margin-block-end: 0.5em;
      font-weight: bold;
    }
  }
}
