@import '../../vars';

.tiles {
  display: flex;

  &--horizontal {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .tiles__tile + .tiles__tile {
      margin-left: 40px;
    }
  }

  &__tile {
    background: $color-primary;
    border: solid 1px $color-primary;
    border-radius: 4px;
    color: $color-lightest;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%),
                0 6px 20px 0 rgb(0 0 0 / 20%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 140px;
    height: 140px;
  }

  &__separator {
    display: block;
    width: 50px;
    font-size: 2em;
    text-align: center;
  }
}
