name: Build the target Docker image

on:
  workflow_call:
    inputs:
      target-env:
        required: true
        type: string
        # choice is not available yet :(
        # type: choice
        # options:
        #   - production
        #   - extensions
      image-name:
        required: true
        type: string # image name without tag, e.g. 'openforms/open-forms'
      image-tag-prefix:
        required: true
        type: string
        default: ''
      version:
        required: true
        type: string
        default: ''
      git-hash:
        required: true
        type: string
        default: ''
      extensions:
        required: true
        type: string
        default: ''
    outputs:
      image-name:
        description: Image name + tag of the built image
        value: ${{ jobs.image_build.outputs.image-name }}
      artifact-name:
        description: Artifact name for the built image
        value: ${{ jobs.image_build.outputs.artifact-name }}

jobs:
  image_build:
    name: Build image
    runs-on: ubuntu-latest

    env:
      COMPOSE_DOCKER_CLI_BUILD: 1
      DOCKER_BUILDKIT: 1

    outputs:
      image-name: ${{ steps.build-args.outputs.image-name }}
      artifact-name: ${{ steps.build-args.outputs.artifact-name }}

    steps:
      - uses: actions/checkout@v4

      - name: Extract build args
        id: build-args
        run: |
          # Obtain the SDK release to bundle along, use latest if backend is also latest
          SDK_RELEASE=$(cat .sdk-release | tr -d '[:space:]')
          [ "${{ inputs.version }}" == "latest" ] && SDK_RELEASE=latest
          echo "sdk_release=${SDK_RELEASE}" >> $GITHUB_OUTPUT

          echo "image-name=${{ inputs.image-name }}:${{ inputs.image-tag-prefix }}${{ inputs.version }}" >> $GITHUB_OUTPUT
          echo "artifact-name=docker-image-${{ inputs.image-tag-prefix }}${{ inputs.version }}" >> $GITHUB_OUTPUT

      - name: Build the Docker image
        run: |
          docker build . \
            --tag ${{ steps.build-args.outputs.image-name }} \
            --build-arg TARGET_ENVIRONMENT=${{ inputs.target-env }} \
            --build-arg EXTENSIONS=${{ inputs.extensions }} \
            --build-arg SDK_RELEASE=${{ steps.build-args.outputs.sdk_release }} \
            --build-arg COMMIT_HASH=${{ inputs.git-hash }} \
            --build-arg RELEASE=${{ inputs.version }}

      - name: Dump image to file
        run: docker image save -o image.tar ${{ steps.build-args.outputs.image-name }}

      - name: Store image artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build-args.outputs.artifact-name }}
          path: image.tar
          retention-days: 1
