@import '~microscope-sass/lib/responsive';

/**
 * Override CSS to add responsive styles for a particular viewport.
 *
 * This uses custom Open Forms design tokens as an extension on existing utrecht-page-footer
 * design tokens for responsive viewport support. If the token is unset, we fall back to
 * the canonical, non-responsive design token.
 *
 * A CSS override is required since there doesn't appear to be a way to capture the
 * value of a design token to later use as fallback when overriding the design token
 * itself (with design token = custom css property here).
 */
@mixin add-responsive-styles($viewport) {
  $prefix: --of-utrecht-page-footer-#{$viewport};

  --_of-utrecht-page-footer-max-inline-size: var(
    #{$prefix}-max-inline-size,
    var(--of-utrecht-page-footer-max-inline-size)
  );

  padding-block-end: var(
    #{$prefix}-padding-block-end,
    var(--utrecht-page-footer-padding-block-end)
  );
  padding-block-start: var(
    #{$prefix}-padding-block-start,
    var(--utrecht-page-footer-padding-block-start)
  );
  padding-inline-end: var(
    #{$prefix}-padding-inline-end,
    var(--utrecht-page-footer-padding-inline-end)
  );
  padding-inline-start: var(
    #{$prefix}-padding-inline-start,
    var(--utrecht-page-footer-padding-inline-start)
  );
}

// Open Forms extensions - add opt-in support for responsive spacing.
.utrecht-page-footer {
  @include mobile-only {
    @include add-responsive-styles('mobile');
  }

  @include tablet {
    @include add-responsive-styles('tablet');
  }

  @include laptop {
    @include add-responsive-styles('laptop');
  }

  @include desktop {
    @include add-responsive-styles('desktop');
  }

  // Support setting a maximum width/inline-size for content in the footer. Note that
  // we target direct children here to be flexible enough in the future if we need to
  // flexbox-row more content (we can then add a wrapper div).
  > * {
    max-inline-size: var(--_of-utrecht-page-footer-max-inline-size);
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
}

// Style overrides specific for our own theme
.openforms-theme {
  .utrecht-page-footer {
    &__navigation {
      .utrecht-link-list {
        --utrecht-link-text-decoration: underline;
        --utrecht-link-hover-text-decoration: none;

        font-size: 1.125rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;

        @include mobile-only {
          flex-direction: column;
          gap: 0.2rem;
        }
      }
    }
  }
}
