/**
 * Style overrides for the utrecht-page component.
 */
.openforms-theme {
  .utrecht-page {
    // backwards compatibility
    // TODO: remove in Open Forms 3.0
    --utrecht-page-max-inline-size: 100%;
    --utrecht-page-background-color: var(
      --of-view-background,
      var(--of-layout-background, #e6e6e6)
    );

    margin-block-end: var(--of-utrecht-page-margin-block-end, 0);
    margin-block-start: var(--of-utrecht-page-margin-block-start, 0);

    // ensure the page content spans the entire height of the viewport
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;

    // can't use the bem modules because of the nested parent selector(s)
    > .utrecht-page__content {
      flex-grow: 1;
    }

    > .utrecht-page-header,
    > .page-footer {
      flex-shrink: 0;
    }
  }
}
